Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix missing currency symbol in TxModal (via AssetData)
  src/renderer/components/uielements/assets/assetData/AssetData.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Misc. (quick) UI fixes (#1588)
  src/renderer/components/header/HeaderMenu.style.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.style.tsx
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/Phrase.styles.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

0.3.6-alpha.2
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Extract `Client` settings
  src/renderer/components/header/network/HeaderNetworkSelector.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/components/wallet/settings/Settings.stories.tsx
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/serviceWorker.ts
  src/renderer/services/app/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract `Client` settings (#1592)
  src/renderer/components/header/network/HeaderNetworkSelector.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/components/wallet/settings/Settings.stories.tsx
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/serviceWorker.ts
  src/renderer/services/app/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move lang selector from header to settings
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderMenu.style.tsx
  src/renderer/components/header/lang/HeaderLang.stories.tsx
  src/renderer/components/header/lang/HeaderLang.tsx
  src/renderer/components/header/lang/index.ts
  src/renderer/components/header/price/HeaderPriceSelector.style.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move lang selector from header to settings (#1593)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderMenu.style.tsx
  src/renderer/components/header/lang/HeaderLang.stories.tsx
  src/renderer/components/header/lang/HeaderLang.tsx
  src/renderer/components/header/lang/index.ts
  src/renderer/components/header/price/HeaderPriceSelector.style.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move network selection from header to settings
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.style.tsx
  src/renderer/components/header/network/HeaderNetworkSelector.stories.tsx
  src/renderer/components/header/network/HeaderNetworkSelector.styles.ts
  src/renderer/components/header/network/HeaderNetworkSelector.tsx
  src/renderer/components/header/network/index.ts
  src/renderer/components/header/theme/HeaderTheme.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/contexts/AppContext.tsx
  src/renderer/hooks/useNetwork.ts
  src/renderer/services/app/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Tweak styles
  src/renderer/components/header/price/HeaderPriceSelector.style.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove internet status from settings
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move network selection from header to settings (#1598)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.style.tsx
  src/renderer/components/header/network/HeaderNetworkSelector.stories.tsx
  src/renderer/components/header/network/HeaderNetworkSelector.styles.ts
  src/renderer/components/header/network/HeaderNetworkSelector.tsx
  src/renderer/components/header/network/index.ts
  src/renderer/components/header/price/HeaderPriceSelector.style.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/header/theme/HeaderTheme.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.stories.tsx
  src/renderer/components/wallet/settings/ClientSettings.style.tsx
  src/renderer/components/wallet/settings/ClientSettings.tsx
  src/renderer/contexts/AppContext.tsx
  src/renderer/hooks/useNetwork.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/services/app/types.ts
  src/renderer/views/wallet/CllientSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Filter empty pools
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Icon overlaps label (ReloadButton)
  src/renderer/components/uielements/reloadButton/ReloadButton.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove `.only`
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: "[Pools] Hide empty pools in pending pool table" (#1600)
  src/renderer/components/uielements/reloadButton/ReloadButton.styles.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Fix ERC20 approve handling
  package.json
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/shared/loading/LoadingView.stories.tsx
  src/renderer/components/shared/loading/LoadingView.styles.ts
  src/renderer/components/shared/loading/LoadingView.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.style.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.style.ts
  src/renderer/components/uielements/assets/assetLabel/AssetLabel.style.tsx
  src/renderer/components/uielements/fees/Fees.styles.tsx
  src/renderer/components/uielements/table/Table.style.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.style.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/views/app/AppView.style.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare `v0.3.6`
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare `v0.3.6` (#1604)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update to latest `xchain-*` packages
  package.json
  src/renderer/components/wallet/txs/send/Send.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/litecoin/types.ts
  src/shared/api/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update deposit to handle approvement properly
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/shared/loading/LoadingView.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/DepositView.styles.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest xchain-eth@0.22.0
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

AssetCard: Show zero balances
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
Due: cross-env NODE_ENV=development eslint --cache

Deposit: Fix fee format / Swap: Fix styles
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.3.7
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

typo
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add console.error for errors of `new Clients`
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Revert upgrades `xchain-btc|bch|ltc`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Prepare v0.3.7 (#1606)
  CHANGELOG.md
  package.json
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG v0.3.7
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Bump xchain-eth@0.22.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Bump `v0.3.8`
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: "Prepare release v0.3.8" (#1610)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Refactor `ClientState` to be `RemoteData`
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Validate `flags` for BNB accounts
  src/renderer/services/binance/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Cache instance of `Client`
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated `hasClient` + fix tests
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Revert check of BNB account while importing
  src/renderer/services/binance/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor `ClientState` to be async (#1612)
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update state handling for importing keystores
  src/renderer/components/shared/loading/Spin.styles.ts
  src/renderer/components/shared/loading/index.ts
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/contexts/LitecoinContext.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useKeystoreClientStates.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
