Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Improve handling for loading fees
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve error handling for source chain fees
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Error handling for target chain fee
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix reload fees handling
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove SelectedInput state handling + fix decimal
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/fees/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update wallet.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Check outbound fees (#1367)
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Check min. amount to swap
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

[Send] Fix BTC address validation
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Send] Fix BTC address validation (#1371)
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Check min. amount to swap (#1370)
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Sym. deposit - update fee handling
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

SymDeposit: Finish improvements for fee handling
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/chain/types.ts
  src/renderer/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Swap: Few tweaks
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

More tweaks + clean up
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Feature/update fr translation (#1369)
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

[SymDeposit] Update fee handling (#1372)
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Min. values to deposit
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/hooks/usePricePools.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Min. values to deposit (#1374)
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/hooks/usePricePools.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Withdraw: Fix fee handling
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.stories.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/const.ts
  src/renderer/views/deposit/withdraw/AsymWithdrawView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Revert change of `DEFAULT_NETWORK`
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

test autoupdate
  package.json
  src/main/electron.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

tmp
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/menu/view.ts
  src/main/preload.ts
Due: cross-env NODE_ENV=development eslint --cache

added console.log
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

changed version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Prerequisites: Update allow latest release
  .github/ISSUE_TEMPLATE/1-Bug_report.md
Due: prettier --ignore-path .eslintignore --single-quote --write

log info and new version
  package.json
  src/main/electron.ts
  src/main/preload.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

test
  package.json
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

test
  src/main/electron.ts
  src/main/preload.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

v7
  package.json
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

v8
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prerequisites: Update allow latest release (#1379)
  .github/ISSUE_TEMPLATE/1-Bug_report.md
Due: prettier --ignore-path .eslintignore --single-quote --write

v9
  .electronbuildrc
  .github/workflows/test.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

v10
  .electronbuildrc
  package.json
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

v11
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

v12
  .github/workflows/build.yml
  .github/workflows/test.yml
  package.json
  src/main/api/appUpdate.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/preload.ts
  src/renderer/components/AppUpdate/AppUpdateModal.tsx
  src/renderer/components/AppUpdate/index.ts
  src/renderer/contexts/AppContext.tsx
  src/renderer/services/appUpdate/index.ts
  src/renderer/services/appUpdate/service.ts
  src/renderer/views/app/AppUpdateModalView.tsx
  src/renderer/views/app/AppView.tsx
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Get gas rates from `inbound_addresses`
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
