Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [ENV] Remove INFURA_PROJECT_SECRET
  .env.sample
Due: none

Get `walletType` accessible by routes
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/Send.hooks.ts
  src/renderer/components/wallet/txs/send/Send.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBCH.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix routes
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Disable deposit stuff (will be another PR)
  src/renderer/services/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Support MsgDeposit
  src/main/api/hdwallet.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/api/ledger/transaction.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/guard.test.ts
  src/shared/api/guard.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix style import path
  .storybook/preview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show label for ledger addresses
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.styles.ts
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add ledger label to AssetInfo
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.stories.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unnecessary check
  src/renderer/components/wallet/account/AccountSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

[AssetInfo] Add Ledger label (#1745)
  .storybook/preview.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.stories.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.styles.ts
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show `ledger` label in InteractView
  src/renderer/components/interact/Interact.stories.tsx
  src/renderer/components/interact/Interact.styles.tsx
  src/renderer/components/interact/Interact.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/services/const.ts
  src/renderer/views/wallet/Interact/InteractView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update non-breaking dependencies
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix style of submit button
  src/renderer/components/interact/forms/Forms.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update prettier
  .eslintrc
  .prettierrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Revert `DEFAULT_NETWORK` to `mainnet`
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Rename jsxBracketSameLine to bracketSameLine
  .prettierrc
Due: prettier --ignore-path .eslintignore --parser json --write

Update ledger related dependencies
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Show `ledger` label in `InteractView` + fix styles (#1750)
  src/renderer/components/interact/Interact.stories.tsx
  src/renderer/components/interact/Interact.styles.tsx
  src/renderer/components/interact/Interact.tsx
  src/renderer/components/interact/forms/Forms.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add io-ts for remote-data-ts
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update electron
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update ts-loader
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Revert ts-loader
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update typescript
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/thorchain.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
  src/shared/api/guard.test.ts
  src/shared/api/guard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add temporary generate types steps to actions
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove unnecessary step
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Update error message
  src/renderer/services/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Ignore pretter version
  .prettierrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Lastest `xchain-thorchain@0.19.0`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Make it work
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/wallet/assets/AssetDetails.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update dependencies
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Bump version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Update npm dependencies (09-10-2021) (#1749)
  .eslintrc
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/thorchain.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
  src/shared/api/guard.test.ts
  src/shared/api/guard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove drag component
  package.json
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/drag/Drag.styles.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/components/uielements/drag/index.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[Ledger] Support MsgDeposit txs (#1744)
  package.json
  src/main/api/hdwallet.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/api/ledger/transaction.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/guard.test.ts
  src/shared/api/guard.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Move `guard` module + add `is{xyz}Wallet` helpers
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/thorchain.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

typo
  src/shared/utils/guard.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove drag component (#1755)
  package.json
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/drag/Drag.styles.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/components/uielements/drag/index.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
