Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

[Send] Fix max balance for Ledger/BTC (#2078)
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix Haskoin 500 issue
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix Haskoin 500 issue (#2080)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Handle (confirmed) BTC balances the better way
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/doge/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/shared/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update misc. params
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Handle (confirmed) BTC balances the better way (#2082)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/doge/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/shared/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to xchain-tc@0.22.2
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Upgrade to xchain-tc@0.22.2 (#2083)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare 0.8.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG + rebase to latest develop
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix Ledger/BTC balances for Swap etc.
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix Ledger/BTC balances for Swap etc. (#2085)
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Try `windows-2022`
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Don't force rebuild of native deps
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Updgrade Electron, Node@16.13.0, bump 0.8.0-a6
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

electron-rebuild
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

windows-2019 + rimraf
  .github/workflows/build-win.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Bump 0.8.0-alpha.8
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Prepare 0.8.0 (#2071)
  .github/workflows/build-win.yml
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG for v0.8.0
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add feature list to README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update FL
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update FL p2
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Clean up
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add synths to wallet FL
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Clean up p2
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

ETH/ERC20
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Clean up p3
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix ETH
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update symbol of "not needed"
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Another clean up
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix typo / format
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update lib list
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add feature list to README (#2092)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Readme: Fix Upgrade feature
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Readme: Restore `Misc.` feature list
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

TxButton: Add button to copy tx hash
  src/renderer/components/uielements/button/ViewTxButton.stories.tsx
  src/renderer/components/uielements/button/ViewTxButton.styles.tsx
  src/renderer/components/uielements/button/ViewTxButton.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache
