Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update routes to new structure
  src/components/header/Header.tsx
  src/routes/pools.test.ts
  src/routes/pools.ts
  src/routes/stake.test.ts
  src/routes/stake.ts
  src/routes/swap.test.ts
  src/routes/swap.ts
  src/views/ViewRoutes.tsx
  src/views/pools/PoolsOverview.tsx
  src/views/pools/PoolsView.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/stake/StakeView.tsx
  src/views/swap/SwapHomeView.tsx
  src/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestion:
  src/routes/stake.ts
  src/routes/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update routes to new structure (#140)
  src/components/header/Header.tsx
  src/routes/pools.test.ts
  src/routes/pools.ts
  src/routes/stake.test.ts
  src/routes/stake.ts
  src/routes/swap.test.ts
  src/routes/swap.ts
  src/views/ViewRoutes.tsx
  src/views/pools/PoolsOverview.tsx
  src/views/pools/PoolsView.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/stake/StakeView.tsx
  src/views/swap/SwapHomeView.tsx
  src/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add tests for `token|colorHelpers`
  src/components/uielements/coins/dynamicCoin/DynamicCoin.tsx
  src/helpers/colorHelper.test.ts
  src/helpers/colorHelpers.ts
  src/helpers/tokenHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/helpers/tokenHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Better description
  src/helpers/colorHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Add tests for `token|colorHelpers` (#141)
  src/components/uielements/coins/dynamicCoin/DynamicCoin.tsx
  src/helpers/colorHelper.test.ts
  src/helpers/colorHelpers.ts
  src/helpers/tokenHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix expanded language dropdown (#118)
  src/components/header/HeaderLang.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing types
  package.json
  src/components/uielements/assets/assetInput/assetInput.stories.tsx
  src/components/uielements/assets/assetInput/assetInput.style.ts
  src/components/uielements/assets/assetInput/assetInput.tsx
  src/components/uielements/assets/assetInput/types.ts
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.stories.tsx
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.style.ts
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.test.tsx
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/helpers/stringHelper.test.ts
  src/helpers/stringHelper.ts
  src/setupTests.ts
  src/types/asgardex.d.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix assetInput import
  src/components/uielements/assets/assetInput/assetInput.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix eslint command for Windows
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

WIP: Add PoolShare component
  src/components/uielements/poolShare/PoolShare.stories.tsx
  src/components/uielements/poolShare/PoolShare.style.ts
  src/components/uielements/poolShare/PoolShare.tsx
  src/components/uielements/poolShare/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix language dropdown alignment (#142)
  package.json
  src/components/header/HeaderLang.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix memory leak caused by `useBreakpoint`
  src/components/header/Header.tsx
  src/components/header/HeaderLang.stories.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderSettings.stories.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.stories.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix memory leak caused by `useBreakpoint` (#145)
  src/components/header/Header.tsx
  src/components/header/HeaderLang.stories.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderSettings.stories.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.stories.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename files and use bn over tokenAmount
  src/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/components/uielements/assets/assetInput/AssetInput.style.ts
  src/components/uielements/assets/assetInput/AssetInput.tsx
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.stories.tsx
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.test.tsx
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix imports
  src/components/uielements/assets/assetInput/index.ts
  src/components/uielements/coins/coinInputAdvanced/index.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Import phrase
  .vscode/extensions.json
  package.json
  src/components/header/Header.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/header/HeaderSettings.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/contexts/WalletContext.tsx
  src/routes/wallet.ts
  src/views/wallet/ImportsView.tsx
  src/views/wallet/WalletSettingsScreen.tsx
  src/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add AssetInput component (#126)
  package.json
  src/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/components/uielements/assets/assetInput/AssetInput.style.ts
  src/components/uielements/assets/assetInput/AssetInput.tsx
  src/components/uielements/assets/assetInput/index.ts
  src/components/uielements/assets/assetInput/types.ts
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.stories.tsx
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.test.tsx
  src/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.tsx
  src/components/uielements/coins/coinInputAdvanced/index.ts
  src/helpers/stringHelper.test.ts
  src/helpers/stringHelper.ts
  src/setupTests.ts
  src/types/asgardex.d.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Introduce `WalletContext` + `wallet/service`
  src/App.tsx
  src/components/wallet/ImportPhrase.tsx
  src/contexts/WalletContext.tsx
  src/services/wallet/service.ts
  src/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated `delay`
  src/components/wallet/NewMnemonicGenerate.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest `asgardex-binance`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Import phrase (#146)
  .vscode/extensions.json
  package.json
  src/App.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/header/HeaderSettings.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/contexts/WalletContext.tsx
  src/routes/wallet.ts
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/views/wallet/ImportsView.tsx
  src/views/wallet/WalletSettingsScreen.tsx
  src/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add Coin component
  src/components/uielements/coins/coin/Coin.stories.tsx
  src/components/uielements/coins/coin/Coin.style.tsx
  src/components/uielements/coins/coin/Coin.tsx
  src/components/uielements/coins/coin/index.ts
  src/components/uielements/coins/coin/types.ts
  src/components/uielements/coins/coinPair/CoinPair.stories.tsx
  src/components/uielements/coins/coinPair/CoinPair.style.tsx
  src/components/uielements/coins/coinPair/CoinPair.tsx
  src/components/uielements/coins/coinPair/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Coin component (#150)
  src/components/uielements/coins/coin/Coin.stories.tsx
  src/components/uielements/coins/coin/Coin.style.tsx
  src/components/uielements/coins/coin/Coin.tsx
  src/components/uielements/coins/coin/index.ts
  src/components/uielements/coins/coin/types.ts
  src/components/uielements/coins/coinPair/CoinPair.stories.tsx
  src/components/uielements/coins/coinPair/CoinPair.style.tsx
  src/components/uielements/coins/coinPair/CoinPair.tsx
  src/components/uielements/coins/coinPair/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add new package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add Midgard types
  src/types/midgard.ts
Due: cross-env NODE_ENV=development eslint --cache

Add token helpers
  src/helpers/tokenHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Add PoolsOverview screen
  src/views/pools/PoolsOverview.style.ts
  src/views/pools/PoolsOverview.tsx
  src/views/pools/types.ts
  src/views/pools/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Move poolStatus to correct location
  src/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/components/uielements/poolStatus/PoolStatus.style.tsx
  src/components/uielements/poolStatus/PoolStatus.tsx
  src/components/uielements/poolStatus/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move PoolStatus to correct location (#152)
  src/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/components/uielements/poolStatus/PoolStatus.style.tsx
  src/components/uielements/poolStatus/PoolStatus.tsx
  src/components/uielements/poolStatus/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update PoolsOverview screen
  src/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update PoolsOverview
  src/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Lock / unlock wallet
  .storybook/preview.js
  src/assets/svg/icon-lock.svg
  src/assets/svg/icon-unlock.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/WalletManage.tsx
  src/contexts/WalletContext.tsx
  src/routes/types.ts
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/views/wallet/ImportsView.tsx
  src/views/wallet/LockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update yarn.lock
  yarn.lock
Due: none

Fix: Wallet can be locked in header only
  src/components/header/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Lock / unlock wallet (#154)
  .storybook/preview.js
  src/assets/svg/icon-lock.svg
  src/assets/svg/icon-unlock.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/WalletManage.tsx
  src/contexts/WalletContext.tsx
  src/routes/types.ts
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/views/wallet/ImportsView.tsx
  src/views/wallet/LockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve comments
  src/helpers/poolHelper.ts
  src/helpers/tokenHelpers.ts
  src/types/midgard.ts
  src/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve comments
  src/views/pools/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
