Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Setup Storybook (#61)
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Header.stories.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Enable theming for storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/contexts/ThemeContext.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Enable theming for storybook (#62)
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/contexts/ThemeContext.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Mnemonic confirmation view. Related to #27
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/NewMnemonicConfirm.tsx
  src/components/wallet/WalletCreate.tsx
Due: cross-env NODE_ENV=development eslint --cache

Minor code improvements
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Minor code improvement
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

code cleanup
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Simplify code
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

remove unused
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Imporve placeholder semantics
  src/components/wallet/NewMnemonicConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Initual receive funds screen & dependencies. Related to #40
  package.json
  src/routes/wallet.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Improve and simplify component state and code
  src/views/wallet/FundsReceiveScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Create wallet mnemonic confirmation (#63)
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/NewMnemonicConfirm.tsx
  src/components/wallet/WalletCreate.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update dependencies 14-05-20 (#59)
  package.json
  src/types/generated/midgard/.openapi-generator/VERSION
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Style tabs
  src/assets/svg/icon-stake.svg
  src/assets/svg/icon-swap.svg
  src/assets/svg/icon-telegram.svg
  src/assets/svg/icon-wallet.svg
  src/components/Footer.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Style theme swich icon
  src/assets/svg/icon-theme-switch.svg
  src/components/Header.style.tsx
  src/components/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add more extension
  .vscode/extensions.json
Due: prettier --ignore-path .eslintignore --parser json --write

Style tabs
  src/components/Header.style.tsx
  src/components/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Embed fonts + add GlobalStyles Continue ...
  .storybook/preview.js
  src/App.tsx
  src/Global.style.tsx
  src/assets/fonts/Exo2-Bold.otf
  src/assets/fonts/Exo2-Regular.otf
  src/assets/fonts/Exo2-SemiBold.otf
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/types/declarations.d.ts
Due: cross-env NODE_ENV=development eslint --cache

Style settings icon
  src/assets/svg/icon-settings.svg
  src/components/Header.style.tsx
  src/components/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: font-size
  src/components/Header.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Style network status
  src/App.tsx
  src/assets/svg/icon-down.svg
  src/components/header/Header.stories.tsx
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderNetStatus.story.tsx
  src/components/header/HeaderNetStatus.style.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/shared/Menu.tsx
  src/components/shared/icons/ConnectionStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Style lang
  src/components/header/Header.tsx
  src/components/header/HeaderLang.style.tsx
  src/components/header/HeaderLang.tsx
Due: cross-env NODE_ENV=development eslint --cache

Lock icon + improve styles
  src/assets/svg/icon-lock.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLang.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update storybooks
  src/components/header/HeaderLang.stories.tsx
  src/components/header/HeaderNetStatus.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Removew deprecates Header.stories
  .storybook/main.js
  .storybook/preview.js
  src/components/Header.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add UI select component
  src/components/wallet/AccountSelector.tsx
  src/views/wallet/FundsReceiveScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Style header (#60)
  .storybook/main.js
  .storybook/preview.js
  .vscode/extensions.json
  src/App.style.tsx
  src/App.tsx
  src/Global.style.tsx
  src/assets/fonts/Exo2-Bold.otf
  src/assets/fonts/Exo2-Regular.otf
  src/assets/fonts/Exo2-SemiBold.otf
  src/assets/svg/icon-down.svg
  src/assets/svg/icon-lock.svg
  src/assets/svg/icon-settings.svg
  src/assets/svg/icon-stake.svg
  src/assets/svg/icon-swap.svg
  src/assets/svg/icon-telegram.svg
  src/assets/svg/icon-theme-switch.svg
  src/assets/svg/icon-wallet.svg
  src/assets/svg/logo-asgardex.svg
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/components/header/Header.stories.tsx
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLang.stories.tsx
  src/components/header/HeaderLang.style.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderNetStatus.stories.tsx
  src/components/header/HeaderNetStatus.style.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/shared/Menu.tsx
  src/components/shared/icons/ConnectionStatus.tsx
  src/helpers/styleHelper.ts
  src/themes/dark.ts
  src/themes/default.ts
  src/themes/light.ts
  src/themes/types.ts
  src/types/declarations.d.ts
  src/views/View.style.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Minor code fixes
  src/components/wallet/AccountSelector.tsx
  src/views/wallet/FundsReceiveScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unused dependency
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Remove dependency from lockfile
  yarn.lock
Due: none

Issue 40/receive funds (#77)
  package.json
  src/components/wallet/AccountSelector.tsx
  src/routes/wallet.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add initial views, componenets, routes for funds sending
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/FundsSendScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Minor view changes
  src/views/wallet/FundsSendScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Add BinanceContext + BinanceService
  .env.sample
  .gitignore
  package.json
  src/contexts/BinanceContext.tsx
  src/services/binance.ts
  src/services/midgard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add initial views, componenets, routes for funds sending (#78)
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/FundsSendScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add label component & storybook
  src/components/uielements/label/index.ts
  src/components/uielements/label/label.stories.tsx
  src/components/uielements/label/label.style.ts
  src/components/uielements/label/label.tsx
  src/components/uielements/label/types.ts
Due: cross-env NODE_ENV=development eslint --cache
