Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Filter out mini tokens + load pool data in sequence (#310)
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deps (03-08-2020) (#309)
  .electronbuildrc
  .gitignore
  assets/icon.icns
  assets/icon.ico
  assets/icon.png
  assets/icons/1024x1024.png
  assets/icons/128x128.png
  assets/icons/16x16.png
  assets/icons/24x24.png
  assets/icons/256x256.png
  assets/icons/32x32.png
  assets/icons/48x48.png
  assets/icons/512x512.png
  assets/icons/64x64.png
  assets/icons/96x96.png
  package.json
  src/main/electron.ts
  src/main/menu/help.ts
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/services/const.ts
  tsconfig.main.json
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix icon path
  .electronbuildrc
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix routing at production build
  src/renderer/App.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

Fix lint warning: `_` is defined but not used
  src/renderer/helpers/binanceHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to Electron 9
  package.json
  src/main/electron.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add description how to run `e2e` tests
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix test
  src/renderer/services/wallet/service.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Downgrade to Node 12 to avoid using cache
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Disable cache
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Install libudev-dev libusb-1.0-0-dev
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Make eslint workflow happy
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

added swap; fixed drag and slider components
  src/renderer/components/swap/.gitkeep
  src/renderer/components/swap/CurrencyInfo/CurrencyInfo.styles.ts
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/components/swap/CurrencyInfo/index.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.style.ts
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.style.tsx
  src/renderer/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/components/uielements/slider/Slider.style.tsx
  src/renderer/components/uielements/slider/Slider.tsx
  src/renderer/routes/swap.test.ts
  src/renderer/routes/swap.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/swap/SwapView.styles.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Downgrade to Node `12.14.1`
  .nvmrc
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

added missed styles for swap
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/views/swap/SwapView.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

removed price info at AssetSelect in case there is no price
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
Due: cross-env NODE_ENV=development eslint --cache

added mnissed styles for account select
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.style.ts
Due: cross-env NODE_ENV=development eslint --cache

added translations for swap
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix GH link + hide playground icon
  .eslintrc
  craco.config.js
  src/renderer/App.tsx
  src/renderer/components/Footer.stories.tsx
  src/renderer/components/Footer.tsx
  src/renderer/types/declarations.d.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable story of `Send`
  src/renderer/components/wallet/Send.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix footer (#324)
  .eslintrc
  craco.config.js
  src/renderer/App.tsx
  src/renderer/components/Footer.stories.tsx
  src/renderer/components/Footer.tsx
  src/renderer/components/wallet/Send.stories.tsx
  src/renderer/types/declarations.d.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve "Rename `RUNE-A1F`->`RUNE-67C`" (#317)
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderPriceSelector.stories.tsx
  src/renderer/components/header/util.test.ts
  src/renderer/components/wallet/AssetsTable.stories.tsx
  src/renderer/const.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/wallet/service.test.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/pools/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Fix Electron packaging + Upgrade to Electron 9 (#318)
  .electronbuildrc
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  package.json
  src/main/electron.ts
  src/renderer/App.tsx
  src/renderer/helpers/binanceHelper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

fixed small review comments
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/routes/swap.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

moved getPoolDetailsHashMap to separate helper function
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed routes/swap.test
  src/renderer/routes/swap.test.ts
Due: cross-env NODE_ENV=development eslint --cache

added tests for getPoolDetailsHashMap
  src/renderer/services/midgard/utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

UI for swap screen (#307)
  src/renderer/components/swap/.gitkeep
  src/renderer/components/swap/CurrencyInfo/CurrencyInfo.styles.ts
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/components/swap/CurrencyInfo/index.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.style.ts
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.style.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.style.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
  src/renderer/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/components/uielements/slider/Slider.style.tsx
  src/renderer/components/uielements/slider/Slider.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/swap.test.ts
  src/renderer/routes/swap.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/swap/SwapView.styles.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored Wallet/Swap component to use transaction service as prop
  src/renderer/components/wallet/Send.stories.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored Wallet/Swap component to use transaction service as prop (#326)
  src/renderer/components/wallet/Send.stories.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added missed translations for send view
  src/renderer/components/wallet/Send.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added missed translations for send view (#327)
  src/renderer/components/wallet/Send.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add action button to error view
  src/renderer/components/shared/error/ErrorView.stories.tsx
  src/renderer/components/shared/error/ErrorView.style.ts
  src/renderer/components/shared/error/ErrorView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update pools overview to reload data after error
  src/renderer/i18n/de/common.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Update error handling
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `throwError` statements
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Some tweaks on byzantine$ stream
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Improve security of Electron app
  src/main/api/keystore.ts
  src/main/api/lang.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/preload.ts
  src/renderer/services/const.ts
  src/renderer/services/i18n/service.ts
  src/renderer/services/wallet/service.ts
  src/shared/api/types.ts
  src/shared/ipc/messages.ts
  webpack.main.js
Due: cross-env NODE_ENV=development eslint --cache
