Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Consider Mimirs pauselp
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/i18n/de/halt.ts
  src/renderer/i18n/en/halt.ts
  src/renderer/i18n/fr/halt.ts
  src/renderer/i18n/ru/halt.ts
  src/renderer/i18n/types.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.4.5
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Use intl `halt.chain.pausseall`
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Disable `Manage` button in wallet -> history
  src/renderer/components/PoolShares/PoolShares.tsx
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/renderer/i18n/de/halt.ts
Due: cross-env NODE_ENV=development eslint --cache

Cherry pick changes of 0.4.5 into develop (#1906)
  CHANGELOG.md
  package.json
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/i18n/de/halt.ts
  src/renderer/i18n/en/halt.ts
  src/renderer/i18n/fr/halt.ts
  src/renderer/i18n/ru/halt.ts
  src/renderer/i18n/types.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Make `walletIndex` required everywhere
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/send/Send.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/services/bitcoin/ledger.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/transfer.ts
  src/renderer/services/chain/transaction/withdraw.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBCH.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up (review findings)
  src/main/api/ledger/binance/transaction.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing walletIndex for thor deposit
  src/renderer/services/chain/transaction/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Handle `walletIndex` in `Interact` views|components
  src/main/api/ledger/thorchain/common.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v0.5.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Swap: Try to fix race condtion
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: [Ledger] walletIndex get lost
  src/main/api/ledger/address.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove debug output
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve handling to get target Ledger address (#1910)
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: [Ledger] walletIndex get lost (#1909)
  CHANGELOG.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Another try to fix ledger target address issue
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Bump 0.5.0-alpha1 - for debugging only
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Another try to fix ledger target address issue
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix walletIndex validation
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix walletIndex saving state
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: No need of `ledgerAddresses`
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [WalletSettings] `walletIndexMap` resets walletIndex to `0` (#1913)
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Revert change for value of `WalletIndexInput`
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix target address handling
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/CheckButton.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix target address handling (#1918)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/CheckButton.tsx
Due: cross-env NODE_ENV=development eslint --cache

sync mode for broadcasting txs
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use sync mode for broadcasting TC txs (#1919)
  CHANGELOG.md
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.5.0 (#1907)
  CHANGELOG.md
  package.json
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add custom date formatting to PoolActionsHistory
  src/renderer/components/poolActionsHistory/PoolActionsHistory.helper.tsx
Due: cross-env NODE_ENV=development eslint --cache

Enable usage in other places
  src/renderer/components/poolActionsHistory/PoolActionsHistory.helper.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
Due: cross-env NODE_ENV=development eslint --cache
