Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Generate types
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/TotalVolChanges.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Update services to get pool data
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "Update PoolsOverview using latest Midgard" (#371)
  src/renderer/services/midgard/service.ts
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/TotalVolChanges.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Update types
  src/renderer/helpers/rx/fromPromise.test.ts
  src/renderer/helpers/rx/fromPromise.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Types of `fromPromise.test.ts` (#372)
  src/renderer/helpers/rx/fromPromise.test.ts
  src/renderer/helpers/rx/fromPromise.ts
Due: cross-env NODE_ENV=development eslint --cache

Bump `0.0.3-alpha`
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Test run of macOS only
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

actions/upload-artifact@v2
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Don't remove files in `release`
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Enable build for Linux + Windows
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Revert target to master
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix release build (#374)
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Few fee types
  src/renderer/services/binance/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Helper `getTransferFees` incl. tests
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Service: Load + filter fees
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `transerFee$` to BinanceContext
  src/renderer/contexts/BinanceContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Provide `transferFees` in views
  src/renderer/components/wallet/AssetDetails.stories.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Cosmetic
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest changes of `@thorchain/asgardex-binance`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Address review suggestions
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Load fees (#375)
  package.json
  src/renderer/components/wallet/AssetDetails.stories.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add `isBinanceChain` helper
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Send: Consider fees
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/hooks/useSingleTxFee.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/SendView.tsx
  src/shared/mock/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

Improve `bnbAmount` function
  src/renderer/components/wallet/txs/SendForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix AssetDetails.stories
  src/renderer/components/wallet/AssetDetails.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix types in `useSingleTxFee`
  src/renderer/hooks/useSingleTxFee.ts
Due: cross-env NODE_ENV=development eslint --cache

toBeLeft
  src/setupTests.ts
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestions
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/hooks/useSingleTxFee.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

useSingleFee -> useSingleTxFee
  src/renderer/hooks/useSingleTxFee.ts
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Missing renaming in SendView (`useSingleTxFee`)
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Send: Consider fee (#376)
  src/renderer/components/wallet/AssetDetails.stories.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/hooks/useSingleTxFee.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/SendView.tsx
  src/setupTests.ts
  src/shared/mock/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Freeze/Unfreeze: Consider fees
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/views/wallet/FeezeView.tsx
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `freezeAmountValidator` + consider fees
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/utils.ts
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/const.ts
  src/renderer/helpers/fpHelpers.ts
  src/renderer/services/binance/swap.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/swap/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styled for disable state
  src/renderer/components/uielements/button/button.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Add common validator helper
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
  src/renderer/helpers/form/validation.test.ts
  src/renderer/helpers/form/validation.ts
Due: cross-env NODE_ENV=development eslint --cache

Update validation for using latest helpers
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
Due: cross-env NODE_ENV=development eslint --cache
