Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

added password confirmation modal. moved password confirmation to the separate view
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/wallet/common.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/ConfirmPassrword/ConfirmPassrwordView.tsx
  src/renderer/views/wallet/ConfirmPassrword/index.ts
Due: cross-env NODE_ENV=development eslint --cache

code clean up
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

added translations for password confirmation
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed missed colors at the password confirmation modal
  src/renderer/components/modal/private/PrivateModal.style.tsx
  src/renderer/components/modal/private/PrivateModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed custom AssetWithbalance type (#594)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

added missed translations
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed typo at ConfirmPasswordView file names
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/ConfirmPassrword/index.ts
  src/renderer/views/wallet/ConfirmPassword/ConfirmPasswordView.tsx
  src/renderer/views/wallet/ConfirmPassword/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Swap: Password confirmation needed #571 (#595)
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.style.tsx
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/common.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/ConfirmPassword/ConfirmPasswordView.tsx
  src/renderer/views/wallet/ConfirmPassword/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor `AssetTx` -> `Tx`
  src/renderer/components/stake/add/AddStake.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/table/TxsTable.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoin/utils.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor `AssetTx` -> `Tx` (#596)
  src/renderer/components/stake/add/AddStake.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/table/TxsTable.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoin/utils.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed assets passing at the withdraws drag
  src/renderer/components/stake/withdraw/Withdraw.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add pagination to BTC history
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix BNC tx history
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

removed assets passing at the withdraws drag (#597)
  src/renderer/components/stake/withdraw/Withdraw.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add pagination for BTC tx history (#598)
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Reset tx history page
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

updated common deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

added noFallthroughCasesInSwitch flag
  tsconfig.json
Due: prettier --ignore-path .eslintignore --parser json --write

fixed migration issues
  src/renderer/components/shared/error/ErrorView.style.ts
  src/renderer/components/shared/form/Form.style.tsx
  src/renderer/components/shared/success/SuccessView.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove duplication by combine streams
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/clients/client.ts
  src/renderer/services/clients/index.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Revert "updated common deps"
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Remove `getClientByChain$`
  src/renderer/services/clients/client.ts
  src/renderer/services/clients/index.ts
Due: cross-env NODE_ENV=development eslint --cache

updated typings packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated fp-ts deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Disable ETH temporary
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

(Quick) fix for style of settings headline
  src/renderer/components/wallet/settings/Settings.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Reset tx history page (#608)
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Disable ETH temporary (#609)
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

updated react-intl
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fixed duplicated versions and updated rxjs
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated nodemon
  yarn.lock
Due: none

updated prettier
  yarn.lock
Due: none

upgraded @ant-design/icons; removed duplicated babel/runtime packages
  yarn.lock
Due: none

upgraded antd version; decreased lodash duplicated deps
  yarn.lock
Due: none

removed duplicated @types/lodash deps
  yarn.lock
Due: none

updated bignumber deps
  yarn.lock
Due: none

upgrade ethers
  yarn.lock
Due: none

upgrade observable-hooks
  yarn.lock
Due: none

upgrade concurrently; removed duplicated tslib deps
  yarn.lock
Due: none

upgrade styled-components; removed duplications for:
  yarn.lock
Due: none
