Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Persistent thornode (api|rpc) urls
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/mock/api.ts
  src/shared/thorchain/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix `setThornodeApiUrl` to update `thornodeApi`
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Persistent thornode (api|rpc) urls (#2409)
  CHANGELOG.md
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/mock/api.ts
  src/shared/thorchain/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.18.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.18.2 (#2411)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update erc20 whitelist based on latest tn@1.97.2
  package.json
  scripts/generateERC20Whitelist.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

CHANGELOG + updated script
  CHANGELOG.md
  scripts/generateERC20Whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update ERC20 whitelist based on latest thornode@1.97.2 (#2414)
  CHANGELOG.md
  package.json
  scripts/generateERC20Whitelist.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Get outbound fees from inbound_addresses
  CHANGELOG.md
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove inboundAssetFeeByChain$
  CHANGELOG.md
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Clean up
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Get outbound fees from inbound_addresses (#2415)
  CHANGELOG.md
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix generated thornode types
  src/renderer/types/generated/thornode/apis/NetworkApi.ts
  src/renderer/types/generated/thornode/apis/TSSApi.ts
  src/renderer/types/generated/thornode/apis/ThornamesApi.ts
  src/renderer/types/generated/thornode/models/InboundAddress.ts
  src/renderer/types/generated/thornode/models/KeygenMetric.ts
  src/renderer/types/generated/thornode/models/NodeKeygenMetric.ts
  src/renderer/types/generated/thornode/models/Thorname.ts
  src/renderer/types/generated/thornode/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Move handling of `inbound_addresses` (part 1)
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Use `lastblock` state for Midgard status
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Deprecated `inbound_addresses` in Midgard
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Type `useThorchainClientUrl` properly
  src/renderer/hooks/useThorchainClientUrl.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Move handling of `InboundAddresses` from Midgard to THORNode (#2416)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thornode/apis/NetworkApi.ts
  src/renderer/types/generated/thornode/apis/TSSApi.ts
  src/renderer/types/generated/thornode/apis/ThornamesApi.ts
  src/renderer/types/generated/thornode/models/InboundAddress.ts
  src/renderer/types/generated/thornode/models/KeygenMetric.ts
  src/renderer/types/generated/thornode/models/NodeKeygenMetric.ts
  src/renderer/types/generated/thornode/models/Thorname.ts
  src/renderer/types/generated/thornode/models/index.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move handling of Constants from Midgard to TN
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Move handling of Constants from Midgard to TN (#2418)
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Move handling of LastBlock from Midgard to TN
  src/renderer/components/header/Header.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Move handling of LastBlock from Midgard to TN (#2419)
  src/renderer/components/header/Header.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: [Swap] Improve UX
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.styles.ts
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.types.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelectButton.tsx
  src/renderer/components/uielements/assets/assetSelect/index.ts
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.styles.ts
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/uielements/fees/Fees.types.ts
  src/renderer/components/uielements/fees/SwapFees.stories.tsx
  src/renderer/components/uielements/fees/SwapFees.tsx
  src/renderer/components/uielements/input/Input.tsx
  src/renderer/components/uielements/input/Input.types.ts
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Make {source|target}Assets required for Swap comp.
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Continue on improving swap ui
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectButton.tsx
  src/renderer/components/uielements/button/CheckButton.styles.tsx
  src/renderer/components/uielements/button/CheckButton.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/wallet/txs/interact/Interact.styles.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/index.css
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Swap: Price input / output amount
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/input/Input.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Swap details
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.types.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/uielements/info/InfoIcon.styles.ts
  src/renderer/components/uielements/info/InfoIcon.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/helpers/stringHelper.ts
  src/renderer/hooks/useWalletBalance.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to heroicons@2.x
  package.json
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/settings/EditableUrl.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Upgrade to heroicons@2.x (#2425)
  package.json
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/settings/EditableUrl.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

SelectableSlipTolerance, slippage details,
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/currency/index.ts
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/swap/SelectableSlipTolerance.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Get rid of {SwapView|Swap}.styles
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/tabs/Tabs.styles.tsx
  src/renderer/views/swap/SwapView.styles.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Toggle details
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: AssetSelect2
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
  src/renderer/index.css
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
