Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Subscribe to `miniTickers` as first WS example
  src/App.tsx
  src/contexts/BinanceContext.tsx
  src/services/binance.ts
  src/views/swap/SwapHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Table Component
  src/components/uielements/table/data.ts
  src/components/uielements/table/index.ts
  src/components/uielements/table/table.stories.tsx
  src/components/uielements/table/table.style.ts
  src/components/uielements/table/table.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix types and story
  src/components/uielements/label/label.stories.tsx
  src/components/uielements/label/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix types
  src/assets/svg/telegram.svg
  src/components/uielements/assets/assetIcon/assetIcon.style.ts
  src/components/uielements/assets/assetIcon/assetIcon.tsx
  src/components/uielements/assets/dynamicAsset/dynamicAsset.style.ts
  src/components/uielements/assets/dynamicAsset/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix import in the style
  src/components/uielements/label/label.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix types in the style props
  src/components/uielements/label/label.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Add label component & storybook (#80)
  src/components/uielements/label/index.ts
  src/components/uielements/label/label.stories.tsx
  src/components/uielements/label/label.style.ts
  src/components/uielements/label/label.tsx
  src/components/uielements/label/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Table Component (#82)
  src/components/uielements/table/data.ts
  src/components/uielements/table/index.ts
  src/components/uielements/table/table.stories.tsx
  src/components/uielements/table/table.style.ts
  src/components/uielements/table/table.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix types in the style
  src/components/uielements/assets/assetIcon/assetIcon.style.ts
  src/components/uielements/assets/dynamicAsset/dynamicAsset.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Example for subscribing transfers of an account
  src/contexts/BinanceContext.tsx
  src/services/binance.ts
  src/views/stake/StakeHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Trend component
  src/components/uielements/trend/index.ts
  src/components/uielements/trend/trend.stories.tsx
  src/components/uielements/trend/trend.style.ts
  src/components/uielements/trend/trend.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add assetPair component
  src/components/uielements/assets/assetIcon/assetIcon.tsx
  src/components/uielements/assets/assetPair/assetPair.stories.tsx
  src/components/uielements/assets/assetPair/assetPair.style.ts
  src/components/uielements/assets/assetPair/assetPair.tsx
  src/components/uielements/assets/assetPair/index.ts
  src/components/uielements/assets/assetPair/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Trend component (#83)
  src/components/uielements/trend/index.ts
  src/components/uielements/trend/trend.stories.tsx
  src/components/uielements/trend/trend.style.ts
  src/components/uielements/trend/trend.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Button component and fix issues in the label
  src/components/uielements/button/button.stories.tsx
  src/components/uielements/button/button.style.ts
  src/components/uielements/button/button.tsx
  src/components/uielements/button/index.ts
  src/components/uielements/button/types.ts
  src/components/uielements/label/label.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Button component and fix issues in the label (#86)
  src/components/uielements/button/button.stories.tsx
  src/components/uielements/button/button.style.ts
  src/components/uielements/button/button.tsx
  src/components/uielements/button/index.ts
  src/components/uielements/button/types.ts
  src/components/uielements/label/label.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add assetPair component (#85)
  src/components/uielements/assets/assetIcon/assetIcon.tsx
  src/components/uielements/assets/assetPair/assetPair.stories.tsx
  src/components/uielements/assets/assetPair/assetPair.style.ts
  src/components/uielements/assets/assetPair/assetPair.tsx
  src/components/uielements/assets/assetPair/index.ts
  src/components/uielements/assets/assetPair/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce PlaygroundView for demonstrating things
  src/components/Footer.tsx
  src/components/header/Header.tsx
  src/routes/playground.ts
  src/services/binance.ts
  src/views/ViewRoutes.tsx
  src/views/playground/PlaygroundView.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/swap/SwapHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add initial keystore, and datastore
  package.json
  src/components/wallet/forms/ImportMnemonicForm.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add initial blockchain data methods for view
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Code cleanup
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unused
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add client/network data mockup interface/methods to account component
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add create new wallet from mnemonic methods and related views for components, and add account data to initial view.
  package.json
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/NewMnemonicConfirm.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Node 13
  .nvmrc
Due: none

Install latest `asgardex-binance` from repo
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add ENV chapter to README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove deprecated info about ENV's
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Code cleanup
  src/components/wallet/WalletManage.tsx
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add BinanceContext + BinanceService (#79)
  .env.sample
  .gitignore
  .nvmrc
  README.md
  package.json
  src/App.tsx
  src/components/Footer.tsx
  src/components/header/Header.tsx
  src/contexts/BinanceContext.tsx
  src/routes/playground.ts
  src/services/binance.ts
  src/services/midgard.ts
  src/views/ViewRoutes.tsx
  src/views/playground/PlaygroundView.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/swap/SwapHomeView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Minor code fix
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Feature/addkeys accountdata (#88)
  package.json
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/NewMnemonicConfirm.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletSettingsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Install `asgardex-binance` from branch
  package.json
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update ESLint rule
  .eslintrc
Due: prettier --ignore-path .eslintignore --parser json --write

Install `asgardex-binance` from branch `fix/build-packages` (#106)
  package.json
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Another try to fix builds by using latest
  .github/workflows/build.yml
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Don't treat warnings as errors
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Remove `cross-env` temporary
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write
