Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Fix import
  src/renderer/services/chain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare sending sym/asym deposit transactions (#567)
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/stake/add/AddStake.stories.tsx
  src/renderer/components/stake/add/AddStake.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/fees.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/asset.ts
  src/renderer/services/chain/context.ts
  src/renderer/services/chain/fees/stake.ts
  src/renderer/services/chain/memo.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/stake/add/AddStakeView.tsx
  src/renderer/views/stake/withdraw/WithdrawStakeView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Mooore updates for using `xchain-btc`
  package.json
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/fees.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendViewBTC.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Finalize xchain-btc implementation
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoin/utils.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add needed data for Blockchair API
  .env.sample
  src/renderer/services/bitcoin/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix nested array of balances
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix BTC send tx view + fix explorer tx handling
  src/renderer/components/wallet/txs/send/Send.stories.tsx
  src/renderer/components/wallet/txs/send/Send.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix + simplify handling of explorerTxUrl
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/context.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Just a note
  src/renderer/services/chain/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest xchain-bitcoin|client
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated xchain-* clients; code clean up
  package.json
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/send/SendViewBNB.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

updated xcain-binance package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update xchain dependencies
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add review suggestion
  src/renderer/i18n/ru/wallet.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Node 14
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
Due: prettier --ignore-path .eslintignore --single-quote --write

reverted useless changes
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Switch to `@xchainjs/xchain-binance` (#583)
  package.json
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Revert upgrade to Node 14 - back to Node 12
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
Due: prettier --ignore-path .eslintignore --single-quote --write

NODE_OPTIONS: --max-old-space-size=4096
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

NODE_OPTIONS: --max-old-space-size=4096 (#588)
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Increase `max-old-space-size` for build actions
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Increase `max-old-space-size` for build actions (#589)
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

removed left thorchain-binance usages
  package.json
  src/renderer/components/wallet/txs/receive/Receive.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/utils.test.ts
  src/renderer/views/playground/PlaygroundView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove usage of '@thorchain/asgardex-binance' #587
  package.json
  src/renderer/components/wallet/txs/receive/Receive.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/utils.test.ts
  src/renderer/views/playground/PlaygroundView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Revert change to use `getExplorerUrl$`
  package.json
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove deprecated `getExplorerTxUrl$` from chain context
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/context.ts
  src/renderer/services/chain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Use `REACT_APP_BLOCKCHAIR_API_KEY` from GH secrets
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Use latest xchain-btc@0.4.3
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Revert back to Node 12 (was missing before)
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove log statements
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce `xchain-bitcoin` (#581)
  .env.sample
  .github/workflows/build.yml
  .github/workflows/test.yml
  package.json
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/send/Send.stories.tsx
  src/renderer/components/wallet/txs/send/Send.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/context.ts
  src/renderer/services/bitcoin/fees.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoin/utils.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/context.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove option to freeze / unfreeze RUNE
  package.json
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/txs/freeze/Freeze.stories.tsx
  src/renderer/components/wallet/txs/freeze/Freeze.tsx
  src/renderer/components/wallet/txs/freeze/FreezeForm.tsx
  src/renderer/components/wallet/txs/freeze/index.ts
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.test.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/FreezeView.tsx
  src/renderer/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove i18n for `shouldBeLessThanFrozenBalance`
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added placeholders to the drag component
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
Due: cross-env NODE_ENV=development eslint --cache

added placeholders to the drag component (#593)
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored getWalletBalances at binance/utils
  src/renderer/services/binance/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove implementation to freeze / unfreeze RUNE (#592)
  package.json
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/txs/freeze/Freeze.stories.tsx
  src/renderer/components/wallet/txs/freeze/Freeze.tsx
  src/renderer/components/wallet/txs/freeze/FreezeForm.tsx
  src/renderer/components/wallet/txs/freeze/index.ts
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.test.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/FreezeView.tsx
  src/renderer/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

removed custom AssetWithbalance type
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP tmp commit
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/wallet/common.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache
