Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Fix `sequence` check for Ledger THOR accounts (#2165)
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

[BCH] Fix Ledger inputs
  src/main/api/ledger/bitcoincash/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

[BCH] Fix Ledger inputs (#2166)
  src/main/api/ledger/bitcoincash/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.12.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.12.2 (#2168)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add more slippage options
  src/renderer/types/asgardex.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Shares] Show asym shares in list
  CHANGELOG.md
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/PoolShares/PoolShares.types.ts
  src/renderer/components/manageButton/ManageButton.tsx
  src/renderer/i18n/de/poolshares.ts
  src/renderer/i18n/en/poolshares.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/views/wallet/PoolShareView.helper.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update reload + clean up
  src/renderer/services/midgard/shares.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Shares] Show asym shares in list (#2174)
  CHANGELOG.md
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/PoolShares/PoolShares.types.ts
  src/renderer/components/manageButton/ManageButton.tsx
  src/renderer/i18n/de/poolshares.ts
  src/renderer/i18n/en/poolshares.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/views/wallet/PoolShareView.helper.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add more slippage options (#2170)
  src/renderer/types/asgardex.ts
Due: cross-env NODE_ENV=development eslint --cache

Update default slip tolerance to 1%
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update default slip tolerance to 1% (#2175)
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: [Bonds] Removing a node from list breaks
  CHANGELOG.md
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/ru/bonds.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Clean up
  src/renderer/components/Bonds/table/BondsTable.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Removing a node from list breaks the app (#2176)
  CHANGELOG.md
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/ru/bonds.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Wallet] Show total balance
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/assets/AssetsTotalBalances.styles.ts
  src/renderer/components/wallet/assets/AssetsTotalBalances.tsx
  src/renderer/components/wallet/assets/index.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useWalletBalance.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix tests
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/hooks/useWalletBalance.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Wallet] Show total balance (#2178)
  CHANGELOG.md
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/assets/AssetsTotalBalances.styles.ts
  src/renderer/components/wallet/assets/AssetsTotalBalances.tsx
  src/renderer/components/wallet/assets/index.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useWalletBalance.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: Range of slip tolerance
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: 0.5% is not accepted
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: Range of slip tolerance (#2180)
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Tweak Swap/Deposit layout
  src/renderer/components/deposit/Deposit.styles.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/deposit/DepositView.styles.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/swap/SwapView.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles for `Tabs` + `Menu`
  CHANGELOG.md
  src/renderer/components/tabs/Tabs.styles.tsx
  src/renderer/components/tabs/Tabs.tsx
  src/renderer/components/wallet/assets/AssetsNav.styles.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix :hover for disabled tabs
  src/renderer/components/tabs/Tabs.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Tweak layout of `Swap` / `Deposit` (#2181)
  CHANGELOG.md
  src/renderer/components/deposit/Deposit.styles.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/tabs/Tabs.styles.tsx
  src/renderer/components/tabs/Tabs.tsx
  src/renderer/components/wallet/assets/AssetsNav.styles.ts
  src/renderer/views/deposit/DepositView.styles.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/swap/SwapView.styles.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix link to thoryield
  CHANGELOG.md
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix link to thoryield (#2183)
  CHANGELOG.md
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Check/show protocol limit, show incentive pendulum
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/pool/FundsCap.stories.tsx
  src/renderer/components/pool/FundsCap.styles.ts
  src/renderer/components/pool/FundsCap.tsx
  src/renderer/components/pool/IncentivePendulum.styles.ts
  src/renderer/components/pool/IncentivePendulum.tsx
  src/renderer/components/pool/ProtocolLimit.styles.ts
  src/renderer/components/pool/ProtocolLimit.tsx
  src/renderer/components/pool/index.ts
  src/renderer/components/uielements/alert/AlertIcon.styles.ts
  src/renderer/components/uielements/alert/index.tsx
  src/renderer/hooks/useFundsCap.ts
  src/renderer/hooks/useIncentivePendulum.test.ts
  src/renderer/hooks/useIncentivePendulum.ts
  src/renderer/hooks/useProtocolLimit.test.ts
  src/renderer/hooks/useProtocolLimit.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

typo + CHANGELOG
  CHANGELOG.md
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Check/show protocol limit, show incentive pendulum (#2185)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/pool/FundsCap.stories.tsx
  src/renderer/components/pool/FundsCap.styles.ts
  src/renderer/components/pool/FundsCap.tsx
  src/renderer/components/pool/IncentivePendulum.styles.ts
  src/renderer/components/pool/IncentivePendulum.tsx
  src/renderer/components/pool/ProtocolLimit.styles.ts
  src/renderer/components/pool/ProtocolLimit.tsx
  src/renderer/components/pool/index.ts
  src/renderer/components/uielements/alert/AlertIcon.styles.ts
  src/renderer/components/uielements/alert/index.tsx
  src/renderer/hooks/useFundsCap.ts
  src/renderer/hooks/useIncentivePendulum.test.ts
  src/renderer/hooks/useIncentivePendulum.ts
  src/renderer/hooks/useProtocolLimit.test.ts
  src/renderer/hooks/useProtocolLimit.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Total share
  CHANGELOG.md
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/wallet/assets/TotalValue.styles.ts
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/components/wallet/assets/index.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/PoolShareView.helper.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Total share (#2187)
  CHANGELOG.md
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/wallet/assets/TotalValue.styles.ts
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/components/wallet/assets/index.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/PoolShareView.helper.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.12.3
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.12.3 (#2188)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[History] Fix viewblock url parameters
  CHANGELOG.md
  src/renderer/hooks/useOpenAddressUrl.ts
  src/renderer/services/clients/types.ts
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[History] Fix viewblock url parameters (#2189)
  CHANGELOG.md
  src/renderer/hooks/useOpenAddressUrl.ts
  src/renderer/services/clients/types.ts
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

WIP: TerraClient
  package.json
  src/renderer/services/terra/common.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Latest xchain-terra@0.1.0-alpha.4
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Error if chainId could not loaded for Terra
  src/renderer/services/terra/common.ts
Due: cross-env NODE_ENV=development eslint --cache
