Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

More clean up
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/button/CheckButton.tsx
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [ADD] Update shares for Ledger (#1942)
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/button/CheckButton.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Moore tests for `eq` helpers
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/test/testWalletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Test latest eq helpers (#1943)
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/test/testWalletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix misc. styles
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/uielements/info/InfoIcon.styles.ts
  src/renderer/components/uielements/info/InfoIcon.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix Tooltip styles (#1944)
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/uielements/info/InfoIcon.styles.ts
  src/renderer/components/uielements/info/InfoIcon.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix swap limit to be 1e8 based
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove only
  src/renderer/components/swap/Swap.utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix swap limit to be 1e8 based (#1947)
  CHANGELOG.md
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Check asset mismatch for sym. LPs
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/hooks/useLiquidityProviders.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Check asset mismatch for sym. deposits (#1948)
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/hooks/useLiquidityProviders.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Enable zip artifacts
  .electronbuildrc
  src/main/api/appUpdate.ts
Due: cross-env NODE_ENV=development eslint --cache

Bump version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Fix GitHub release link
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Ease up debugging
  src/main/api/appUpdate.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix GitHub release link (#1953)
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Enable zip packaging
  .electronbuildrc
Due: none

Enable release zip packaging for macOS (#1954)
  .electronbuildrc
Due: none

Show asset icon in `TxDetail`
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/uielements/containerWithDelimeter/ContainerWithDelimeter.styles.ts
  src/renderer/components/uielements/containerWithDelimeter/index.ts
  src/renderer/components/uielements/txDetail/TxDetail.stories.tsx
  src/renderer/components/uielements/txDetail/TxDetail.styles.ts
  src/renderer/components/uielements/txDetail/TxDetail.tsx
  src/renderer/components/uielements/txDetail/types.ts
  src/renderer/components/uielements/txType/TxType.stories.tsx
  src/renderer/components/uielements/txType/TxType.tsx
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/uielements/txDetail/TxDetail.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Show asset icon in `TxDetail` (#1955)
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/uielements/containerWithDelimeter/ContainerWithDelimeter.styles.ts
  src/renderer/components/uielements/containerWithDelimeter/index.ts
  src/renderer/components/uielements/txDetail/TxDetail.stories.tsx
  src/renderer/components/uielements/txDetail/TxDetail.styles.ts
  src/renderer/components/uielements/txDetail/TxDetail.tsx
  src/renderer/components/uielements/txDetail/types.ts
  src/renderer/components/uielements/txType/TxType.stories.tsx
  src/renderer/components/uielements/txType/TxType.tsx
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update UI for asset missmatch
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.stories.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.styles.ts
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.tsx
  src/renderer/components/uielements/addressEllipsis/index.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.stories.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.styles.ts
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.tsx
  src/renderer/components/uielements/assets/assetAddress/index.tsx
  src/renderer/components/uielements/assets/assetIcon/index.ts
  src/renderer/components/uielements/label/index.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/types/asgardex.ts
  src/shared/mock/address.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Another clean up
  src/renderer/components/deposit/add/AssetMissmatchWarning.stories.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing change
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Deposit] Add UI for asset mismatch (#1956)
  CHANGELOG.md
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.stories.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.styles.ts
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.tsx
  src/renderer/components/uielements/addressEllipsis/index.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.stories.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.styles.ts
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.tsx
  src/renderer/components/uielements/assets/assetAddress/index.tsx
  src/renderer/components/uielements/assets/assetIcon/index.ts
  src/renderer/components/uielements/label/index.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/types/asgardex.ts
  src/shared/mock/address.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Show ledger | keystore addresses in tooltips
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.styles.ts
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show ledger | keystore addresses in tooltips (#1959)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.styles.ts
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Re-generate whitelist
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache

Embed TGT icon
  src/renderer/assets/png/tgt_logo.png
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Rename png file
  src/renderer/assets/png/asset-tgt.png
Due: none

Resolve: Whitelist TGT token (#1961)
  src/renderer/assets/png/asset-tgt.png
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache

Reset user inputs while changing wallet type
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Add] Reset user inputs while changing wallet type (#1962)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update UI to show wallet type + wallet addresses
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
