Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Clean up
  src/main/api/ledger/transaction.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/chainHelper.ts
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

- RU translation for deposit.ts
  src/renderer/i18n/ru/common.ts
Due: cross-env NODE_ENV=development eslint --cache

RU translation for deposit.ts (#2531)
  src/renderer/i18n/ru/common.ts
Due: cross-env NODE_ENV=development eslint --cache

- FR translation
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Update xchans
  .gitignore
  package.json
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
  src/renderer/helpers/clientHelper.test.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/doge/common.ts
  src/renderer/services/litecoin/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Updated based on latest xchain packages
  package.json
  src/main/api/ledger/bitcoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Updates
  package.json
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/ledger/types.ts
  src/renderer/helpers/clientHelper.test.ts
  src/shared/utils/client.ts
  src/shared/utils/guard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Reverted network change., Fixed all but BCH
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/types.ts
  src/renderer/helpers/clientHelper.test.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/doge/common.ts
  src/renderer/services/litecoin/common.ts
  src/shared/utils/client.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Fixed BCH issue and updated change log
  CHANGELOG.md
  src/renderer/services/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

update version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Cleaned up utxo client creation for ledger.
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

fix import bug
  src/main/api/ledger/litecoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Very much work in progress
  src/renderer/services/chain/address.ts
Due: cross-env NODE_ENV=development eslint --cache

very much a work in progress
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/maya/balances.ts
  src/renderer/services/maya/common.ts
  src/renderer/services/maya/fees.ts
  src/renderer/services/maya/index.ts
  src/renderer/services/maya/transaction.ts
  src/renderer/services/maya/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/transaction.ts
  src/shared/api/maya.ts
  src/shared/maya/client.ts
  src/shared/utils/asset.ts
  src/shared/utils/chain.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

- FR translation
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

wip: get project running again without errors
  src/renderer/services/maya/common.ts
  src/renderer/services/maya/types.ts
Due: cross-env NODE_ENV=development eslint --cache

wip: maya address using proper prefix and load balances from the right url
  src/main/api/ledger/address.ts
  src/renderer/services/maya/common.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/maya/client.ts
  src/shared/mock/api.ts
  src/shared/utils/chain.ts
Due: cross-env NODE_ENV=development eslint --cache

wip: sendTx for MAYA.CACAO working
  src/renderer/components/wallet/txs/send/SendFormMAYA.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewMAYA.tsx
  src/renderer/views/wallet/send/index.ts
Due: cross-env NODE_ENV=development eslint --cache

feat: properly show maya asset
  package.json
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/txs/send/SendFormMAYA.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/maya/balances.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

update thorchain package for issue #2540
  package.json
  src/renderer/services/chain/transaction/transaction.helper.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

updates for change log ready for release
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

adding lock file
  yarn.lock
Due: none

Fixed some simple issues based on the package updates. The rest are due to the xchain-evm refactor and removal of ETH specific functions
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/ethereum/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

updating more code
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/table/BondsTable.stories.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/pool/PoolCards.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

adding support for synths, view in wallets, swapping
  package.json
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.styles.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/chainHelper.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/savers/SaversOverview.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

enable and add synths
  package.json
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/button/ActionButton.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/swap.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/shared/utils/asset.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Changes Log and Readme updated
  CHANGELOG.md
  README.md
  yarn.lock
Due: prettier --ignore-path .eslintignore --single-quote --write

updated synths, fix eth bug
  src/renderer/components/swap/SelectableSlipTolerance.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/swap/SwapView.tsx
  src/shared/utils/asset.ts
Due: cross-env NODE_ENV=development eslint --cache

added debounce for request smoothing
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed init balance loading error
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/shared/utils/asset.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
