Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

i18n pooled etc.
  src/renderer/components/pool/FundsCap.tsx
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix usage of i18n
  src/renderer/components/pool/FundsCap.tsx
  src/renderer/i18n/de/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Shorten memos
  package.json
  src/renderer/components/deposit/add/SymDeposit.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add i18n for funds cap etc. (#2051)
  CHANGELOG.md
  src/renderer/components/pool/FundsCap.tsx
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Re-generate ERC20 whitelist to add XDEFI (#2043)
  CHANGELOG.md
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Shorten memos (#2053)
  CHANGELOG.md
  package.json
  src/renderer/components/deposit/add/SymDeposit.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

WIP: Synth balances
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  src/shared/mock/assets.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Latest xchain-* packages to support synths
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Disable synths temporary
  src/renderer/services/thorchain/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Synth balances (#2055)
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  src/shared/mock/assets.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Latest xchain-tc@0.21.1 to fix testnet chain-id
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Latest xchain-tc@0.21.1 to fix testnet chain-id (#2056)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Use latest xchain-* packages + prepare terra
  package.json
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use latest xchain-* packages + prepare terra (#2057)
  package.json
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Configurable chainId + latest xchain-tc@0220
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/services/thorchain/common.ts
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Configurable chainId (#2058)
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/services/thorchain/common.ts
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add ledger-btc-app + update ledgerhq|xchain deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Show / verify Ledger BTC address
  src/main/api/ledger/address.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/common.ts
  src/main/api/ledger/thorchain/address.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

LUNAChain -> TerraChain
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix style of AssetIcon (in WalletSettings)
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Bump 0.8.0-alpha.1
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

[Ledger] Add / verify BTC address (#2060)
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/common.ts
  src/main/api/ledger/thorchain/address.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Send BTC Ledger tx
  CHANGELOG.md
  src/main/api/ledger/bitcoin.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/bitcoin/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Make sending Ledger BTC tx work
  src/main/api/ledger/bitcoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare 0.8.0-alpha.2
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Update transaction logic based on TS solution
  package.json
  src/main/api/ledger/bitcoin/transaction.ts
  src/renderer/services/bitcoin/common.ts
  src/shared/bitcoin/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Downgrade `hw-app-btc`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

xchain-btc@0.18.0-alha.1 + some clean-up
  package.json
  src/main/api/ledger/bitcoin/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Send BTC Ledger tx (#2062)
  CHANGELOG.md
  package.json
  src/main/api/ledger/bitcoin.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/bitcoin/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[BTC] Support confirmed balances only
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/doge/balances.ts
  src/renderer/services/thorchain/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

[BTC] Support confirmed balances only (#2066)
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/doge/balances.ts
  src/renderer/services/thorchain/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare 0.8.0-alpha.3 - for testing only
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Disable slippage protection for Ledger/BTC temp.
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Disable slippage protection for Ledger/BTC temp. (#2069)
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Send] Remove tx confirmation check
  CHANGELOG.md
  src/renderer/components/wallet/txs/send/Send.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/transfer.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Send] Remove tx confirmation check (#2075)
  CHANGELOG.md
  src/renderer/components/wallet/txs/send/Send.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/transfer.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Send] Fix max balance for Ledger/BTC
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
