Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

typo
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

[Terra] Few updates needed for `transfer` implementation (#2208)
  src/renderer/components/wallet/txs/TxForm.helpers.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.styles.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/terra/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

[Terra] Make txs work by paying fees in any asset
  package.json
  src/renderer/components/wallet/txs/send/SendFormTERRA.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/contexts/TerraContext.tsx
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/terra/fees.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendViewTERRA.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[Terra] Make txs work paying fees in any asset (#2209)
  package.json
  src/renderer/components/wallet/txs/send/SendFormTERRA.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/contexts/TerraContext.tsx
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/terra/fees.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendViewTERRA.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix: [Deposit] Initial amount value can't be read
  CHANGELOG.md
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: [Deposit] Initial amount value can't be read (#2211)
  CHANGELOG.md
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Terra] Swap + deposit
  README.md
  package.json
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[Terra] Swap + deposit (#2214)
  README.md
  package.json
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.13.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.13.0 (#2215)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Get / show Ledger Terra address
  CHANGELOG.md
  README.md
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/terra/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/utils/client.test.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/wallet.test.ts
  src/shared/utils/wallet.ts
  tsconfig.main.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Get / show Ledger Terra address (#2216)
  CHANGELOG.md
  README.md
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/terra/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/utils/client.test.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/wallet.test.ts
  src/shared/utils/wallet.ts
  tsconfig.main.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Ledger Terra balances
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Ledger Terra balances (#2217)
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger Terra txs
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/terra/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/assets/svg/terra.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/uielements/assets/assetIcon/TerraIcon.tsx
  src/renderer/components/uielements/assets/assetIcon/index.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/const.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache

SymDeposit: Remove duplicated assets
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/en/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/main/api/ledger/terra/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger Terra txs (#2218)
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/terra/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/assets/svg/terra.svg
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/icons/index.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/uielements/assets/assetIcon/TerraIcon.tsx
  src/renderer/components/uielements/assets/assetIcon/index.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/const.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache

Update to latest xchain-tc@0.24.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update to latest xchain-tc@0.24.1 (#2220)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Show address confirmation modal for Ledger THOR
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/thorchain/address.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix address confirmation for Ledger BNB
  CHANGELOG.md
  src/main/api/ledger/binance/address.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix Ledger address confirmation issues (THOR, Terra, BNB) (#2223)
  CHANGELOG.md
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/terra/address.ts
  src/main/api/ledger/thorchain/address.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.14.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.14.0 (#2224)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update misc. Electron deps + Node@16.13.2
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update misc. Electron deps + Node@16.13.2 + testcafe (#2229)
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update misc. deps (mostly node related)
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update misc. deps (mostly node related) (#2230)
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

WIP: Upgrade react-router v5 -> v6
  package.json
  src/renderer/components/footer/Footer.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/manageButton/ManageButton.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/backLink/BackLink.tsx
  src/renderer/components/wallet/add/AddWallet.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/phrase/NewPhraseConfirm.tsx
  src/renderer/components/wallet/txs/send/Send.hooks.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/hooks/useKeystoreRedirectAfterImport.ts
  src/renderer/hooks/useNetwork.ts
  src/renderer/routes/types.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/NoContentView.tsx
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/CreateView/CreateView.tsx
  src/renderer/views/wallet/CreateView/KeystoreView.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
  src/renderer/views/wallet/WalletView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Continue router migration
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/table/TxsTable.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/routeHelper.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/app/AppView.tsx
  src/renderer/views/pools/PoolsView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/WalletView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use thornode.ninerealms.com by default
  .env.sample
  src/renderer/services/thorchain/thorNode.ts
Due: cross-env NODE_ENV=development eslint --cache

Latest xchain-terra@0.1.1 to fix Terra balances
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix env and Terra balances (#2232)
  .env.sample
  package.json
  src/renderer/services/thorchain/thorNode.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Migrate pools + wallet routes
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/hooks/useNetwork.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/pools/PoolsView.tsx
  src/renderer/views/wallet/CreateView/CreateView.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/WalletAuth.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up ViewRoutes
  src/renderer/hooks/useMidgardHistoryActions.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/WalletView.styles.ts
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finalize migration of react-router v6
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/hooks/useNetwork.ts
  src/renderer/routes/types.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/app/AppView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/CreateView/CreateView.tsx
  src/renderer/views/wallet/CreateView/KeystoreView.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/CreateView/index.ts
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
  src/renderer/views/wallet/UnlockView.tsx
  src/renderer/views/wallet/WalletAuth.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve error handling for route params
  CHANGELOG.md
  src/renderer/components/wallet/txs/interact/Interact.helpers.test.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/i18n/de/routes.ts
  src/renderer/i18n/en/routes.ts
  src/renderer/i18n/fr/routes.ts
  src/renderer/i18n/ru/routes.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: `getAssetFromNullableString` needs to be memorized
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache
