Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Prepare installation of node-gyp (Windows only)
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix `A sequence was not expected` in workflow
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove installation of windows-build-tools
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Revert preset of msvs
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Switch nodejs to 14.18
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update nodejs version to 14.18
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Revert version
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Trgger CI
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.4.2 (#1824)
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-enable Ledger TC
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Readd changes
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
  src/renderer/components/app/AppSettings.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add onChange handler
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Check prev. asym deposits before doing sym deposits
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Code review fixes
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade electron
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Refactor handling to get liquidity details
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useLiquidityProviders.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest electron version with certificate related fixes (#1831)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Bump version
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.4.3 (#1832)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Tweak styles + prepare `WalletPoolActionsHistoryHeader`
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
  src/renderer/components/AccountAddressSelector/index.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/WalletPoolActionsHistoryHeader.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [History] Create custom component to select addresses (#1818)
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
  src/renderer/components/AccountAddressSelector/index.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/WalletPoolActionsHistoryHeader.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.types.ts
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix bnb fee warning
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Add custom recipient field
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/renderer/views/wallet/upgrade/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Adjust styles
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Add EyeOutlined
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show for ledger only
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Make happy flow possible for BNB
  src/main/api/hdwallet.ts
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance/address.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix memo
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

[UPGRADE] Fix fee warning (#1835)
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [UpgradeView] Add recipient address field (#1836)
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/renderer/views/wallet/upgrade/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add happy path for showing thorchain address
  src/main/api/ledger/address.ts
  src/main/api/ledger/thorchain/address.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Enable verifying index specific addresses
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/main/api/ledger/address.ts
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Use `AccountAddressSelector`
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.types.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/WalletPoolActionsHistoryHeader.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Ledger] Show address on Ledger by adding a new device (#1837)
  src/main/api/hdwallet.ts
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

`Address` -> `WalletAddress`
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/thorchain/address.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/memo.ts
  src/renderer/services/clients/address.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletSettingsView.helper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix padding
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.styles.ts
Due: cross-env NODE_ENV=development eslint --cache
