Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Update npm dependencies 18-06-2020
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add missing `eslint-config-react-app`
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Update lint rules
  .eslintrc
Due: prettier --ignore-path .eslintignore --parser json --write

Update dependencies 18-06-2020 (#194)
  .eslintrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

WIP: Save / load keystore
  package.json
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add AssetMenu component
  src/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/components/uielements/assets/assetMenu/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Update AssetCard and AssetSelect component
  src/components/uielements/assets/assetCard/AssetCard.tsx
  src/components/uielements/assets/assetCard/AssetCardMenu.tsx
  src/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/components/uielements/assets/assetSelect/AssetSelectMenu.tsx
Due: cross-env NODE_ENV=development eslint --cache

AssetMenu component (#196)
  src/components/uielements/assets/assetCard/AssetCard.tsx
  src/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/components/uielements/assets/assetMenu/index.ts
  src/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/components/uielements/assets/assetSelect/AssetSelectMenu.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finish save/load keystore to filesystem
  package.json
  src/components/wallet/.gitkeep
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/const.ts
  src/contexts/WalletContext.tsx
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/views/wallet/LockView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Clean up
  src/services/wallet/service.ts
  src/views/wallet/LockView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix test: TypeError: Cannot read property 'app'
  src/const.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Simplify state of keystore + phrase
  src/components/header/Header.tsx
  src/components/header/HeaderLock.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/WalletManage.tsx
  src/const.ts
  src/contexts/WalletContext.tsx
  src/services/wallet/service.ts
  src/views/wallet/LockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

And mooore simple handling of keystore state
  src/components/header/Header.tsx
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/WalletManage.tsx
  src/contexts/WalletContext.tsx
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/services/wallet/util.ts
  src/views/wallet/LockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Simplify re-direct handling of wallet routes
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/components/wallet/ImportPhrase.tsx
  src/views/wallet/LockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

LockView -> UnlockView
  src/views/wallet/UnlockView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix re-directs of wallet routes
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix error "Uncaught (in promise) Invalid BIP39
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix props for `Wrapper` (HeaderLockWrapper)
  src/components/header/HeaderLock.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

key.json -> keystore.json
  src/services/wallet/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Add SwapModal component
  src/components/modal/swapModal/SwapModal.stories.tsx
  src/components/modal/swapModal/SwapModal.style.tsx
  src/components/modal/swapModal/SwapModal.tsx
  src/components/modal/swapModal/index.tsx
  src/components/modal/swapModal/types.ts
  src/types/asgardex.ts
Due: cross-env NODE_ENV=development eslint --cache

Install latest `asgardex-crypto`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Save / load keystore (#195)
  package.json
  src/components/header/Header.tsx
  src/components/header/HeaderLock.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/wallet/.gitkeep
  src/components/wallet/ImportPhrase.tsx
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletManage.tsx
  src/const.ts
  src/contexts/WalletContext.tsx
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/services/wallet/util.ts
  src/views/wallet/LockView.tsx
  src/views/wallet/UnlockView.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use i18n in header + footer
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/header/Header.tsx
  src/i18n/de/common.ts
  src/i18n/de/index.ts
  src/i18n/de/pools.ts
  src/i18n/de/wallet.ts
  src/i18n/en.ts
  src/i18n/en/common.ts
  src/i18n/en/index.ts
  src/i18n/en/pools.ts
  src/i18n/en/wallet.ts
  src/i18n/fr.ts
  src/i18n/fr/common.ts
  src/i18n/fr/index.ts
  src/i18n/fr/pools.ts
  src/i18n/fr/wallet.ts
  src/i18n/index.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Use i18n in header + footer (#203)
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/header/Header.tsx
  src/i18n/de/common.ts
  src/i18n/de/index.ts
  src/i18n/de/pools.ts
  src/i18n/de/wallet.ts
  src/i18n/en.ts
  src/i18n/en/common.ts
  src/i18n/en/index.ts
  src/i18n/en/pools.ts
  src/i18n/en/wallet.ts
  src/i18n/fr.ts
  src/i18n/fr/common.ts
  src/i18n/fr/index.ts
  src/i18n/fr/pools.ts
  src/i18n/fr/wallet.ts
  src/i18n/index.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Check keystore at start
  src/services/wallet/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix header styles
  src/assets/svg/icon-lock.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderIcon.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderMenu.style.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.style.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Make state of keystore more readable
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix header styles (#204)
  src/assets/svg/icon-lock.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderIcon.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderMenu.style.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.style.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Check keystore at start (#205)
  src/services/wallet/service.ts
  src/services/wallet/types.ts
  src/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Add tests for `services/wallet/util.ts`
  src/services/wallet/util.test.ts
  src/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Re-generate Midgard API types + endpoints
  src/types/generated/midgard/apis/DefaultApi.ts
  src/types/generated/midgard/models/ThorchainBooleanConstants.ts
  src/types/generated/midgard/models/ThorchainConstants.ts
  src/types/generated/midgard/models/ThorchainInt64Constants.ts
  src/types/generated/midgard/models/ThorchainLastblock.ts
  src/types/generated/midgard/models/ThorchainStringConstants.ts
  src/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Add tests for `services/wallet/util.ts` (#206)
  src/services/wallet/util.test.ts
  src/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Fetch data of `lastblock`+`constants` endpoints
  src/services/midgard/service.ts
  src/services/midgard/types.ts
  src/views/pools/PoolsOverview.tsx
  src/views/pools/util.test.ts
  src/views/pools/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Update SwapModal
  src/components/modal/swapModal/SwapModal.style.tsx
  src/components/modal/swapModal/SwapModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update style
  src/components/modal/swapModal/SwapModal.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add SwapModal component (#200)
  src/components/modal/swapModal/SwapModal.stories.tsx
  src/components/modal/swapModal/SwapModal.style.tsx
  src/components/modal/swapModal/SwapModal.tsx
  src/components/modal/swapModal/index.tsx
  src/components/modal/swapModal/types.ts
  src/types/asgardex.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix typos
  src/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "Calculate `blocks left` for deepest pending pool " (#207)
  src/services/midgard/service.ts
  src/services/midgard/types.ts
  src/types/generated/midgard/apis/DefaultApi.ts
  src/types/generated/midgard/models/ThorchainBooleanConstants.ts
  src/types/generated/midgard/models/ThorchainConstants.ts
  src/types/generated/midgard/models/ThorchainInt64Constants.ts
  src/types/generated/midgard/models/ThorchainLastblock.ts
  src/types/generated/midgard/models/ThorchainStringConstants.ts
  src/types/generated/midgard/models/index.ts
  src/views/pools/PoolsOverview.tsx
  src/views/pools/util.test.ts
  src/views/pools/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Add TokenDetailCard component
  src/components/uielements/tokenDetailCard/TokenDetailCard.stories.tsx
  src/components/uielements/tokenDetailCard/TokenDetailCard.style.tsx
  src/components/uielements/tokenDetailCard/TokenDetailCard.tsx
  src/components/uielements/tokenDetailCard/index.tsx
Due: cross-env NODE_ENV=development eslint --cache
