Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

remove deprecated codes in chain/transaction/common
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix decimal handling in AssetInput
  package.json
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix decimal handling in AssetInput (#720)
  package.json
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.stories.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

AddDeposit: Prepare UI
  src/renderer/components/deposit/add/AddDeposit.stories.tsx
  src/renderer/components/deposit/add/AddDeposit.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Swap: Update styles
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

revert changes
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/services/chain/common.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/types/generated/midgard/runtime.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

fix test
  src/renderer/helpers/fp/ord.test.ts
Due: cross-env NODE_ENV=development eslint --cache

bug fix
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Finish UI things, update stories, fix build
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/add/AddDeposit.stories.tsx
  src/renderer/components/deposit/add/AddDeposit.tsx
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/add/AddDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

AddDeposit: Prepare UI for txs (#722)
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/add/AddDeposit.stories.tsx
  src/renderer/components/deposit/add/AddDeposit.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/add/AddDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

upgraded midgard api
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/Action.ts
  src/renderer/types/generated/midgard/models/AddLiquidityMetadata.ts
  src/renderer/types/generated/midgard/models/BondMetrics.ts
  src/renderer/types/generated/midgard/models/Coin.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/InlineResponse200.ts
  src/renderer/types/generated/midgard/models/Metadata.ts
  src/renderer/types/generated/midgard/models/Network.ts
  src/renderer/types/generated/midgard/models/PoolLegacyDetail.ts
  src/renderer/types/generated/midgard/models/RefundMetadata.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/SwapMetadata.ts
  src/renderer/types/generated/midgard/models/Transaction.ts
  src/renderer/types/generated/midgard/models/TxDetails.ts
  src/renderer/types/generated/midgard/models/WithdrawMetadata.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

upgraded midgard api (#728)
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/Action.ts
  src/renderer/types/generated/midgard/models/AddLiquidityMetadata.ts
  src/renderer/types/generated/midgard/models/BondMetrics.ts
  src/renderer/types/generated/midgard/models/Coin.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/InlineResponse200.ts
  src/renderer/types/generated/midgard/models/Metadata.ts
  src/renderer/types/generated/midgard/models/Network.ts
  src/renderer/types/generated/midgard/models/PoolLegacyDetail.ts
  src/renderer/types/generated/midgard/models/RefundMetadata.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/SwapMetadata.ts
  src/renderer/types/generated/midgard/models/Transaction.ts
  src/renderer/types/generated/midgard/models/TxDetails.ts
  src/renderer/types/generated/midgard/models/WithdrawMetadata.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Extract `extra` content of TxModal
  src/renderer/components/modal/tx/extra/SwapAssets.stories.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/modal/tx/extra/index.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/assets/assetData/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix comments
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/txs/receive/Receive.stories.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/services/wallet/util.test.ts
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

bug fix
  src/renderer/components/swap/Swap.utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Extract `extra` content of TxModal (#729)
  src/renderer/components/modal/tx/extra/SwapAssets.stories.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/modal/tx/extra/index.ts
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/assets/assetData/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove AssetRune67C, AssetRuneB1A & Cleanup deprecated code (#719)
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/header/Header.util.test.ts
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/drag/Drag.stories.tsx
  src/renderer/components/uielements/fees/Fees.stories.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/txs/receive/Receive.stories.tsx
  src/renderer/const.ts
  src/renderer/contexts/ChainContext.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/helpers/funcHelper.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/services/chain/common.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/types/generated/midgard/runtime.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

upgrade xchain-ethereum lib
  .env.sample
  package.json
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/ethereum/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix styles: SwapAssets, StepBar, Trend
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/stepBar/StepBar.stories.tsx
  src/renderer/components/uielements/stepBar/StepBar.style.tsx
  src/renderer/components/uielements/stepBar/StepBar.tsx
  src/renderer/components/uielements/stepBar/index.tsx
  src/renderer/components/uielements/trend/Trend.style.ts
  src/renderer/components/uielements/trend/Trend.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestion
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles: SwapAssets, StepBar, Trend (#730)
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.tsx
  src/renderer/components/uielements/stepBar/StepBar.stories.tsx
  src/renderer/components/uielements/stepBar/StepBar.style.tsx
  src/renderer/components/uielements/stepBar/StepBar.tsx
  src/renderer/components/uielements/stepBar/index.tsx
  src/renderer/components/uielements/trend/Trend.style.ts
  src/renderer/components/uielements/trend/Trend.tsx
Due: cross-env NODE_ENV=development eslint --cache

[AddDeposit] Extra content used by TxModal
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/modal/tx/extra/Common.types.ts
  src/renderer/components/modal/tx/extra/DepositAssets.stories.tsx
  src/renderer/components/modal/tx/extra/DepositAssets.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/modal/tx/extra/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix build
  src/renderer/components/modal/tx/extra/index.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp
  .env.sample
  package.json
  src/renderer/services/ethereum/common.ts
  tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[AddDeposit] Extra content used by TxModal (#731)
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/modal/tx/extra/Common.types.ts
  src/renderer/components/modal/tx/extra/DepositAssets.stories.tsx
  src/renderer/components/modal/tx/extra/DepositAssets.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.styles.tsx
  src/renderer/components/modal/tx/extra/SwapAssets.tsx
  src/renderer/components/modal/tx/extra/index.ts
Due: cross-env NODE_ENV=development eslint --cache

first upgrade batch
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

wip: fee handling
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/views/wallet/send/SendViewETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

upgraded the rest of packages
  craco.config.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fix ux issues
  src/renderer/assets/svg/icon-lock-warning.svg
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
Due: cross-env NODE_ENV=development eslint --cache

support missing keys & update deps
  package.json
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/ethereum/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fix ux issues (#746)
  src/renderer/assets/svg/icon-lock-warning.svg
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
Due: cross-env NODE_ENV=development eslint --cache

remove ethplorerUrl
  src/renderer/services/ethereum/common.ts
Due: cross-env NODE_ENV=development eslint --cache

support missing keys & update deps (#747)
  package.json
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/ethereum/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

reverted cosmos-client package version
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add GH secrets
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Node 12.18.3
  .nvmrc
Due: none

electron@11.2.0
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update REACT_APP_MIDGARD_TESTNET_URL
  .env.sample
Due: none

Downgrade to electron@10.2
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

mini-addresses
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/helpers/addressHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
