Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add asgardex swap identifier (#1650)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Consider `disableTradingActions` for swap
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Handle `halt` params of `Mimir` (#1649)
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.3.11
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix messages
  src/renderer/i18n/en/pools.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Black list UNIH
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Blacklist UNIH (#1654)
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Use TS version `thorchain-ledger@0.1.0-alpha.1`
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/thorchain.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare v0.3.11 (#1651)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix release date
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add ledger UI button
  src/renderer/assets/svg/icon-plus.svg
  src/renderer/assets/svg/icon-remove.svg
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestions
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/ru/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "[Settings] Update UI to add Ledger THORChain" (#1657)
  src/renderer/assets/svg/icon-plus.svg
  src/renderer/assets/svg/icon-remove.svg
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update npm dependencies
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve "Update npm dependencies (08-10-2021)" (#1659)
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

[Ledger] Business logic to connect and to get THOR address (#1655)
  package.json
  resources/mac/entitlements.mac.plist
  src/main/api/hdwallet.ts
  src/main/api/ledger/address.ts
  src/main/api/ledger/common.ts
  src/main/api/ledger/index.ts
  src/main/api/ledger/thorchain.ts
  src/main/api/ledger/transaction.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/hooks/useAppUpdate.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/views/wallet/SettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
  src/shared/thorchain-ledger.d.ts
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve "[Binance] Blacklist RUNE-67C on mainnet"
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "[Binance] Blacklist RUNE-67C on mainnet" (#1661)
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix thornode api endpoint
  src/renderer/services/thorchain/thorNode.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix `*-THORNODE_API` in env.sample
  .env.sample
Due: none

Fix thornode api endpoint (#1663)
  .env.sample
  src/renderer/services/thorchain/thorNode.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Refactor settings to get Ledger address
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/services/wallet/types.ts
  src/renderer/types/wallet/index.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Handle halt for BTC, BCH, LTC, BNB
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove console.log
  src/renderer/helpers/poolHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Update MimirHalt type
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove unused code
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Disable BNB.RUNE upgrade on BnbChain halt
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix typo
  src/renderer/helpers/assetHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

[MIMIR] Handle halt for BTC, BCH, LTC, BNB (#1666)
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add network dependent helpers
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/Send.hooks.ts
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/chain/transaction/upgrade.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unnecessary network references
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/send/Send.hooks.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix paths
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve "Add network dependent helpers for detecting assets" (#1668)
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/chain/transaction/upgrade.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Make Add THOR Ledger address working
  package.json
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/ledger.ts
  src/renderer/services/thorchain/ledger.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update i18n + comment edge case
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestions
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/services/wallet/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
