Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update UI to show wallet type + wallet addresses (#1963)
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix shares
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/share/ShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Make `assetAddress`optional in `PoolShare` type
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove debug output
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Don't combine `asym` with `sym` shares in PoolShare (#1964)
  CHANGELOG.md
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/common/Common.styles.ts
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/share/ShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor PasswordModal
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmation.stories.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.tsx
  src/renderer/components/modal/confirmation/index.ts
  src/renderer/components/modal/password/PasswordModal.stories.tsx
  src/renderer/components/modal/password/PasswordModal.tsx
  src/renderer/components/modal/password/index.ts
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.styles.ts
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/modal/private/index.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor PasswordModal (#1968)
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmation.stories.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.tsx
  src/renderer/components/modal/confirmation/index.ts
  src/renderer/components/modal/password/PasswordModal.stories.tsx
  src/renderer/components/modal/password/PasswordModal.tsx
  src/renderer/components/modal/password/index.ts
  src/renderer/components/modal/private/PrivateModal.stories.tsx
  src/renderer/components/modal/private/PrivateModal.styles.ts
  src/renderer/components/modal/private/PrivateModal.tsx
  src/renderer/components/modal/private/index.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Withdraw: Handle Ledger|WalletPasswor modals
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Disable RU temorary
  CHANGELOG.md
  src/renderer/i18n/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

uick fix 18n
  src/renderer/i18n/de/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Withdraw: Handle Ledger|WalletPassword modals (#1970)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/WalletPasswordConfirmationModal.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Disable RU temorary (#1971)
  CHANGELOG.md
  src/renderer/i18n/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Update halt.ts
  src/renderer/i18n/fr/halt.ts
Due: cross-env NODE_ENV=development eslint --cache

Update ledger.ts
  src/renderer/i18n/fr/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Update settings.ts
  src/renderer/i18n/fr/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Update swap.ts
  src/renderer/i18n/fr/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update wallet.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Feature/update fr translation (#1972)
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/halt.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix build
  CHANGELOG.md
  src/renderer/i18n/fr/halt.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Switch to 9R haskoin
  CHANGELOG.md
  src/renderer/services/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Switch to 9R haskoin (#1975)
  CHANGELOG.md
  src/renderer/services/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix `max` value for sending ETH
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix `max` value for sending ETH (#1978)
  CHANGELOG.md
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Send: Show LedgerModal (THORChain) + update i18n
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Send: Show LedgerModal (BNB)
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache

Simplify lcoal state handling to be more DRY
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Send] Show Ledger modal (#1979)
  CHANGELOG.md
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Include Ledger based shares in wallet/shares table
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Include Ledger based shares in wallet -> shares table (#1981)
  CHANGELOG.md
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare 0.6.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove zip build for macOS
  .electronbuildrc
Due: none

Upgrade hw-transport|-node-hid-singleton
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

yarn.lock
  yarn.lock
Due: none

Upgrade to latest Electron@16.0.4 and other stuff
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
