Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Optional `targetWalletAddress` param
  src/renderer/components/swap/Swap.tsx
  src/renderer/routes/pools/deposit.ts
  src/renderer/routes/pools/index.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename `xyzWalletAddress` -> `xyzKeystoreAddress`
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up + update CHANGELOG
  CHANGELOG.md
  src/renderer/components/swap/Swap.tsx
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Extract check of `disableSwapAction` to `SwapView`
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest @cosmos-client/core@0.46.1 (no fork needed)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Back to use custom fork of `cosmos-client/core`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

[SWAP] Persistant wallet state while reloading or switching asset pair (#2511)
  CHANGELOG.md
  package.json
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/SwapButton.tsx
  src/renderer/components/uielements/button/index.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/i18n/de/bonds.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/bonds.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/pools/deposit.ts
  src/renderer/routes/pools/index.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/swap/SwapView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[Wallet] Add `Swap` to `ActionButton`
  CHANGELOG.md
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Wallet] Add `Swap` to `ActionButton` (#2512)
  CHANGELOG.md
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Wallet] Add `Add` to `ActionButton`
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Wallet] Add `Add` to `ActionButton` (#2513)
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract `disableDepositAction` from `SymDeposit`
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Relax Mimir checks
  CHANGELOG.md
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove path (for debugging only)
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Relax Mimir checks (#2514)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/app/AppView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Hide private data - pt.1
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/EditableAddress.stories.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/helpers/stringHelper.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Hide private data - pt.1 (#2515)
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/EditableAddress.stories.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/helpers/stringHelper.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v1.18.6
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.18.6 (#2517)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

- RU translation for deposit.ts
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Price slip
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Price slip (#2519)
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

- RU translation for deposit.ts (#2520)
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Re-introduce slider
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Swap] Re-introduce slider (#2522)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Wallet] Handle Binance API limits (error 429)
  .storybook/main.js
  CHANGELOG.md
  src/renderer/components/Bonds/Bonds.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/uielements/button/ManageButton.stories.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.stories.tsx
  src/renderer/components/uielements/button/ReloadButton.stories.tsx
  src/renderer/components/uielements/button/ReloadButton.tsx
  src/renderer/components/uielements/button/index.ts
  src/renderer/components/uielements/reloadButton/ReloadButton.stories.tsx
  src/renderer/components/uielements/reloadButton/ReloadButton.styles.tsx
  src/renderer/components/uielements/reloadButton/index.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/txs/table/TxsTable.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Clean up
  CHANGELOG.md
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/services/clients/balances.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Wallet] Handle Binance API limits (error 429) (#2523)
  .storybook/main.js
  CHANGELOG.md
  src/renderer/components/Bonds/Bonds.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/uielements/button/ManageButton.stories.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.stories.tsx
  src/renderer/components/uielements/button/ReloadButton.stories.tsx
  src/renderer/components/uielements/button/ReloadButton.tsx
  src/renderer/components/uielements/button/index.ts
  src/renderer/components/uielements/reloadButton/ReloadButton.stories.tsx
  src/renderer/components/uielements/reloadButton/ReloadButton.styles.tsx
  src/renderer/components/uielements/reloadButton/index.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/txs/table/TxsTable.stories.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Change type `Chain` (enum -> union)
  src/renderer/services/wallet/const.ts
  src/shared/utils/chain.test.ts
  src/shared/utils/chain.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix `chainToString`
  src/shared/utils/chain.ts
Due: cross-env NODE_ENV=development eslint --cache
