Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Some clean-up - all still WIP
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/clients/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

Update fee handling
  .env.sample
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/clients/fees.ts
  src/renderer/services/clients/types.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up fee handling
  src/renderer/components/wallet/txs/send/Send.const.ts
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/clients/fees.ts
  src/renderer/views/wallet/send/SendViewETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update story of `SendFormETH`
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove log statements
  src/renderer/services/clients/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

add a note to unlock wallet in swap page
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

store previous fee in swap
  src/renderer/components/uielements/fees/Fees.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix comments
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest xchain-client|eth
  package.json
  src/renderer/services/clients/fees.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fix fee handling of ethereum (#807)
  .env.sample
  package.json
  src/renderer/components/wallet/txs/send/Send.const.ts
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/binance/fees.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/clients/index.ts
  src/renderer/services/clients/transaction/transfer.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/fees.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/UpgradeView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Move `txStatus$` from services/chain
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/swap.ts
  src/renderer/services/chain/transaction/upgrade.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/clients/transaction/index.ts
  src/renderer/services/clients/transaction/status.ts
  src/renderer/services/clients/transaction/transaction.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move `txStatus$` from services/chain (#811)
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/swap.ts
  src/renderer/services/chain/transaction/upgrade.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/clients/transaction/index.ts
  src/renderer/services/clients/transaction/status.ts
  src/renderer/services/clients/transaction/transaction.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/interact.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/CustomView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix comments
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix comments
  src/renderer/components/uielements/fees/Fees.styles.tsx
  src/renderer/components/uielements/fees/Fees.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix progress in `SwapState` and `SymDepositState`
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/swap.ts
  src/renderer/services/thorchain/interact.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix progress handling in `asymDeposit$`
  src/renderer/services/chain/transaction/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

More typesafety
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/thorchain/interact.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest `@xchainjs/xchain-cosmos|thorchain`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix progress in `swap$`, `symDeposit$`, `asymDeposit$` (#815)
  package.json
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/swap.ts
  src/renderer/services/thorchain/interact.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Add `symWithdraw$`
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/index.ts
  src/renderer/services/chain/transaction/withdraw.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

add a note to unlock wallet in swap page (#808)
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

remove commented style
  src/renderer/components/uielements/fees/Fees.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

store previous fee in swap (#809)
  src/renderer/components/uielements/fees/Fees.styles.tsx
  src/renderer/components/uielements/fees/Fees.tsx
Due: cross-env NODE_ENV=development eslint --cache

upgraded xchain-thorchain, xchainjs/xchain-util, added xchain-litecoin packages
  package.json
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

tmp
  src/renderer/App.tsx
  src/renderer/contexts/I18nContext.tsx
  src/renderer/contexts/UserNodesContext.tsx
  src/renderer/services/storage/index.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/userNodes.ts
  src/renderer/services/thorchain/bonds.ts
  src/renderer/views/wallet/BondsView.tsx
  src/shared/api/types.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

added review fixes
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

replaced all @todo with TODO
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update stories of `Withdraw`
  src/renderer/components/deposit/withdraw/Withdraw.helper.test.ts
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/services/chain/const.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added dom to the ts compilierOptions
  tsconfig.main.json
Due: prettier --ignore-path .eslintignore --parser json --write

add pool shares ui
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/PoolShares/helpers.tsx
  src/renderer/components/PoolShares/index.ts
  src/renderer/components/PoolShares/types.ts
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/poolshares.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/poolshares.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

hide poolColumn in mobile view
  src/renderer/components/PoolShares/PoolShares.tsx
Due: cross-env NODE_ENV=development eslint --cache

upgraded xchain-thorchain (#820)
  package.json
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/midgard/pools.ts
  tsconfig.main.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

disable mainnet for the first public release
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix comments
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/i18n/de/poolshares.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/poolshares.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add pool shares ui (#822)
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/PoolShares/helpers.tsx
  src/renderer/components/PoolShares/index.ts
  src/renderer/components/PoolShares/types.ts
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/poolshares.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/poolshares.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

load enabled chains from env
  src/renderer/helpers/envHelper.ts
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

disable mainnet for the first public release (#825)
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Re-write WITHDRAW fee handling
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/deposit.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/chain/transaction/withdraw.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update template for bug reports
  .github/ISSUE_TEMPLATE/1-Bug_report.md
Due: prettier --ignore-path .eslintignore --single-quote --write
