Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

updated version and erc20 whitlist creation
  .electronbuildrc
  package.json
  scripts/generateERC20Whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

add error label for failed thornode quote
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed bugs, changed the way the app handles mimir
  package.json
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Updated error translation and outbound fees
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

added affiliate fee and bps
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

updated change log and package json
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

removed nodehid
  package.json
  src/renderer/components/swap/Swap.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update README.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
