Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Delete asgardex-splash.png
  internals/img/asgardex-splash.png
Due: none

Add files via upload
  internals/img/asgardex-splash.png
Due: none

Add tests for `fpHelpers` (#341)
  src/renderer/helpers/fpHelpers.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Update build instruction
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix i18n key
  src/renderer/components/header/HeaderComponent.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update build instruction (#343)
  README.md
  src/renderer/components/header/HeaderComponent.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

added base RUS translations
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

added rest of translations. added ability to change lang to ru
  src/renderer/i18n/index.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/shared/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

removed fr locale; added missed rus translations
  src/main/i18n/fr/index.ts
  src/main/i18n/index.ts
  src/main/i18n/ru/index.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/index.ts
  src/renderer/i18n/types.ts
  src/shared/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed tests for i18n
  src/renderer/services/i18n/service.test.ts
Due: cross-env NODE_ENV=development eslint --cache

translation ru (#350)
  src/main/i18n/fr/index.ts
  src/main/i18n/index.ts
  src/main/i18n/ru/index.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/index.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/i18n/service.test.ts
  src/shared/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

removed ethherium and bitcoin at account management
  src/renderer/components/wallet/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed another device
  src/renderer/components/wallet/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor + fixes:
  src/renderer/components/uielements/backLink/BackLink.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/Send.stories.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/ReceiveView.tsx
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added client endpoints live data
  src/renderer/components/wallet/Settings.tsx
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

grabbed package version
  craco.config.js
  src/renderer/components/wallet/Settings.tsx
  src/renderer/types/declarations.d.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added styles for disabled button
  src/renderer/components/uielements/button/button.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix usage of `setSelectedAsset`
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Freeze/Unfreeze components
  src/renderer/components/wallet/AccountSelector.stories.tsx
  src/renderer/components/wallet/AccountSelector.style.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/Receive.stories.tsx
  src/renderer/components/wallet/txs/Receive.style.tsx
  src/renderer/components/wallet/txs/Receive.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/components/wallet/txs/types.test.ts
  src/renderer/components/wallet/txs/types.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/FeezeView.tsx
  src/renderer/views/wallet/ReceiveView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added adress information; fixed review issues
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/components/wallet/Settings.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/services/binance/service.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP:Add service to freeze / unfreeze
  package.json
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/FeezeView.tsx
  src/renderer/views/wallet/SendView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fixed midgard enprointUrl mapping
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed default onClick callback in uielements/label
  src/renderer/components/uielements/label/label.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use `freeze` / `unfreeze` from latest `asgardex-binance`
  package.json
  src/renderer/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

removed detructuring at settingsView
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use patched binance-sdk to fix TokenManager issues
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Wallet: Clean up settings view #344 (#351)
  craco.config.js
  src/renderer/components/uielements/button/button.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/components/wallet/Settings.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/services/binance/service.ts
  src/renderer/types/declarations.d.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean-up (still WIP)
  package.json
  src/renderer/components/shared/success/SuccessView.stories.tsx
  src/renderer/components/shared/success/SuccessView.style.ts
  src/renderer/components/shared/success/SuccessView.tsx
  src/renderer/components/uielements/button/button.stories.tsx
  src/renderer/components/uielements/button/button.tsx
  src/renderer/components/uielements/coins/coinInputAdvanced/CoinInputAdvanced.style.ts
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/TransactionTable.style.tsx
  src/renderer/components/wallet/TransactionsTable.tsx
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/types.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/types.test.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/FeezeView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added fromPromise helper; fixed byzantine$ completion issue at midgard/service
  src/renderer/helpers/rx/fromPromise.ts
  src/renderer/helpers/rx/index.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix format of misc. table cells + update i18n
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

initial clean up
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored midgard/service loadPoolsStateData$ stream after midgard stabalized
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `CoinInputAdvanced` in `FreezeForm`
  src/renderer/components/wallet/txs/FreezeForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

remove sequencing hacks from midgard service (#356)
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `SuccessView`
  src/renderer/components/shared/success/SuccessView.stories.tsx
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/components/shared/success/SuccessView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add props: `path` to BackLink + loading to `button
  src/renderer/components/uielements/backLink/BackLink.tsx
  src/renderer/components/uielements/button/button.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Label: `nowrap` property
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix alignment of columns
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update `AccountSelector`
  src/renderer/components/wallet/AccountSelector.stories.tsx
  src/renderer/components/wallet/AccountSelector.style.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/types.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix alignment in table columns (#360)
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache
