Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Introduce TerraClient (#2190)
  package.json
  src/renderer/services/terra/common.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Enable pools for Terra
  package.json
  src/renderer/assets/svg/asset-luna.svg
  src/renderer/assets/svg/asset-ust.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/const.ts
  src/renderer/services/wallet/balances.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix tests
  jest.config.js
  src/renderer/helpers/assetHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Run `jest` (instead of craco test)
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Enable pools for Terra (#2193)
  jest.config.js
  package.json
  src/renderer/assets/svg/asset-luna.svg
  src/renderer/assets/svg/asset-ust.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/const.ts
  src/renderer/services/wallet/balances.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Terra: Show address + balances
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/TerraContext.tsx
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/terra/balances.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Terra: Show address + balances (#2195)
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/TerraContext.tsx
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/terra/balances.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Handle mimir flags for Terra
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Handle mimir flags for Terra (#2197)
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Pools] Filter *USD* pools
  package.json
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve: Fix: Filter *USD* pools
  package.json
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix storybook issue caused by cosmos client
  .storybook/main.js
Due: cross-env NODE_ENV=development eslint --cache

DownIcon
  src/renderer/components/app/AppSettings.tsx
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/icons/index.ts
  src/renderer/components/wallet/walletType/WalletTypeSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

SendFormTerra
  src/renderer/components/wallet/txs/send/SendFormTERRA.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.styles.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Update imports of AssetLUNA
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

typo
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Terra: FeeService (fee$, reloadFees)
  src/renderer/contexts/TerraContext.tsx
  src/renderer/services/terra/fees.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove getDefaultFeesByChain
  src/renderer/services/clients/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

Improve type handling
  src/renderer/services/ethereum/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

SendViewTERRA
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewTERRA.tsx
  src/renderer/views/wallet/send/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix double balance of BTC
  src/renderer/hooks/useWalletBalance.ts
Due: cross-env NODE_ENV=development eslint --cache

Add info about total balances
  src/renderer/components/wallet/assets/TotalValue.styles.ts
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles + update CHANGELOG
  CHANGELOG.md
  src/renderer/components/wallet/assets/TotalValue.styles.ts
  src/renderer/components/wallet/assets/TotalValue.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: Total balances in asset overview (#2202)
  CHANGELOG.md
  src/renderer/components/wallet/assets/TotalValue.styles.ts
  src/renderer/components/wallet/assets/TotalValue.tsx
  src/renderer/hooks/useWalletBalance.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix missing Ledger balance for fee validation
  CHANGELOG.md
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Quick fix: Warning about non boolean style attribute
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix Ledger fee validation (#2204)
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Consider current block for mimir halt check
  CHANGELOG.md
  src/renderer/hooks/useMimirHalt.test.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove interval for checking current block
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Mimir] Support block height in HALT|PAUSE{XYZ} flags (#2207)
  CHANGELOG.md
  src/renderer/hooks/useMimirHalt.test.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Load icons (svg) from assets.terra.money
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
Due: cross-env NODE_ENV=development eslint --cache

Transaction service
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Make fee handling work
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/services/terra/fees.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewTERRA.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest xchain-terra|util
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Terra: Send + fees (#2201)
  .storybook/main.js
  package.json
  src/renderer/components/app/AppSettings.tsx
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.styles.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/components/wallet/walletType/WalletTypeSelector.tsx
  src/renderer/contexts/TerraContext.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/terra/fees.ts
  src/renderer/services/terra/index.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/terra/types.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewTERRA.tsx
  src/renderer/views/wallet/send/index.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

SEND ETH: Fix `isFeeError`
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix max amount
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
Due: cross-env NODE_ENV=development eslint --cache

Memo validation
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Error fees
  src/renderer/components/wallet/txs/TxForm.helpers.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/services/terra/fees.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles for fee asset
  src/renderer/components/wallet/txs/send/SendFormTERRA.styles.ts
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
