Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Update wallet routes (send/receive funds)
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update `bncSymbolToAsset`
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

added tests for wallet service
  src/renderer/services/wallet/service.test.ts
  src/renderer/services/wallet/service.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Another update for wallet routes + `bncSymbolToAsset`
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Handle data for selected asset
  src/renderer/components/wallet/Receive.stories.tsx
  src/renderer/components/wallet/Receive.style.tsx
  src/renderer/components/wallet/Receive.tsx
  src/renderer/views/wallet/ReceiveView.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored tests with promises
  src/renderer/services/wallet/service.test.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored tests
  src/renderer/services/wallet/service.test.ts
  src/renderer/services/wallet/service.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Finish implementation
  src/renderer/components/uielements/assets/AssetInfo/Component.stories.tsx
  src/renderer/components/uielements/assets/AssetInfo/Component.style.tsx
  src/renderer/components/uielements/assets/AssetInfo/Component.tsx
  src/renderer/components/uielements/assets/AssetInfo/index.ts
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/ImportPhrase.tsx
  src/renderer/components/wallet/Receive.stories.tsx
  src/renderer/components/wallet/Receive.style.tsx
  src/renderer/components/wallet/Receive.tsx
  src/renderer/contexts/ThemeContext.test.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/wallet/Receive.stories.tsx
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/shared/mock/address.ts
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored test to use toBeNone helper
  src/renderer/services/wallet/service.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Add tests for wallet service (#296)
  src/renderer/services/wallet/service.test.ts
  src/renderer/services/wallet/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestions
  src/renderer/components/wallet/Receive.style.tsx
  src/renderer/components/wallet/Receive.tsx
  src/renderer/contexts/ThemeContext.test.tsx
Due: cross-env NODE_ENV=development eslint --cache

Receive transaction view: Handle real data (#295)
  src/renderer/components/uielements/assets/AssetInfo/Component.stories.tsx
  src/renderer/components/uielements/assets/AssetInfo/Component.style.tsx
  src/renderer/components/uielements/assets/AssetInfo/Component.tsx
  src/renderer/components/uielements/assets/AssetInfo/index.ts
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/ImportPhrase.tsx
  src/renderer/components/wallet/Receive.stories.tsx
  src/renderer/components/wallet/Receive.style.tsx
  src/renderer/components/wallet/Receive.tsx
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/binance/utils.ts
  src/renderer/views/wallet/ReceiveView.tsx
  src/renderer/views/wallet/WalletView.tsx
  src/shared/mock/address.ts
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderNetStatus.stories.tsx
  src/renderer/components/header/HeaderNetStatus.style.tsx
  src/renderer/components/header/HeaderNetStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show network status
  package.json
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderNetStatus.stories.tsx
  src/renderer/components/header/HeaderNetStatus.tsx
  src/renderer/helpers/apiHelper.test.ts
  src/renderer/helpers/apiHelper.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Show offline status in menu items
  src/renderer/components/header/HeaderNetStatus.tsx
  src/renderer/components/header/util.test.ts
  src/renderer/components/header/util.ts
Due: cross-env NODE_ENV=development eslint --cache

added styles for active header drawer item
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
Due: cross-env NODE_ENV=development eslint --cache

added styles for active header drawer item (#298)
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestions
  package.json
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/util.ts
  src/renderer/helpers/apiHelper.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Network status of endpoints for Midgard + Binance (#297)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderNetStatus.stories.tsx
  src/renderer/components/header/HeaderNetStatus.style.tsx
  src/renderer/components/header/HeaderNetStatus.tsx
  src/renderer/components/header/util.test.ts
  src/renderer/components/header/util.ts
  src/renderer/helpers/apiHelper.test.ts
  src/renderer/helpers/apiHelper.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

typo for link to RELEASE.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

added normal transaction service
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction/index.ts
  src/renderer/services/binance/transaction/normal.transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

typo for link to RELEASE.md (#299)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

finished adding BL; added i18n
  src/renderer/components/uielements/input/Input.style.tsx
  src/renderer/components/uielements/input/index.tsx
  src/renderer/components/wallet/Send.style.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/transaction/index.ts
  src/renderer/services/binance/transaction/normal.transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Send transaction view: Add business logic #290 (#300)
  src/renderer/components/uielements/input/Input.style.tsx
  src/renderer/components/uielements/input/index.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.style.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Update README.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update README.md (#301)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

WIP: Update deps
  .github/workflows/build.yml
  .github/workflows/test.yml
  .gitignore
  .nvmrc
  package.json
  src/main/electron.ts
  src/main/menu/help.ts
  src/renderer/components/header/HeaderComponent.style.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/services/const.ts
  tsconfig.main.json
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove assets folder
  assets/icon.icns
  assets/icon.ico
  assets/icon.png
  assets/icons/1024x1024.png
  assets/icons/128x128.png
  assets/icons/16x16.png
  assets/icons/24x24.png
  assets/icons/256x256.png
  assets/icons/32x32.png
  assets/icons/48x48.png
  assets/icons/512x512.png
  assets/icons/64x64.png
  assets/icons/96x96.png
Due: none

Back to Electron 8.x and Node 13
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix references to assets
  .electronbuildrc
  src/main/electron.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

WIP: Filter out mini tokens
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Make filter mini tokens work
  src/renderer/helpers/binanceHelper.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Load `AssetDetail` + `PoolDetail` data in sequence
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `observableState<PoolsStateRD>`
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Don't filter mini token from wallet
  src/renderer/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `tap` functions
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "Rename `RUNE-A1F`->`RUNE-67C`"
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderPriceSelector.stories.tsx
  src/renderer/components/header/util.test.ts
  src/renderer/components/wallet/AssetsTable.stories.tsx
  src/renderer/const.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/pools/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix production build
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix test
  src/renderer/services/wallet/service.test.ts
Due: cross-env NODE_ENV=development eslint --cache
