Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Upgrade `xchain-*` packages (#1486)
  package.json
  src/renderer/services/clients/address.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[WIP] Re-try sending native RUNE tx
  src/renderer/helpers/rx/retryRequest.ts
  src/renderer/services/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

updated xchain-ethereum
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated xchain-ethereum (#1489)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Clean up
  src/renderer/helpers/rx/retryRequest.ts
  src/renderer/services/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

splitted AssetDetailsView to 2 separate view
  src/renderer/views/wallet/AssetDetails/AssetDetailsExternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetDetails/index.ts
  src/renderer/views/wallet/AssetDetails/types.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added a way to pass additional content to the AssetsDetail -> TxsTable
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsExternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetDetails/types.ts
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/renderer/views/wallet/AssetDetails/AssetDetailsExternalHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added a way to disable external/internal buttons
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetDetails/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added styles for imternal/external buttons
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.styles.ts
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

tmp
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Resolve] Re-send Native RUNE tx in case of failure (#1492)
  src/renderer/helpers/rx/retryRequest.ts
  src/renderer/services/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

added requests for getting liquidity_provider data
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Header] Use `strings` as props for boolean
  src/renderer/components/header/stats/HeaderStats.style.tsx
  src/renderer/components/header/stats/HeaderStats.tsx
Due: cross-env NODE_ENV=development eslint --cache

changed en translation
  src/renderer/i18n/en/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Add/update GH templates for better user support,
  .github/ISSUE_TEMPLATE/1-Bug_report.md
  .github/ISSUE_TEMPLATE/1-User_support.md
  .github/ISSUE_TEMPLATE/2-Bug_report.md
  .github/ISSUE_TEMPLATE/2-Feature_request.md
  .github/ISSUE_TEMPLATE/3-Feature_request.md
  .github/ISSUE_TEMPLATE/4-Issue.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Show confirmation modal when user presses remove wallet in either of the two remove wallet flows (#1479)
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added io-ts-types package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

refactore validations; passed data to the DepositView
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

reverted io-ts-types package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

simplified validations
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed coonsole.log
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Header] Use `strings` as props for boolean (#1501)
  src/renderer/components/header/stats/HeaderStats.style.tsx
  src/renderer/components/header/stats/HeaderStats.tsx
Due: cross-env NODE_ENV=development eslint --cache

added error message passing
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestions
  .github/ISSUE_TEMPLATE/2-Bug_report.md
  .github/ISSUE_TEMPLATE/3-Feature_request.md
  .github/ISSUE_TEMPLATE/4-Issue.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add / update GH templates for a better user support, (#1502)
  .github/ISSUE_TEMPLATE/1-Bug_report.md
  .github/ISSUE_TEMPLATE/1-User_support.md
  .github/ISSUE_TEMPLATE/2-Bug_report.md
  .github/ISSUE_TEMPLATE/2-Feature_request.md
  .github/ISSUE_TEMPLATE/3-Feature_request.md
  .github/ISSUE_TEMPLATE/4-Issue.md
Due: prettier --ignore-path .eslintignore --single-quote --write

changed getting newPoolCylce directly from mimir
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed tests
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

changed to AssetWithDecimal
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed typo
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

changed logic to find needed to get providerInfo
  package.json
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add review suggestion
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Deposit] Add business logic to check pending assets (#1503)
  package.json
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/deposit/DepositView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: [Deposit] Update UI to show pending assets
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to latest xchain-* libs (04-06-21)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

tmp
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to latest xchain-* libs (04-06-21) (#1508)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

liveData: introduced chainOnError
  src/renderer/helpers/rx/liveData.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored usePoolCycle
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

removed direct using of thorchain constants from PendingPools
  src/renderer/services/midgard/service.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache
