Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix: Filter needs to be overridden in some cases
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Add search option for pools (#2275)
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.helper.test.ts
  src/renderer/components/AssetsFilter/AssetsFilter.helper.ts
  src/renderer/components/AssetsFilter/AssetsFilter.stories.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/hooks/useMimirHalt.test.ts
  src/renderer/hooks/usePoolFilter.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.test.ts
  src/renderer/services/midgard/types.ts
  src/renderer/settings/style-util.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/shared/utils/wallet.test.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Watch / unwatch pools
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/usePoolWatchlist.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/storage/userNodes.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Filter `watched` pools
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/services/midgard/types.test.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Watch / unwatch pools (#2276)
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/usePoolWatchlist.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.test.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/storage/userNodes.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Persistent storage of watched pools
  src/main/api/fileStore.ts
  src/main/preload.ts
  src/renderer/contexts/MidgardContext.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/usePoolWatchlist.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/storage/index.ts
  src/renderer/services/storage/pools.ts
  src/renderer/services/storage/types.ts
  src/renderer/services/storage/userNodes.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated `removeStorage` functions
  src/renderer/services/storage/common.ts
  src/renderer/services/storage/userNodes.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix tests
  src/setupTests.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Persistent storage of watched pools (#2277)
  src/main/api/fileStore.ts
  src/main/preload.ts
  src/renderer/contexts/MidgardContext.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/usePoolWatchlist.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/storage/common.ts
  src/renderer/services/storage/index.ts
  src/renderer/services/storage/pools.ts
  src/renderer/services/storage/types.ts
  src/renderer/services/storage/userNodes.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/setupTests.ts
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

[PoolDetail] Watch / unwatch pool
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  CHANGELOG.md
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[PoolDetail] Watch / unwatch pool (#2278)
  CHANGELOG.md
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merge global and wallet settings
  CHANGELOG.md
  src/renderer/components/app/AppSettings.styles.ts
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/components/wallet/settings/UnlockWalletSettings.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/components/wallet/settings/index.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/app/SettingsView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Merge global and wallet settings (#2280)
  CHANGELOG.md
  src/renderer/components/app/AppSettings.styles.ts
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/components/wallet/settings/UnlockWalletSettings.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/components/wallet/settings/index.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/app/SettingsView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Make settings collapsable
  src/renderer/components/app/AppSettings.styles.ts
  src/renderer/components/app/AppSettings.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/settings/UnlockWalletSettings.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move App|WalletSettings to `settings` folder
  src/renderer/components/app/index.ts
  src/renderer/components/settings/AppSettings.stories.tsx
  src/renderer/components/settings/AppSettings.styles.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/settings/UnlockWalletSettings.tsx
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/settings/index.ts
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Merge common settings styles
  src/renderer/components/settings/AppSettings.styles.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/settings/Common.styles.ts
  src/renderer/components/settings/UnlockWalletSettings.tsx
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/views/wallet/WalletSettingsView.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Persistent state of collapseable settings
  src/renderer/components/settings/AppSettings.stories.tsx
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/settings/UnlockWalletSettings.tsx
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/AppContext.tsx
  src/renderer/hooks/useCollapsedSetting.ts
  src/renderer/services/app/service.ts
  src/renderer/services/app/types.ts
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Make settings collapsable (#2281)
  src/renderer/components/app/index.ts
  src/renderer/components/settings/AppSettings.stories.tsx
  src/renderer/components/settings/AppSettings.styles.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/settings/Common.styles.ts
  src/renderer/components/settings/UnlockWalletSettings.tsx
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/settings/index.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/settings/UnlockWalletSettings.tsx
  src/renderer/contexts/AppContext.tsx
  src/renderer/hooks/useCollapsedSetting.ts
  src/renderer/services/app/service.ts
  src/renderer/services/app/types.ts
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/wallet/WalletSettingsView.styles.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Settings] Filter acconts
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/services/app/service.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Settings] Filter accounts (#2282)
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/services/app/service.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update deps
  .nvmrc
  README.md
  package.json
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Update npm dependencies 06-06-2022 (#2284)
  .nvmrc
  README.md
  package.json
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v.0.15.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v.0.15.2 (#2286)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[Pools] Toggle filter buttons to remove clear btn
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Pools] Toggle filter buttons to remove clear btn (#2287)
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Handle Mimir flags for Cosmos
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Handle Mimir flags for Cosmos (#2289)
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Enable GAIA pools
  .env.sample
  src/renderer/assets/svg/asset-atom.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/label/Label.styles.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/const.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix/clean up: `weight` (Label), CHANGELOG, svg
  CHANGELOG.md
  src/renderer/assets/svg/asset-atom.svg
  src/renderer/components/uielements/assets/assetData/AssetData.styles.tsx
  src/renderer/components/uielements/assets/assetLabel/AssetLabel.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Enable `GAIA.*` pools (#2290)
  .env.sample
  CHANGELOG.md
  src/renderer/assets/svg/asset-atom.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetData/AssetData.styles.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/assets/assetLabel/AssetLabel.styles.ts
  src/renderer/components/uielements/label/Label.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/const.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Introduce CosmosClient
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce CosmosClient (#2291)
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Cosmos: Show address + balances
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/CosmosContext.tsx
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/cosmos/balances.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Cosmos: Show address + balances (#2292)
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/CosmosContext.tsx
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/cosmos/balances.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to lastest xchain-thorchain@0.25.1
  .vscode/extensions.json
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Upgrade to lastest xchain-thorchain@0.25.1 (#2293)
  .vscode/extensions.json
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare `mainnet`
  CHANGELOG.md
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/services/binance/ws.ts
  src/shared/ethereum/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare `mainnet` (#2294)
  CHANGELOG.md
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/services/binance/ws.ts
  src/shared/ethereum/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
