Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Don't render error view - which causes flickering
  src/renderer/views/wallet/FreezeView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix test + some clean up
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
  src/renderer/helpers/form/validation.ts
Due: cross-env NODE_ENV=development eslint --cache

refactor
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/utils.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix memory leak in `useRemoteImage`
  src/renderer/hooks/useRemoteImage.test.ts
  src/renderer/hooks/useRemoteImage.ts
Due: cross-env NODE_ENV=development eslint --cache

refactor
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/utils.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Bring tests back alive ...
  src/renderer/hooks/useRemoteImage.test.ts
Due: cross-env NODE_ENV=development eslint --cache

added pending state
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/modal/Modal.style.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix memory leak in `useRemoteImage` (#379)
  src/renderer/hooks/useRemoteImage.test.ts
  src/renderer/hooks/useRemoteImage.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to latest `antd@4.6.1`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix type issues in `onFinish` using latest `antd`
  src/renderer/components/wallet/NewMnemonicGenerate.tsx
  src/renderer/components/wallet/UnlockForm.style.tsx
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix error message "Function components cannot
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/AssetDetails.style.tsx
  src/renderer/components/wallet/AssetDetails.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestion
  src/renderer/components/wallet/txs/FreezeForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed swap
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/binance/swap.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/views/swap/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix Dropdown render (warn) messages + others by updating to latest `antd` (#380)
  package.json
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/AssetDetails.style.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/NewMnemonicGenerate.tsx
  src/renderer/components/wallet/UnlockForm.style.tsx
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use latest asgardex-binance@3.0.0
  package.json
  src/renderer/components/wallet/TransactionsTable.tsx
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Support `BigSource` for amounts
  package.json
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Freeze/Unfreeze: Consider fees (#378)
  src/renderer/components/uielements/button/button.style.ts
  src/renderer/components/wallet/txs/Form.style.tsx
  src/renderer/components/wallet/txs/Freeze.stories.tsx
  src/renderer/components/wallet/txs/Freeze.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/Send.stories.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/components/wallet/txs/util.test.ts
  src/renderer/components/wallet/txs/util.ts
  src/renderer/helpers/binanceHelper.ts
  src/renderer/helpers/form/validation.test.ts
  src/renderer/helpers/form/validation.ts
  src/renderer/services/binance/utils.ts
  src/renderer/views/wallet/FreezeView.tsx
  src/renderer/views/wallet/SendView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Run `yarn` to update `yarn.lock`
  yarn.lock
Due: none

Use latest asgardex-binance@3.0.0 (#381)
  package.json
  src/renderer/components/wallet/TransactionsTable.tsx
  src/renderer/services/binance/freeze.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Swap: Add all logic needed to swap assets #368 (#377)
  src/renderer/components/swap/CurrencyInfo/CurrrencyInfo.component.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/utils.ts
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/components/uielements/drag/Drag.tsx
  src/renderer/components/uielements/modal/Modal.style.tsx
  src/renderer/const.ts
  src/renderer/helpers/fpHelpers.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added missed sequenceTOption at binance/utils
  src/renderer/services/binance/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

added missed sequenceTOption at binance/utils (#391)
  src/renderer/services/binance/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

enabled asset searchh for AssetSelect
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/hooks/useOutsideClick.ts
Due: cross-env NODE_ENV=development eslint --cache

added translations for search text
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed translations
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added stories for AssetMenu
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed typo at de/common
  src/renderer/i18n/de/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Add filter option in asset dropdown #325 (#392)
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/hooks/useOutsideClick.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added tests for swap/utils
  src/renderer/components/swap/utils.test.ts
  src/renderer/components/swap/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

added error render at swap view
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added error render at swap view (#394)
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added tests for swap/utils (#393)
  src/renderer/components/swap/utils.test.ts
  src/renderer/components/swap/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest `asgardex-midgard@1.0.0`
  package.json
  src/renderer/services/midgard/service.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Consider `chaosnet` in `Network`
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/components/wallet/Settings.tsx
  src/renderer/services/app/service.test.ts
  src/renderer/services/app/service.ts
  src/renderer/services/app/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Consider `chaosnet` and use latest `asgardex-midgard` (#395)
  package.json
  src/renderer/components/wallet/Settings.stories.tsx
  src/renderer/components/wallet/Settings.tsx
  src/renderer/services/app/service.test.ts
  src/renderer/services/app/service.ts
  src/renderer/services/app/types.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/wallet/SettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added reloading balances after succeed transaction
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

`trimZeros` helper (incl. tests)
  src/renderer/helpers/stringHelper.test.ts
  src/renderer/helpers/stringHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Utils for `AssetAmountInput` incl. tests
  src/renderer/components/uielements/assets/assetAmountInput/util.test.ts
  src/renderer/components/uielements/assets/assetAmountInput/util.ts
Due: cross-env NODE_ENV=development eslint --cache

`AssetAmountInput` component
  src/renderer/components/uielements/assets/assetAmountInput/AssetAmountInput.stories.tsx
  src/renderer/components/uielements/assets/assetAmountInput/AssetAmountInput.style.ts
  src/renderer/components/uielements/assets/assetAmountInput/AssetAmountInput.tsx
Due: cross-env NODE_ENV=development eslint --cache
