Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

fixed tests
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/renderer/hooks/usePoolCycle.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored based on review suggestion
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed typo
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

added review suggestions
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: BUG: Pool Cycle not overridden by Mimi (#1504)
  src/renderer/helpers/rx/liveData.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Update UI for pending assets
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix race condition to get LP in DepositView
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update styles
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

updated xchain-ethereum
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated xchain-ethereum (#1510)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fixed hardcoded colors for labels
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Withdraw] Min. amount not visible (dark theme only)
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
Due: cross-env NODE_ENV=development eslint --cache

Bring `selectedPoolAsset$` back into game
  src/renderer/views/deposit/DepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update styles
  src/renderer/components/deposit/add/Deposit.style.ts
Due: cross-env NODE_ENV=development eslint --cache

Update i18n, link asdx.exchange, reload pending assets
  src/main/api/url.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestion (part 1)
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

[Deposit] Update UI to show pending assets (#1505)
  src/main/api/url.ts
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Bump 0.3.0
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Use `1e8` decimal by default for pending assets
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare release v0.3.0 (#1513)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

WIP: Update to latest `xchain-thorchain@0.16.0`
  src/main/api/url.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest `xchain-thorchain@0.16.0`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: "[THORChain] Use viewblock explorer" (#1517)
  package.json
  src/main/api/url.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add review suggestion
  src/renderer/services/thorchain/thorNode.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: "Refactor pending asset data handling" (#1515)
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix url of recovering tool
  src/main/api/url.ts
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/const.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix import
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: "Broken link for Recovery Tool" (#1523)
  src/main/api/url.ts
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/Deposit.subcomponents.tsx
  src/renderer/const.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove `chaoset` from `Network`
  src/renderer/components/header/network/HeaderNetworkSelector.styles.ts
  src/renderer/components/header/network/HeaderNetworkSelector.tsx
  src/renderer/services/app/service.test.ts
  src/renderer/services/app/service.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/const.ts
  src/renderer/services/ethereum/common.ts
  src/shared/api/types.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove `chaoset` from `Network` (#1524)
  src/renderer/components/header/network/HeaderNetworkSelector.styles.ts
  src/renderer/components/header/network/HeaderNetworkSelector.tsx
  src/renderer/services/app/service.test.ts
  src/renderer/services/app/service.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/const.ts
  src/renderer/services/ethereum/common.ts
  src/shared/api/types.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix build (broken by #1524 before)
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix build (broken by #1524 before) (#1525)
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.3.1 (hotfix)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.3.1 (#1527)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

tmp
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/clients/transaction/history.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache
