Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

upgraded ts-jest
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded prettier and eslint-config-prettier
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded husky
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded @hot-loader/react-dom
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated testing deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated dev deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

@testing-library/react
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded electron-log
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

downgraded node typings to the 12.x.x
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated ethers
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

removed assets at the AddStake.drag
  src/renderer/components/stake/add/AddStake.tsx
Due: cross-env NODE_ENV=development eslint --cache

reverted postinstall script
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

removed assets at the AddStake.drag (#613)
  src/renderer/components/stake/add/AddStake.tsx
Due: cross-env NODE_ENV=development eslint --cache

Disable `REACT_DEVELOPER_TOOLS` temporary
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest electron@10.x
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix: craco: *** Cannot find ESLint loader (eslint-loader). ***
  craco.config.js
Due: cross-env NODE_ENV=development eslint --cache

Add comment about fix/workaround
  craco.config.js
Due: cross-env NODE_ENV=development eslint --cache

Update dependencies (2020-11-18) (#610)
  .eslintrc
  craco.config.js
  package.json
  src/main/electron.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/shared/error/ErrorView.style.ts
  src/renderer/components/shared/form/Form.style.tsx
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/helpers/rx/liveData.ts
  src/renderer/services/wallet/common.test.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/wallet/WalletView.tsx
  tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Extract service/binance into modules
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/fees.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/ws.ts
Due: cross-env NODE_ENV=development eslint --cache

Finish refactor of services/bnc
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/hooks/useSingleTxFee.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/fees.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/ws.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/fees/fees.helper.ts
  src/renderer/services/chain/fees/stake.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/stake/add/AddStakeView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
Due: cross-env NODE_ENV=development eslint --cache

`assetWB` -> `balances`
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/fees.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/ws.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename `services/bitcoin/context`
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/fees/fees.helper.ts
  src/renderer/services/chain/fees/stake.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Restructure `services/ethereum`
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Rename `services/bitcoin/context` (#615)
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/fees/fees.helper.ts
  src/renderer/services/chain/fees/stake.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Restructure `services/ethereum` (#617)
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor structure of `services/binance` modules (#614)
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/hooks/useSingleTxFee.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/fees.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/binance/ws.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/fees/fees.helper.ts
  src/renderer/services/chain/fees/stake.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/context.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/stake/add/AddStakeView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

added redirect to the previous page after wallet unlock
  src/renderer/components/wallet/add/AddWallet.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/url.helper.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added tests for getUrlSearchParam
  src/renderer/helpers/url.helper.test.ts
  src/renderer/helpers/url.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Unlock wallet: Re-direct to previous view #523 (#618)
  src/renderer/components/wallet/add/AddWallet.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/url.helper.test.ts
  src/renderer/helpers/url.helper.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract common client services
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/clients/common.ts
  src/renderer/services/clients/index.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/types.ts
  src/renderer/services/wallet/common.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Common address$ handling
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/clients/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/wallet/common.ts
Due: cross-env NODE_ENV=development eslint --cache

`assetsWB` -> `balances`
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Extract more common client services (#619)
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/clients/common.ts
  src/renderer/services/clients/index.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/common.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce thorchain client (xchainjs)
  package.json
  src/renderer/App.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Extract common types to `clients/types`
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

ledgerjs integration, getting btc address from ledger devices
  .storybook/preview.tsx
  package.json
  src/main/api/hdwallet.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/preload.ts
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/setupTests.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Clean up
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

added mapLeft to the liveData
  src/renderer/helpers/rx/liveData.ts
Due: cross-env NODE_ENV=development eslint --cache

removed subscription of tx events from binance
  src/renderer/components/swap/Swap.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
