Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Fix i18n
  src/renderer/i18n/en/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestions
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix text color of funds cap label
  src/renderer/components/pool/FundsCap.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Get gas rates from `inbound_addresses` (#1385)
  src/renderer/components/pool/FundsCap.style.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/main/api/appUpdate.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp deisabled another OSs
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

clean up
  package.json
  src/main/api/appUpdate.ts
  src/main/electron.ts
  src/renderer/components/AppUpdate/AppUpdateModal.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/update.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/update.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/update.ts
  src/renderer/i18n/types.ts
  src/renderer/services/appUpdate/service.ts
  src/renderer/views/app/AppUpdateModalView.tsx
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fixed translations
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Better fee handling for swap
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

v14
  package.json
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

v15
  .electronbuildrc
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

v16
  package.json
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added a way to mock update info while developing
  package.json
  public/dev-app-update.yml
  release-info-mock/latest-mac.yml
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

fixed i18n; changed goToUpdates cb
  src/renderer/components/AppUpdate/AppUpdateModal.tsx
  src/renderer/views/app/AppUpdateModalView.tsx
Due: cross-env NODE_ENV=development eslint --cache

v17
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

fixed package.json
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

reverted menu/view
  src/main/menu/view.ts
Due: cross-env NODE_ENV=development eslint --cache

added missed mock files
  release-info-mock/latest-linux.yml
  release-info-mock/latest.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

added loading info directly from GH
  dev-app-update.yml
  index.js
  package.json
  public/dev-app-update.yml
  release-info-mock/latest-linux.yml
  release-info-mock/latest-mac.yml
  release-info-mock/latest.yml
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

changed i18n; clean up
  src/main/ipc/messages.ts
  src/main/preload.ts
  src/renderer/components/AppUpdate/AppUpdateModal.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/update.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/update.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

reverted version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

removed dev-app-update
  dev-app-update.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

added description to readme about how to check auto-update
  .gitignore
  README.md
  dev-app-update.sample.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

WIP: Update fee handling for swap
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/const.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Revert `DEFAULT_NETWORK`
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

More refactor: Extend SwapFee to include asset,
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed type at readme
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

refactored check for updates to be triggered every 6 hours; moved logic to the useAppUpdate from services/appUpdate
  src/main/api/appUpdate.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/preload.ts
  src/renderer/contexts/AppContext.tsx
  src/renderer/hooks/useAppUpdate.ts
  src/renderer/services/appUpdate/index.ts
  src/renderer/services/appUpdate/service.ts
  src/renderer/views/app/AppUpdateModalView.tsx
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored AppUpdateModal to be an Alert component
  src/renderer/components/AppUpdate/AppUpdate.styles.ts
  src/renderer/components/AppUpdate/AppUpdate.tsx
  src/renderer/components/AppUpdate/AppUpdateModal.tsx
  src/renderer/components/AppUpdate/index.ts
  src/renderer/views/app/AppUpdateView.tsx
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Handle min. amount to swap
  src/renderer/components/swap/Swap.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

updated i18n
  src/renderer/components/AppUpdate/AppUpdate.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/update.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/update.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/update.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added ExternalLink icon to the ok button
  src/renderer/components/AppUpdate/AppUpdate.styles.ts
  src/renderer/components/AppUpdate/AppUpdate.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

added error handling for AppUpdate
  package.json
  src/renderer/components/AppUpdate/AppUpdate.styles.ts
  src/renderer/components/AppUpdate/AppUpdate.tsx
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/en/update.ts
  src/renderer/i18n/fr/update.ts
  src/renderer/i18n/ru/update.ts
  src/renderer/i18n/types.ts
  src/renderer/views/app/AppUpdateView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added stories for AppUpdate
  src/renderer/components/AppUpdate/AppUpdate.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

reverted package version
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

clean up
  src/main/api/appUpdate.ts
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

autoupdate logger settings only for dev
  src/main/api/appUpdate.ts
Due: cross-env NODE_ENV=development eslint --cache

changed i18n
  src/renderer/i18n/de/update.ts
Due: cross-env NODE_ENV=development eslint --cache

text v0.1.1
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write
