Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

removed commented code
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated AssetsTable
  src/renderer/components/wallet/assets/AssetsTable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTable.style.tsx
  src/renderer/components/wallet/assets/AssetsTable.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles of tab
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update `sortBalances` to accept orders (tickers)
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor business logic to get all needed data
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added useCbOnResize hook
  src/renderer/hooks/useCbOnResize.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored PoolDetails component
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.style.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed compile issues
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Wallet: AssetsTableCollapsable - business logic (#477)
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
  src/renderer/components/wallet/assets/AssetsTable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTable.style.tsx
  src/renderer/components/wallet/assets/AssetsTable.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added value formatting
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/const.ts
  src/renderer/helpers/numberHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Add missing address
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

refactored tooltip show strategy
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed translations for stake
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
Due: cross-env NODE_ENV=development eslint --cache

added test for abbreviateNumber helper
  src/renderer/helpers/numberHelper.test.ts
  src/renderer/helpers/numberHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Add missing address (#478)
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Stake UI: Add / style elements pool details / stats (#474)
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.style.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.style.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/const.ts
  src/renderer/helpers/numberHelper.test.ts
  src/renderer/helpers/numberHelper.ts
  src/renderer/hooks/useCbOnResize.ts
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Observables for BTC transactions
  package.json
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update yarn.lock
  yarn.lock
Due: none

Use latest asgardex-bitcoin
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add business logic for BTC transactions (#481)
  package.json
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/wallet/balances.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added loading data for pool details
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/services/const.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
  src/renderer/views/stake/StakeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed review issues
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/const.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
  src/renderer/views/stake/StakeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Stake: Add business logic to load / display data for pool details #440 (#482)
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/const.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
  src/renderer/views/stake/StakeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added loading state for Pool details view
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/const.ts
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added remote data processing
  src/renderer/const.ts
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add remote data processing for pool details (#483)
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/uielements/label/label.style.ts
  src/renderer/components/uielements/label/label.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/const.ts
  src/renderer/views/stake/PoolDetails/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve multichain handling
  package.json
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/const.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/types.ts
  src/renderer/services/utils.test.ts
  src/renderer/services/utils.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/SendView.tsx
  src/renderer/views/wallet/WalletView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix test of `getCurrencySymbolByAssetString`
  src/renderer/helpers/assetHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestions
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Use latest `asgardex-util` from its master
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Improve multi-chain handling (#484)
  package.json
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/Send.tsx
  src/renderer/components/wallet/txs/SendFormBTC.txt
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/types.ts
  src/renderer/services/utils.test.ts
  src/renderer/services/utils.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/SendView.tsx
  src/renderer/views/wallet/WalletView.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix BignumberInput: Function components cannot be
  src/renderer/components/uielements/input/InputBigNumber.stories.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `EMPY_ASSET`
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/pools/types.ts
  src/renderer/views/pools/util.test.ts
  src/renderer/views/pools/utils.ts
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

Revert changes to have optional Pool
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/pools/types.ts
  src/renderer/views/pools/util.test.ts
  src/renderer/views/pools/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

i18n RU
  src/renderer/i18n/ru/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Get rid of `EMPTY_ASSET` and other improvements (#486)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/txs/FreezeForm.tsx
  src/renderer/components/wallet/txs/SendForm.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/binanceHelper.test.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/pools/util.test.ts
  src/renderer/views/pools/utils.ts
  src/shared/mock/assets.ts
Due: cross-env NODE_ENV=development eslint --cache

Update to latest asgardex-utils
  package.json
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/pools/utils.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix test
  src/renderer/services/wallet/util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Update to latest asgardex-utils (#487)
  package.json
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/views/pools/utils.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write
