Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update reloading + fee error
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

deps updated: - craco/craco - openapitools/openapi-generator-cli - antd - axios - electron-log - ethers - fp-ts - fp-ts-rxjs - react-intl - styled-components - typescript
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Finish fee + min. value handling for deposit
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

deps updated: - concurrently - eslint-config-prettier - eslint-plugin-prettier - node-abi - testcafe - ts-jest - webpack-cli
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

deps updated: - electron - electron-builder
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated fs-extra
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated @types/node
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add review suggestions
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

[Deposit] Refactor fee + min. value handling (#1404)
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Swap: Fix minBalanceToSwap
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Add / test minBalanceToDeposit
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

updated lint-staged and git-revision-webpack-plugin
  craco.config.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Test `minAssetAmountToDepositMax1e8` + `minRuneAmountToDeposit`
  src/renderer/components/deposit/add/Deposit.helper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Revert "updated @types/node"
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

update deps 07 05 2021 (#1411)
  craco.config.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Test deposit fee helpers (#1412)
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

updated prettier to 2.3.0
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

added .git-blame-ignore-revs file
  .git-blame-ignore-revs
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Update services for withdraw fees
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fixes for `symDepositFees$`
  src/renderer/services/chain/fees/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Empty AsymWithdrawXYZ components/views/stories
  src/renderer/components/deposit/withdraw/AsymWithdraw.stories.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.tsx
  src/renderer/views/deposit/withdraw/AsymWithdrawView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finalize fee handling
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/index.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Empty AsymWithdrawXYZ components/views/stories (#1415)
  src/renderer/components/deposit/withdraw/AsymWithdraw.stories.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.tsx
  src/renderer/views/deposit/withdraw/AsymWithdrawView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Test `sumWithdrawFees` + some clean up
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/withdraw/Withdraw.helper.test.ts
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove log statement
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestion
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix link
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

[Withdraw] Refactor fee handling (#1414)
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.test.ts
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract `priceFeeAmountForAsset`
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `minAssetAmountToWithdrawMax1e8` + `minRuneAmountToWithdraw`
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Handle min. values to withdraw
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finalize handling of min. value for withdraw
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.stories.tsx
  src/renderer/components/deposit/withdraw/Withdraw.styles.ts
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/uielements/slider/Slider.style.tsx
  src/renderer/components/uielements/slider/Slider.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

Review suggestion
  src/renderer/services/chain/fees/common.ts
Due: cross-env NODE_ENV=development eslint --cache

added warning message for halted chains to the AppView
  src/renderer/helpers/fpHelpers.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Deposit] Fix check for approval
  src/renderer/components/deposit/add/Deposit.style.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
