Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare 0.1.0-alpha.1
  package.json
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix data handling for lastblock
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/Action.ts
  src/renderer/types/generated/midgard/models/Coin.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItemPool.ts
  src/renderer/types/generated/midgard/models/Int64Constants.ts
  src/renderer/types/generated/midgard/models/LiquidityHistoryItem.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/SwapMetadata.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove log statements
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix tests
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

tmp
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Add review suggestion
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

disable percentage slider for zero balance
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show `--` for non deepest pools
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix data handling for lastblock (#1267)
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/Action.ts
  src/renderer/types/generated/midgard/models/Coin.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItemPool.ts
  src/renderer/types/generated/midgard/models/Int64Constants.ts
  src/renderer/types/generated/midgard/models/LiquidityHistoryItem.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/SwapMetadata.ts
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare 0.1.0-alpha.1 (#1266)
  package.json
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Build for M1
  .electronbuildrc
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove invalid comment
  .electronbuildrc
Due: none

fix comments
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

first working version
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/clients/address.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added reset methid to triggerStream helper
  src/renderer/helpers/stateHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

fix redundant data loading for chart's data
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

added comments
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

use fatest fee when deposit
  src/renderer/services/chain/const.ts
Due: cross-env NODE_ENV=development eslint --cache

fix redundant data loading for chart's data (#1274)
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

renamings
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix pool detail tiles ux issue
  src/renderer/components/uielements/poolStatus/PoolStatus.style.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `arch` to artifact name
  .electronbuildrc
Due: none

target dmg
  .electronbuildrc
Due: none

Setup python3
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

refactor due review suggestions
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

changed triggerStream to the observableState for reloadBalances$
  src/renderer/helpers/stateHelper.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/types.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

replaced plain strings with Chains' strings
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/renderer/services/clients/address.ts
  src/renderer/services/clients/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

apply fastest estimated fee for ETH only
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/fees/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

add comments and use fastest estimated fee for ETH swap as well
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Try python 3.9
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Disable percentage slider in case of zero balances (#1271)
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix pool detail tiles ux issue (#1277)
  src/renderer/components/uielements/poolStatus/PoolStatus.style.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

replaced ReloadType reloadBalances$ observableState to boolean
  src/renderer/services/binance/balances.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/types.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

renamed resetReload to resetReloadBalances
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

renamed resetReload to resetReloadBalances for [chain]/balances.ts
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Improve handling of ETH balances by switching network (#1268)
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/services/binance/balances.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/balances.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/clients/balances.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/balances.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Set `ARCHFLAGS`
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
