Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Use ActionButton in ActivePools
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use ActionButton in PoolTitle
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix AssetIcon style
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce ActionButton (#2452)
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.styles.ts
  src/renderer/components/uielements/button/ActionButton.stories.tsx
  src/renderer/components/uielements/button/ActionButton.tsx
  src/renderer/components/uielements/button/ManageButton.stories.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Cleanup
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Direct entry to wallet actions from assets table
  src/renderer/components/uielements/button/ActionButton.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/send/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add wallet actions to assets table (#2455)
  CHANGELOG.md
  src/renderer/components/uielements/button/ActionButton.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/Interact/InteractView.tsx
  src/renderer/views/wallet/send/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Send `ASGARDEX_IDENTIFIER` in header
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/const.ts
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thornode.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor PoolsOverview
  src/renderer/views/pools/PoolsOverview.styles.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor PoolsOverview (#2465)
  src/renderer/views/pools/PoolsOverview.styles.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Savers overview
  src/renderer/helpers/poolHelper.ts
  src/renderer/helpers/savers.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/savers/Savers.types.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Savers table columns
  src/renderer/components/uielements/button/ActionButton.tsx
  src/renderer/helpers/savers.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Update to latest THORNode@1.100.0 (broken)
  package.json
  src/renderer/types/generated/thornode/apis/NetworkApi.ts
  src/renderer/types/generated/thornode/apis/TSSApi.ts
  src/renderer/types/generated/thornode/apis/ThornamesApi.ts
  src/renderer/types/generated/thornode/models/InboundAddress.ts
  src/renderer/types/generated/thornode/models/KeygenMetric.ts
  src/renderer/types/generated/thornode/models/MetricsResponse.ts
  src/renderer/types/generated/thornode/models/NodeKeygenMetric.ts
  src/renderer/types/generated/thornode/models/Thorname.ts
  src/renderer/types/generated/thornode/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix build
  src/renderer/components/pool/PoolDetails.helpers.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Savers overview (pt.1) (#2466)
  src/renderer/components/uielements/button/ActionButton.tsx
  src/renderer/helpers/poolHelper.ts
  src/renderer/helpers/savers.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/Savers.types.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix `getNodeInfos$`
  src/renderer/services/thorchain/thornode.ts
Due: cross-env NODE_ENV=development eslint --cache

`apr` + `filled` data
  src/renderer/helpers/savers.ts
  src/renderer/views/savers/Savers.types.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix build
  src/renderer/components/pool/PoolDetails.helpers.ts
  src/renderer/helpers/poolHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Get `MaxSynthPerPoolDepth` from constants
  src/renderer/helpers/savers.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/hooks/useSynthConstants.ts
  src/renderer/services/wallet/types.ts
  src/renderer/types/generated/thornode/models/ConstantsResponse.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Consider `MAXSYNTHPERPOOLDEPTH` from mimir
  src/renderer/helpers/fp/eq.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/hooks/useSynthConstants.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

- 100% RU translation
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Translation ru3 dec (#2471)
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Send `ASGARDEX_IDENTIFIER` in header (#2464)
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/const.ts
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thornode.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove `count`
  src/renderer/helpers/savers.ts
  src/renderer/views/savers/Savers.types.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update source of TN open api
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Savers `apr` + `filled` data (#2470)
  package.json
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/savers.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/hooks/useSynthConstants.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/services/wallet/types.ts
  src/renderer/types/generated/thornode/models/ConstantsResponse.ts
  src/renderer/views/savers/Savers.types.ts
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve: [ETH] Use `depositWithExpiry` to deposit
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/services/ethereum/transaction.ts
  src/shared/ethereum/abi.ts
  src/shared/ethereum/const.ts
  src/shared/ethereum/provider.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/services/ethereum/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [ETH] Use `depositWithExpiry` to deposit (#2473)
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/services/ethereum/transaction.ts
  src/shared/ethereum/abi.ts
  src/shared/ethereum/const.ts
  src/shared/ethereum/provider.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce `register9R`
  package.json
  src/index.ts
  src/main/electron.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/const.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thornode.ts
  src/shared/api/ninerealms.ts
  src/shared/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Refactor middleware to be generic
  src/index.ts
  src/main/electron.ts
  src/renderer/index.tsx
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thornode.ts
  src/shared/api/ninerealms.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce `register9R` (#2474)
  package.json
  src/main/electron.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/const.ts
  src/renderer/index.tsx
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thornode.ts
  src/shared/api/ninerealms.ts
  src/shared/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
