Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove deprecated stuff
  azure-pipelines.yml
  babel.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Run testcafe w/ fixed version of
  .browserslistrc
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

React router, typed routes, antd
  .browserslistrc
  package.json
  src/App.css
  src/App.style.tsx
  src/App.tsx
  src/AppContent.tsx
  src/AppHeader.tsx
  src/content/ContentA.tsx
  src/content/ContentB.tsx
  src/content/NoContent.tsx
  src/index.tsx
  src/logo.svg
  src/routes.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Basic structure for contents
  src/App.tsx
  src/AppContent.tsx
  src/AppHeader.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/shared/.gitkeep
  src/components/stake/.gitkeep
  src/components/swap/.gitkeep
  src/components/wallet/.gitkeep
  src/content/ContentA.tsx
  src/routes.ts
  src/views/NoContentView.tsx
  src/views/View.style.tsx
  src/views/View.tsx
  src/views/ViewRoutes.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/stake/StakeView.tsx
  src/views/swap/SwapHomeView.tsx
  src/views/swap/SwapView.tsx
  src/views/wallet/WalletHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update styles + add index root
  src/App.style.tsx
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/routes.ts
  src/views/View.style.tsx
  src/views/View.tsx
  src/views/ViewRoutes.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add ConnectionContext
  package.json
  src/App.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/ConnectionContext.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add ConnectionContext (#17)
  package.json
  src/App.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/ConnectionContext.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Cleanup ConnectionContext
  src/components/Header.tsx
  src/contexts/ConnectionContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

PoolsContext
  package.json
  src/App.tsx
  src/contexts/PoolsContext.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/swap/SwapHomeView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Refactor things out: MidgardService|MidgardContext
  src/App.tsx
  src/contexts/MidgardContext.tsx
  src/contexts/PoolsContext.tsx
  src/services/midgard.ts
  src/views/stake/StakeHomeView.tsx
  src/views/swap/SwapHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add MidgardContext + MidgardService (#18)
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/contexts/ConnectionContext.tsx
  src/contexts/MidgardContext.tsx
  src/services/midgard.ts
  src/views/stake/StakeHomeView.tsx
  src/views/swap/SwapHomeView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Generate Midgard API types
  .eslintignore
  package.json
  src/services/midgard.ts
  src/types/generated/midgard/.gitignore
  src/types/generated/midgard/.openapi-generator-ignore
  src/types/generated/midgard/.openapi-generator/VERSION
  src/types/generated/midgard/apis/DefaultApi.ts
  src/types/generated/midgard/apis/DocumentationApi.ts
  src/types/generated/midgard/apis/SpecificationApi.ts
  src/types/generated/midgard/apis/index.ts
  src/types/generated/midgard/index.ts
  src/types/generated/midgard/models/AssetDetail.ts
  src/types/generated/midgard/models/BlockRewards.ts
  src/types/generated/midgard/models/BondMetrics.ts
  src/types/generated/midgard/models/Coin.ts
  src/types/generated/midgard/models/Event.ts
  src/types/generated/midgard/models/Gas.ts
  src/types/generated/midgard/models/InlineResponse200.ts
  src/types/generated/midgard/models/ModelError.ts
  src/types/generated/midgard/models/NetworkInfo.ts
  src/types/generated/midgard/models/Option.ts
  src/types/generated/midgard/models/PoolDetail.ts
  src/types/generated/midgard/models/StakersAddressData.ts
  src/types/generated/midgard/models/StakersAssetData.ts
  src/types/generated/midgard/models/StatsData.ts
  src/types/generated/midgard/models/ThorchainEndpoint.ts
  src/types/generated/midgard/models/ThorchainEndpoints.ts
  src/types/generated/midgard/models/Tx.ts
  src/types/generated/midgard/models/TxDetails.ts
  src/types/generated/midgard/models/index.ts
  src/types/generated/midgard/runtime.ts
  src/types/generated/midgard/tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add ThemeContext
  src/App.style.tsx
  src/App.tsx
  src/components/Footer.tsx
  src/contexts/ThemeContext.tsx
  src/themes/dark.ts
  src/themes/default.ts
  src/themes/light.ts
  src/themes/types.ts
  src/views/stake/StakeHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix switching theme
  src/App.style.tsx
  src/App.tsx
  src/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Generate Midgard API types (#19)
  .eslintignore
  package.json
  src/services/midgard.ts
  src/types/generated/midgard/.gitignore
  src/types/generated/midgard/.openapi-generator-ignore
  src/types/generated/midgard/.openapi-generator/VERSION
  src/types/generated/midgard/apis/DefaultApi.ts
  src/types/generated/midgard/apis/DocumentationApi.ts
  src/types/generated/midgard/apis/SpecificationApi.ts
  src/types/generated/midgard/apis/index.ts
  src/types/generated/midgard/index.ts
  src/types/generated/midgard/models/AssetDetail.ts
  src/types/generated/midgard/models/BlockRewards.ts
  src/types/generated/midgard/models/BondMetrics.ts
  src/types/generated/midgard/models/Coin.ts
  src/types/generated/midgard/models/Event.ts
  src/types/generated/midgard/models/Gas.ts
  src/types/generated/midgard/models/InlineResponse200.ts
  src/types/generated/midgard/models/ModelError.ts
  src/types/generated/midgard/models/NetworkInfo.ts
  src/types/generated/midgard/models/Option.ts
  src/types/generated/midgard/models/PoolDetail.ts
  src/types/generated/midgard/models/StakersAddressData.ts
  src/types/generated/midgard/models/StakersAssetData.ts
  src/types/generated/midgard/models/StatsData.ts
  src/types/generated/midgard/models/ThorchainEndpoint.ts
  src/types/generated/midgard/models/ThorchainEndpoints.ts
  src/types/generated/midgard/models/Tx.ts
  src/types/generated/midgard/models/TxDetails.ts
  src/types/generated/midgard/models/index.ts
  src/types/generated/midgard/runtime.ts
  src/types/generated/midgard/tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add ThemeContext (#21)
  src/App.style.tsx
  src/App.tsx
  src/components/Footer.tsx
  src/contexts/ThemeContext.tsx
  src/themes/dark.ts
  src/themes/default.ts
  src/themes/light.ts
  src/themes/types.ts
  src/views/stake/StakeHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add test for toggeling themes
  src/contexts/ThemeContext.test.tsx
  src/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated App.test.tsx
  src/App.test.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update test workflow
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Add status badge
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Typo
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Use yarn cache + cache node_modules
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove empty badges + Redux
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

GH actions for running unit tests + eslint (#22)
  .github/workflows/test.yml
  README.md
  src/App.test.tsx
  src/contexts/ThemeContext.test.tsx
  src/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update README w/ latest tech
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update README w/ latest tech (#23)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add I18nContext
  package.json
  src/App.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/I18nContext.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/i18n/index.ts
  src/i18n/types.ts
  src/views/stake/StakeHomeView.tsx
  tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add I18nContext (#31)
  package.json
  src/App.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/I18nContext.tsx
  src/i18n/en.ts
  src/i18n/fr.ts
  src/i18n/index.ts
  src/i18n/types.ts
  src/views/stake/StakeHomeView.tsx
  tsconfig.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Related to #32. Initial nested wallet routes implementation and mock wallet view.
  src/components/Header.tsx
  src/routes.ts
  src/views/ViewRoutes.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletHomeView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unused variable.
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce themes
  package.json
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/I18nContext.tsx
  src/contexts/ThemeContext.tsx
  src/types/declarations.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Install `@thorchain/asgardex-theme` from npm
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Remove unused file.
  src/views/wallet/WalletHomeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Feature/first wallet view (#33)
  src/components/Header.tsx
  src/routes.ts
  src/views/ViewRoutes.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletHomeView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update yarn.lock
  yarn.lock
Due: none

Fix test
  src/contexts/ThemeContext.test.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce themes (#34)
  package.json
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/contexts/I18nContext.tsx
  src/contexts/ThemeContext.test.tsx
  src/contexts/ThemeContext.tsx
  src/types/declarations.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

First working tables, views and routes.
  src/components/shared/CircleIcon/CircleIcon.tsx
  src/routes.ts
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add icon and componet styling as needed for basic view pattern
  src/components/shared/CircleIcon/CircleIcon.tsx
  src/components/shared/CoinIcons/DynamicCoin.style.tsx
  src/components/shared/CoinIcons/DynamicCoin.tsx
  src/helpers/colorHelpers.ts
  src/helpers/tokenHelpers.ts
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Adding data model types
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
