Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.9.1 (#2129)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Handle BCH Ledger address
  CHANGELOG.md
  README.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

REmove log statements + typo
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Handle BCH Ledger addresses (#2133)
  CHANGELOG.md
  README.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update Send{Form|View}BCH to handle Ledger
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/views/wallet/send/SendViewBCH.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Send Ledger BCH txs
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/const.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/haskoin.ts
  src/shared/api/thornode.ts
  src/shared/bitcoin/client.ts
  src/shared/litecoin/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix `amountToSend`
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/modal/tx/extra/SendAsset.tsx
  src/renderer/components/wallet/txs/interact/Interact.styles.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/Send.shared.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

`description` required + update CHANGELOG
  CHANGELOG.md
  src/renderer/components/modal/tx/extra/SendAsset.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [UNBOND] Send ZERO amount (#2137)
  CHANGELOG.md
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/modal/tx/extra/SendAsset.tsx
  src/renderer/components/wallet/txs/interact/Interact.styles.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/Send.shared.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Show APY at pools overview
  src/renderer/helpers/fp/ord.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Show apy on large screens only
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Show APY at pools overview (#2138)
  CHANGELOG.md
  src/renderer/helpers/fp/ord.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Handle DOGE Ledger addresses
  CHANGELOG.md
  README.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/doge/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Handle DOGE Ledger addresses (#2139)
  CHANGELOG.md
  README.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/doge/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

xchain-bch@0.13.0-alpha.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix estimated fees for BTC
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix estimated fees for BTC (#2140)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update wallet.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Update swap.ts
  src/renderer/i18n/fr/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update pools.ts
  src/renderer/i18n/fr/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update ledger.ts
  src/renderer/i18n/fr/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Update fr translation 15-03-2022 (#2141)
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Update SendFormDOGE to handle Ledger
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
Due: cross-env NODE_ENV=development eslint --cache

Send / deposit Ledger DOGE txs
  package.json
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/const.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/doge/common.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/doge/types.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/blockcypher.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[Ledger] Handle DOGE txs (#2142)
  package.json
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/const.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/doge/common.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/doge/types.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/blockcypher.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable BCH Ledger temporary
  README.md
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG + bump 0.10.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Increase timeout for yarn on Windows
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.10.0 (#2144)
  .github/workflows/build-win.yml
  CHANGELOG.md
  README.md
  package.json
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-enable Ledger BCH
  README.md
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Ledger] Remove address from memory
  CHANGELOG.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/api/ledger/types.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Ledger] Remove address from memory (#2146)
  CHANGELOG.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance/address.ts
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/thorchain/address.ts
  src/main/api/ledger/types.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Make Ledger BCH work
  package.json
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/renderer/services/bitcoincash/common.ts
  src/shared/api/thornode.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[Ledger] Send BCH txs (#2136)
  package.json
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/const.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/wallet/send/SendViewBCH.tsx
  src/shared/api/haskoin.ts
  src/shared/api/thornode.ts
  src/shared/bitcoin/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
