Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Fix `KeystoreClientStates` (#2330)
  src/renderer/hooks/useKeystoreClientStates.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles of `IncentivePendulum`
  src/renderer/components/pool/IncentivePendulum.stories.tsx
  src/renderer/components/pool/IncentivePendulum.styles.ts
  src/renderer/components/pool/IncentivePendulum.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Website url is deprecated
  src/main/api/url.ts
  src/main/menu/help.ts
  src/renderer/components/footer/Footer.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

README: Remove Terra from wallet section
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

WIP: Handle multiple keystores
  src/main/api/keystore.ts
  src/main/electron.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Website url is deprecated (#2333)
  README.md
  src/main/api/url.ts
  src/main/menu/help.ts
  src/renderer/components/footer/Footer.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Continue on multiple keystores + accounts
  src/main/api/keystore.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/utils/file.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.ts
  src/renderer/helpers/fp/from.test.ts
  src/renderer/helpers/fp/from.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/storybook/argTypes.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
  src/shared/utils/fp.test.ts
  src/shared/utils/fp.ts
  src/shared/utils/guard.ts
  src/shared/utils/keystore.test.ts
  src/shared/utils/keystore.ts
  src/shared/utils/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor keystore/account handling to simplify
  src/main/api/keystore.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/utils/file.ts
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
  src/renderer/storybook/argTypes.ts
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/UnlockView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
  src/shared/mock/wallet.ts
  src/shared/utils/keystore.test.ts
  src/shared/utils/keystore.ts
Due: cross-env NODE_ENV=development eslint --cache

Make multiple keystore file handling work
  src/main/api/keystore.ts
  src/main/electron.ts
  src/main/utils/file.ts
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/shared/utils/fp.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/main/api/keystore.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/services/wallet/keystore.ts
  src/shared/api/io.test.ts
Due: cross-env NODE_ENV=development eslint --cache

[Multi-accounts]: Handle multiple keystore based accounts (#2334)
  src/main/api/keystore.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/utils/file.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/txs/interact/Interact.helpers.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/fp/from.test.ts
  src/renderer/helpers/fp/from.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/storybook/argTypes.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/UnlockView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
  src/shared/mock/wallet.ts
  src/shared/utils/fp.test.ts
  src/shared/utils/fp.ts
  src/shared/utils/guard.ts
  src/shared/utils/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce Tailwind
  package.json
  postcss.config.js
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.ts
  src/renderer/index.css
  src/renderer/views/app/AppView.tsx
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Quick fix: `readJSON`
  src/main/api/keystore.ts
  src/main/utils/file.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Introduce Tailwind (#2337)
  package.json
  postcss.config.js
  src/main/api/keystore.ts
  src/main/utils/file.ts
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.ts
  src/renderer/index.css
  src/renderer/views/app/AppView.tsx
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add wallet name while importing keystore
  .storybook/main.js
  .storybook/preview.tsx
  package.json
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add wallet name while importing keystore (#2338)
  .storybook/main.js
  .storybook/preview.tsx
  package.json
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Handling wallet name for importing phrase
  src/main/api/keystore.ts
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/components/uielements/input/overrides.css
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/unlock/UnlockForm.styles.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
  src/shared/utils/wallet.ts
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix import + i18n
  src/main/api/keystore.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Handling wallet name for importing phrase (#2339)
  src/main/api/keystore.ts
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/components/uielements/input/overrides.css
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/unlock/UnlockForm.styles.ts
  src/renderer/i18n/de/update.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
  src/shared/utils/wallet.ts
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Re-style `NoWalletView`
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.css
  src/renderer/views/wallet/NoWalletView/NoWalletView.styles.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Re-style `NoWalletView` (#2340)
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.css
  src/renderer/views/wallet/NoWalletView/NoWalletView.styles.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

InputPassword (Tailwind only, no antd)
  src/renderer/assets/svg/icon-eye-hide.svg
  src/renderer/assets/svg/icon-eye.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/input/Input.types.ts
  src/renderer/components/uielements/input/InputPassword.stories.tsx
  src/renderer/components/uielements/input/InputPassword.tsx
  src/renderer/components/uielements/input/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Restyle/refactor UnlockForm
  package.json
  src/renderer/components/wallet/unlock/UnlockForm.stories.tsx
  src/renderer/components/wallet/unlock/UnlockForm.styles.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Quick fix styles of NoWalletView
  src/renderer/views/wallet/NoWalletView/NoWalletView.css
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix test
  jest.config.js
  src/renderer/components/wallet/phrase/NewPhraseConfirm.helper.test.ts
  src/renderer/components/wallet/phrase/NewPhraseConfirm.helper.ts
  src/renderer/components/wallet/phrase/NewPhraseConfirm.tsx
  src/renderer/components/wallet/phrase/NewPhraseConfirm.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix missing import
  src/renderer/components/wallet/phrase/NewPhraseConfirm.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix import
  src/renderer/components/wallet/phrase/NewPhraseConfirm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix import (again)
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/phrase/Phrase.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce `InputPassword` + Restyle/refactor `UnlockForm` (#2342)
  jest.config.js
  package.json
  src/renderer/assets/svg/icon-eye-hide.svg
  src/renderer/assets/svg/icon-eye.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/input/Input.types.ts
  src/renderer/components/uielements/input/InputPassword.stories.tsx
  src/renderer/components/uielements/input/InputPassword.tsx
  src/renderer/components/uielements/input/index.tsx
  src/renderer/components/wallet/phrase/NewPhraseConfirm.helper.test.ts
  src/renderer/components/wallet/phrase/NewPhraseConfirm.helper.ts
  src/renderer/components/wallet/phrase/NewPhraseConfirm.tsx
  src/renderer/components/wallet/phrase/NewPhraseConfirm.types.ts
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/phrase/Phrase.tsx
  src/renderer/components/wallet/unlock/UnlockForm.stories.tsx
  src/renderer/components/wallet/unlock/UnlockForm.styles.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.css
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Base|Flat|Border|LinkButton
  src/renderer/assets/svg/icon-loading.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/button/BaseButton.stories.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/uielements/button/BorderButton.stories.tsx
  src/renderer/components/uielements/button/BorderButton.tsx
  src/renderer/components/uielements/button/Button.tsx
  src/renderer/components/uielements/button/Button.types.ts
  src/renderer/components/uielements/button/ButtonLegacy.stories.tsx
  src/renderer/components/uielements/button/FlatButton.stories.tsx
  src/renderer/components/uielements/button/FlatButton.tsx
  src/renderer/components/uielements/button/LegacyButton.stories.tsx
  src/renderer/components/uielements/button/LinkButton.stories.tsx
  src/renderer/components/uielements/button/LinkButton.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.stories.tsx
  src/renderer/components/uielements/button/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Use new buttons in AppSettings + UnlockForm
  src/renderer/components/settings/AppSettings.styles.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Base|Flat|Border|LinkButton(s) (#2343)
  src/renderer/assets/svg/icon-loading.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/settings/AppSettings.styles.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/uielements/button/BaseButton.stories.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/uielements/button/BorderButton.stories.tsx
  src/renderer/components/uielements/button/BorderButton.tsx
  src/renderer/components/uielements/button/Button.tsx
  src/renderer/components/uielements/button/Button.types.ts
  src/renderer/components/uielements/button/ButtonLegacy.stories.tsx
  src/renderer/components/uielements/button/FlatButton.stories.tsx
  src/renderer/components/uielements/button/FlatButton.tsx
  src/renderer/components/uielements/button/LegacyButton.stories.tsx
  src/renderer/components/uielements/button/LinkButton.stories.tsx
  src/renderer/components/uielements/button/LinkButton.tsx
  src/renderer/components/uielements/button/MaxBalanceButton.stories.tsx
  src/renderer/components/uielements/button/index.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/views/wallet/NoWalletView/NoWalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show wallet name
  package.json
  src/renderer/assets/svg/icon-swap.svg
  src/renderer/assets/svg/icon-wallet.svg
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/stringHelper.test.ts
  src/renderer/helpers/stringHelper.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Show wallet name (#2345)
  package.json
  src/renderer/assets/svg/icon-swap.svg
  src/renderer/assets/svg/icon-wallet.svg
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/button/BaseButton.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/helpers/stringHelper.test.ts
  src/renderer/helpers/stringHelper.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

keystoreAccountsUI$
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

`useKeystoreAccounts`/`useKeystoreState` hooks
  src/renderer/hooks/useKeystoreAccounts.ts
  src/renderer/hooks/useKeystoreState.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/UnlockView.tsx
Due: cross-env NODE_ENV=development eslint --cache
