Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Improve data handling of `PoolDetails`
  CHANGELOG.md
  src/renderer/components/pool/PoolCards.styles.ts
  src/renderer/components/pool/PoolCards.tsx
  src/renderer/components/pool/PoolDetails.helpers.ts
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/hooks/useMidgardHistoryActions.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pool/PoolChartView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/pool/PoolHistoryView.types.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Improve data handling of `PoolDetails` (#2235)
  CHANGELOG.md
  src/renderer/components/pool/PoolCards.styles.ts
  src/renderer/components/pool/PoolCards.tsx
  src/renderer/components/pool/PoolDetails.helpers.ts
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.styles.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/hooks/useMidgardHistoryActions.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pool/PoolChartView.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/pool/PoolHistoryView.types.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Migrate `react-chartjs-2` to v4.x
  package.json
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/services/midgard/pools.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Make rendering charts work again
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/views/pool/PoolChartView.tsx
Due: cross-env NODE_ENV=development eslint --cache

`useTheme`
  src/renderer/components/header/theme/HeaderTheme.tsx
  src/renderer/hooks/useTheme.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix theme switch for charts
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Border color of PoolCards
  src/renderer/components/uielements/poolStatus/PoolStatus.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Migrate `react-chartjs` to v4.x + update styles + improve error handling (#2236)
  package.json
  src/renderer/components/header/theme/HeaderTheme.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.types.ts
  src/renderer/components/uielements/poolStatus/PoolStatus.styles.tsx
  src/renderer/hooks/useTheme.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/pool/PoolChartView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Cache chart data
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
  src/renderer/views/pool/PoolChartView.types.ts
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

More filter for chart data: 7D 1M 3M 1Y ALL
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.types.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[PoolDetail] Improve Chart -> fast loading + more filter (#2240)
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.types.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
  src/renderer/views/pool/PoolChartView.types.ts
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[PoolDetailsChart] Disable time range buttons
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
Due: cross-env NODE_ENV=development eslint --cache

CHANGELOG + quick fix
  CHANGELOG.md
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Change `DEFAULT_SLIP_TOLERANCE` to `3`
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix swap limit
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles, some clean up + update CHANGELOG
  CHANGELOG.md
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix styles of `CurrencyInfo`
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache

Memo to copy (DEV only)
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Recipient address lost
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Fix swap limit (incl. UI fixes/improvements) (#2242)
  CHANGELOG.md
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/services/const.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

[PoolDetailsChart] Disable time range buttons (#2241)
  CHANGELOG.md
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update latest xchain-* packages
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Quick fix: Received `true` for a non-boolean
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to latest xchain-* packages (#2245)
  CHANGELOG.md
  README.md
  package.json
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update ts-jest + dayjs
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update misc. @testing-library/* libs
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update fp-ts
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

storybook 6.4.22
  .storybook/main.js
  .storybook/preview.js
  .storybook/preview.tsx
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

More tweaks for storybook 6.4.22 - still broken
  .storybook/main.js
  .storybook/preview.js
  .storybook/preview.tsx
  README.md
  package.json
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/table/BondsTable.stories.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/price/HeaderPriceSelector.stories.tsx
  src/renderer/components/header/settings/HeaderSettings.stories.tsx
  src/renderer/components/header/theme/HeaderTheme.stories.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/button/Button.stories.tsx
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/label/Label.stories.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Migrate to storybook@6.4.x (#2249)
  .storybook/main.js
  .storybook/preview.tsx
  README.md
  package.json
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/table/BondsTable.stories.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/price/HeaderPriceSelector.stories.tsx
  src/renderer/components/header/settings/HeaderSettings.stories.tsx
  src/renderer/components/header/theme/HeaderTheme.stories.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/button/Button.stories.tsx
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/label/Label.stories.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update last deps: ledgerhq/hw-transport* etc.
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix Ledger's recipient address lost
  CHANGELOG.md
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Consider network for Ledger recipient address
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update "last" deps + fix Ledger recipient address (#2253)
  CHANGELOG.md
  package.json
  src/renderer/views/swap/SwapView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.14.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write
