Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Delay user clicks to avoid rendering issues
  src/renderer/components/uielements/button/RefreshButton.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Delay user clicks to avoid rendering issues (#2111)
  CHANGELOG.md
  src/renderer/components/uielements/button/RefreshButton.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Use LedgerConfirmation modal
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor `Upgrade` to use `TxModal`
  src/renderer/components/wallet/txs/upgrade/Upgrade.helpers.ts
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/renderer/views/wallet/upgrade/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Upgrade] Use TxModal + LedgerConfirmationModal (#2113)
  CHANGELOG.md
  src/renderer/components/wallet/txs/upgrade/Upgrade.helpers.ts
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/renderer/views/wallet/upgrade/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix render warnings
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix render warnings (#2115)
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade Electron + TypeScript related dependencies
  .nvmrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade Electron + TypeScript related dependencies (#2116)
  .nvmrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.8.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.8.1 (#2117)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add / verify LTC Ledger address
  CHANGELOG.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/litecoin/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update tests for `isEnabledWallet`
  src/main/api/ledger/litecoin/address.ts
  src/renderer/helpers/walletHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove redundant checks for TC ledger + stagenet
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update feature list for Ledger
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

[Ledger] Add / verify LTC address (#2118)
  CHANGELOG.md
  README.md
  src/main/api/ledger/address.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/litecoin/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Extract `getSochainUrl`
  src/main/api/ledger/bitcoin/transaction.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/litecoin/common.ts
  src/shared/api/sochain.ts
  src/shared/bitcoin/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Extract `getNodeUrl|Auth`
  src/renderer/services/litecoin/common.ts
  src/shared/litecoin/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger LTC tx
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/litecoin/types.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add LTC to `SUPPORTED_LEDGER_APPS`
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Swap: Disable slip tolerance for LTC Ledger
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix `useLiquidityProviders` to get correct LP
  src/renderer/hooks/useLiquidityProviders.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove log statements
  src/main/api/ledger/litecoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Update to latest xchain-ltc@0.8.0-alpha.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Handle Ledger LTC txs (#2119)
  package.json
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/const.ts
  src/renderer/hooks/useLiquidityProviders.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/litecoin/balances.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/litecoin/types.ts
  src/renderer/services/wallet/balances.ts
  src/shared/api/sochain.ts
  src/shared/api/types.ts
  src/shared/bitcoin/client.ts
  src/shared/litecoin/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare v0.9.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.9.0 (#2121)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[Interactive] Fix validation for amount to send
  src/renderer/components/wallet/txs/interact/Interact.helpers.test.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/helpers/form/validation.test.ts
  src/renderer/helpers/form/validation.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

[Interactive] Fix validation for amount to send (#2123)
  CHANGELOG.md
  src/renderer/components/wallet/txs/interact/Interact.helpers.test.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.ts
  src/renderer/components/wallet/txs/interact/Interact.helpers.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/helpers/form/validation.test.ts
  src/renderer/helpers/form/validation.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add info about not supported Ledger
  src/renderer/assets/svg/icon-attention.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

[WalletSettings] Add info in case Ledger is not supported (#2125)
  CHANGELOG.md
  src/renderer/assets/svg/icon-attention.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Get chain id before initializing TC client
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Get chain id before initializing TC client (#2127)
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare v0.9.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write
