Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

typo
  src/renderer/helpers/chainHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

[Mimir] Support **DOGE** flags (#2007)
  CHANGELOG.md
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix missing shares
  CHANGELOG.md
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix missing shares (#2008)
  CHANGELOG.md
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update release template
  .github/ISSUE_TEMPLATE/5-Release.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.6.1
  CHANGELOG.md
  package.json
  src/renderer/hooks/useMimirHalt.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-generate ERC20 whitelist
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Re-generate ERC20 whitelist (#2011)
  CHANGELOG.md
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add DOGE to ENABLED_CHAINS by default
  src/renderer/services/const.ts
  src/shared/mock/responses/midgard/testnet-v2-pools.json
  src/shared/mock/responses/thornode/testnet-v2-member-tbnb1ed04qgw3s69z90jskr3shpyn9mr0e59qdtsxqa.json
  src/shared/mock/responses/thornode/testnet-v2-member-tltc1qtephp596jhpwrawlp67junuk347zl2cwpucctk.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable DOGE in swap asset lists
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v0.6.1 (#2009)
  CHANGELOG.md
  package.json
  src/renderer/components/swap/Swap.tsx
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/const.ts
  src/shared/mock/responses/midgard/testnet-v2-pools.json
  src/shared/mock/responses/thornode/testnet-v2-member-tbnb1ed04qgw3s69z90jskr3shpyn9mr0e59qdtsxqa.json
  src/shared/mock/responses/thornode/testnet-v2-member-tltc1qtephp596jhpwrawlp67junuk347zl2cwpucctk.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-enable DOGE (for development)
  src/renderer/components/swap/Swap.tsx
  src/renderer/hooks/useMimirHalt.ts
Due: cross-env NODE_ENV=development eslint --cache

Update test workflow using npm
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Update `work` workflow using npm
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

WIP: Make electron build work with vite
  .electronbuildrc
  package-lock.json
  package.json
  src/main/index.ts
  vite.main.ts
  vite.preload.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix deprecated mimir flags + prepare 0.6.2
  CHANGELOG.md
  package.json
  src/renderer/hooks/useFundsCap.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix deprecated mimir flags + prepare 0.6.2 (#2015)
  CHANGELOG.md
  package.json
  src/renderer/hooks/useFundsCap.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/hooks/usePoolCycle.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-enable DOGE (for development) (#2012)
  src/renderer/components/swap/Swap.tsx
  src/renderer/hooks/useMimirHalt.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Fix package build
  .electronbuildrc
  package-lock.json
  package.json
  src/main/index.ts
  src/renderer/index.html
  vite.main.ts
  vite.preload.ts
  vite.renderer.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade to latest xchain-tc@0.20.1
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Upgrade to latest xchain-tc@0.20.1 (#2019)
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use nvmrc for GH workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
Due: prettier --ignore-path .eslintignore --single-quote --write

Upgrade electron deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

force-rebuild-native-deps
  README.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Use `.nvmrc` for builds (#2021)
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

DOGEClient
  .env.sample
  package.json
  src/renderer/services/doge/common.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Introduce DogeClient (#2022)
  .env.sample
  package.json
  src/renderer/services/doge/common.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add DOGE account in WalletSettings
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/DogeContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/doge/index.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add DOGE account in WalletSettings (#2023)
  src/main/api/url.ts
  src/renderer/App.tsx
  src/renderer/contexts/DogeContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/doge/index.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add DOGE balances to wallet
  src/renderer/contexts/DogeContext.tsx
  src/renderer/services/doge/balances.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Add DOGE balances to wallet (#2024)
  src/renderer/contexts/DogeContext.tsx
  src/renderer/services/doge/balances.ts
  src/renderer/services/doge/index.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Send + swap DOGE
  src/renderer/components/swap/EditableAddress.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/txs/send/SendFormDOGE.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/DogeContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/const.ts
  src/renderer/services/doge/fees.ts
  src/renderer/services/doge/index.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewDOGE.tsx
  src/renderer/views/wallet/send/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix shares
  src/renderer/components/deposit/Deposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/ru/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Update halt.ts
  src/renderer/i18n/ru/halt.ts
Due: cross-env NODE_ENV=development eslint --cache

Update ledger.ts
  src/renderer/i18n/ru/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
