Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix savers API
  src/renderer/helpers/savers.ts
Due: cross-env NODE_ENV=development eslint --cache

`setPoolsPeriod`/`poolsPeriod$`
  src/renderer/const.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

`PoolsPeriodSelector` component
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Savers filled (#2476)
  src/renderer/helpers/savers.ts
Due: cross-env NODE_ENV=development eslint --cache

PoolDetails: Add APY period selector
  src/renderer/components/pool/PoolCards.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.styles.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update i18n
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Display APY/APR depending on days (#2477)
  src/renderer/components/pool/PoolCards.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.styles.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/const.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

AssetsTableCollapsable: Combine balance/price
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

AssetsTableCollapsable: Combine balance/price (#2478)
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Savers: Filled progress bar
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Savers: Filled progress bar (#2479)
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

PoolsOverview: Show amount/price side-by-side
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

PoolsOverview: Show amount/price side-by-side (#2480)
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update to latest Electron@22.0.0/TypeScript@4.9.4
  .nvmrc
  CHANGELOG.md
  package.json
  src/main/api/appUpdate.ts
  src/main/api/fileStore.ts
  src/main/preload.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update to latest Electron@22.0.0/TypeScript@4.9.4 (#2481)
  .nvmrc
  CHANGELOG.md
  package.json
  src/main/api/appUpdate.ts
  src/main/api/fileStore.ts
  src/main/preload.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update pools routes to fix history.back() behavior
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/button/SaversButton.tsx
  src/renderer/routes/pools/base.ts
  src/renderer/routes/pools/index.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/savers.test.ts
  src/renderer/routes/pools/savers.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update pools routes to fix history.back() behavior (#2482)
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/button/SaversButton.tsx
  src/renderer/routes/pools/base.ts
  src/renderer/routes/pools/index.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/savers.test.ts
  src/renderer/routes/pools/savers.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PoolsOverview.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Inconsistent search state
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Inconsistent search state (#2484)
  CHANGELOG.md
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

WIP: [Savers] UI
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/RefreshButton.styles.ts
  src/renderer/components/uielements/button/RefreshButton.tsx
  src/renderer/views/deposit/DepositView.styles.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finish Add/Withdraw UIs
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/SaversDetails.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/views/savers/SaversView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Savers] UI (#2485)
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/SaversDetails.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/button/RefreshButton.styles.ts
  src/renderer/components/uielements/button/RefreshButton.tsx
  src/renderer/views/deposit/DepositView.styles.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Business logic + UI for savers detail
  CHANGELOG.md
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/uielements/button/SaversButton.tsx
  src/renderer/const.ts
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/savers.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/savers.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/savers.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/pools/savers.test.ts
  src/renderer/routes/pools/savers.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thornode/apis/SaversApi.ts
  src/renderer/types/generated/thornode/models/Saver.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversDetailsView.tsx
  src/renderer/views/savers/SaversOverview.tsx
  src/renderer/views/savers/SaversView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Use `distinctUntilChanged` in `useObservableState`
  src/renderer/views/savers/SaversDetailsView.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Deposit] Maximum update depth exceeded
  CHANGELOG.md
  package.json
  src/renderer/hooks/useSymDepositAddresses.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Deposit] Maximum update depth exceeded (#2488)
  CHANGELOG.md
  package.json
  src/renderer/hooks/useSymDepositAddresses.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Saves UI for details
  src/renderer/components/savers/SaversDetails.tsx
  src/renderer/components/shared/result/EmptyResult.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/hooks/usePricePool.ts
  src/renderer/i18n/de/savers.ts
  src/renderer/i18n/en/savers.ts
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/ru/savers.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/share/ShareView.styles.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/savers/SaversDetailsView.tsx
  src/renderer/views/savers/SaversView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Savers] Detail: Business logic + UI (#2486)
  CHANGELOG.md
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/SaversDetails.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/shared/result/EmptyResult.tsx
  src/renderer/components/uielements/button/SaversButton.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/const.ts
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/usePricePool.ts
  src/renderer/i18n/de/index.ts
  src/renderer/i18n/de/savers.ts
  src/renderer/i18n/en/index.ts
  src/renderer/i18n/en/savers.ts
  src/renderer/i18n/fr/index.ts
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/ru/index.ts
  src/renderer/i18n/ru/savers.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/pools/savers.test.ts
  src/renderer/routes/pools/savers.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thornode/apis/SaversApi.ts
  src/renderer/types/generated/thornode/models/Saver.ts
  src/renderer/views/deposit/share/ShareView.styles.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversDetailsView.tsx
  src/renderer/views/savers/SaversOverview.tsx
  src/renderer/views/savers/SaversView.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Run `checkFeeBounds` before signing UTXO txs
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Run `checkFeeBounds` before signing UTXO txs (#2492)
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Downgrade to Electron@20.x.x
  .nvmrc
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Downgrade to Electron@20.x.x (#2493)
  .nvmrc
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.18.5
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Disable/hide links to Savers
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Build on Ubuntu 20.04
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

[Ledger] Update `@ledgerhq/hw-*` packages
  package.json
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/litecoin/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write
