Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Resolve: [Wallet] Update UI for wallet index (#1802)
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove password request for ledger and update styles
  src/renderer/components/wallet/account/AccountSelector.styles.ts
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Ledger] Enable upgrading BEP2.RUNE using Ledger (#1807)
  src/renderer/components/wallet/account/AccountSelector.styles.ts
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/upgrade.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/renderer/views/wallet/upgrade/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix Error: Could not detect abi for version 15.0.0
  yarn.lock
Due: none

Update node version
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Update npm dependencies (09-30-2021) (#1801)
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  .prettierrc
  package.json
  src/main/electron.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Use explorer url provided by clients
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove 0x before opening ETH tx at viewblock
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Fix viewblock url for ETH tx (#1809)
  src/renderer/components/swap/Swap.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor PoolHistoryTable to prepare layout changes
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.styles.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.styles.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/poolActionsHistory/WalletPoolActionsHistoryHeader.tsx
  src/renderer/components/poolActionsHistory/types.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show selected filter (i18n)
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.tsx
  src/renderer/components/uielements/txType/TxType.tsx
  src/renderer/helpers/actionsHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Generate ERC20 whitelist
  package.json
  scripts/generateERC20Whitelist.ts
  src/renderer/services/thorchain/types.ts
  tsconfig.scripts.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Substract rune fees
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Format code, save file, update README
  README.md
  scripts/generateERC20Whitelist.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Change approach
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix tests
  src/renderer/components/deposit/add/Deposit.helper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Improve output + remove deprecated console.log
  package.json
  scripts/generateERC20Whitelist.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Save progress
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
  src/renderer/components/app/AppSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Generate ERC20 whitelist (#1816)
  README.md
  package.json
  scripts/generateERC20Whitelist.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  tsconfig.scripts.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Check whitelist for balances + approvements
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.test.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor PoolHistoryTable to prepare layout changes (#1814)
  src/renderer/components/poolActionsHistory/PoolActionsHistory.stories.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistory.styles.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistory.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryFilter.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.styles.ts
  src/renderer/components/poolActionsHistory/PoolActionsHistoryList.tsx
  src/renderer/components/poolActionsHistory/PoolActionsHistoryTable.tsx
  src/renderer/components/poolActionsHistory/WalletPoolActionsHistoryHeader.tsx
  src/renderer/components/poolActionsHistory/types.ts
  src/renderer/components/uielements/txType/TxType.tsx
  src/renderer/helpers/actionsHelper.ts
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/wallet/PoolActionsHistory/PoolActionsHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix code review issues
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix zero case
  src/renderer/components/deposit/add/Deposit.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Extract styles
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Improve ERC20 whitelist generator
  scripts/generateERC20Whitelist.ts
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove comment
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Improve ERC20 whitelist generator (#1820)
  scripts/generateERC20Whitelist.ts
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Move file helpers into `main`
  scripts/generateERC20Whitelist.ts
  src/main/utils/file.ts
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Move file helpers into `main` (#1821)
  scripts/generateERC20Whitelist.ts
  src/main/utils/file.ts
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove `ETH` from `assetInERC20Whitelist`
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/ethereum/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Replace ZERO_BASE_AMOUNT
  src/renderer/components/deposit/add/Deposit.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [SymDeposit] Insufficient funds when adding liquidity (#1817)
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Helper `validAssetForETH` + tests + filter pools
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated ERC20Blacklist
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Update styles
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use ERC20 whitelist (#1819)
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.test.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Disable Ledger TC temporarily
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Disable Ledger TC temporarily (#1823)
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.4.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write
