Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Disable `node-hid` related stuff temporary
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/bitcoin.ts
  src/main/api/ledger/transaction.ts
  webpack.main.js
Due: cross-env NODE_ENV=development eslint --cache

decreased vertical paddings and margins at the account management list section (#921)
  src/renderer/components/wallet/settings/Settings.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use `webpack-node-externals`
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

Run test build for this branch only
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

fixed caching nodes after remove node issue
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/Bonds/types.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/BondsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

removed uppercase stylings for node addresses
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

replaced custom text formatting with FormattedMessage
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Revert build of `0.0.5-alpha.2`
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Node Bond Screen fixes #907 (#924)
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/Bonds/types.ts
  src/renderer/components/modal/confirmation/ConfirmationModal.tsx
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/BondsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Disable `node-hid` related stuff temporary (#923)
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/bitcoin.ts
  src/main/api/ledger/transaction.ts
  webpack.main.js
Due: cross-env NODE_ENV=development eslint --cache

Disable `node-hid` related stuff temporary (develop) (#925)
  src/main/api/ledger/address.ts
  src/main/api/ledger/binance.ts
  src/main/api/ledger/bitcoin.ts
  src/main/api/ledger/transaction.ts
  webpack.main.js
Due: cross-env NODE_ENV=development eslint --cache

Fix font sizes in misc. tables
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix font sizes in misc. tables (#927)
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/PoolShares/PoolShares.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Make address style-able
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `Git branching workflow`
  BRANCHING_WORKFLOW.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Build releases on `release` and `hotfix` branches
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Add TL;DR for branching workflow
  BRANCHING_WORKFLOW.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add note about target branch
  RELEASE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix TL;DR
  BRANCHING_WORKFLOW.md
Due: prettier --ignore-path .eslintignore --single-quote --write

wip: ETH send refactoring
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/types.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

updated xchain-ethereum package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

add business logic for send tx
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/transfer.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

add business logic for send tx (#935)
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/transfer.ts
  src/renderer/services/chain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update to latest xchain-ethereum@0.10.3 (#934)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

ui refactoring for ETH Send
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/index.ts
  src/renderer/services/clients/transaction/status.ts
  src/renderer/views/wallet/send/SendViewETH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce BitcoinCash + BitcoinChashContext
  src/renderer/App.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/bitcoincash/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Create deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Create bonds.ts
  src/renderer/i18n/fr/bonds.ts
Due: cross-env NODE_ENV=development eslint --cache

Create common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Create index.ts
  src/renderer/i18n/fr/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Create ledger.ts
  src/renderer/i18n/fr/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Create midgard.ts
  src/renderer/i18n/fr/midgard.ts
Due: cross-env NODE_ENV=development eslint --cache

Create pools.ts
  src/renderer/i18n/fr/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Create poolshares.ts
  src/renderer/i18n/fr/poolshares.ts
Due: cross-env NODE_ENV=development eslint --cache

Create routes.ts
  src/renderer/i18n/fr/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

Create settings.ts
  src/renderer/i18n/fr/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Create swap.ts
  src/renderer/i18n/fr/swap.ts
Due: cross-env NODE_ENV=development eslint --cache
