Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

tmp
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add action button to error view (#329)
  src/renderer/components/shared/error/ErrorView.stories.tsx
  src/renderer/components/shared/error/ErrorView.style.ts
  src/renderer/components/shared/error/ErrorView.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fixes: `preload` file was not found
  craco.config.js
  package.json
  src/main/electron.ts
  src/main/preload.ts
  src/renderer/App.tsx
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/services/wallet/service.test.ts
  src/renderer/services/wallet/service.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/UnlockView.tsx
  src/setupTests.ts
  webpack.preload.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix: Show native menu
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

Secure `openExternal`
  .storybook/preview.tsx
  src/main/api/url.ts
  src/main/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Footer.stories.tsx
  src/renderer/components/Footer.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsDetails.stories.tsx
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/setupTests.ts
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Simplify webpack builds for `main` + `preload`
  package.json
  webpack.main.js
  webpack.preload.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

tmp
  package.json
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/wallet/SendView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fix pass phrase in the history state
  src/renderer/views/wallet/CreateView/PhraseView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix pass phrase in the history state (#335)
  src/renderer/views/wallet/CreateView/PhraseView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Introduce `EXTERNALS_WHITELIST` to
  src/main/api/url.ts
  src/main/menu/help.ts
Due: cross-env NODE_ENV=development eslint --cache

Add security notes
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

added missed translations to unlock form; added missed styles for error at UnlosckForm
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

moved loading view to seoarate component
  src/renderer/components/shared/loading/LoadingView.stories.tsx
  src/renderer/components/shared/loading/LoadingView.styles.ts
  src/renderer/components/shared/loading/LoadingView.tsx
  src/renderer/components/wallet/Send.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored SendForm component; added translations
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added sequenceTRD to the fpHelpers
  src/renderer/helpers/fpHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix price selector
  src/renderer/services/midgard/service.ts
  src/renderer/views/pools/types.test.ts
  src/renderer/views/pools/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix price selector (#336)
  src/renderer/services/midgard/service.ts
  src/renderer/views/pools/types.test.ts
  src/renderer/views/pools/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Improve security of Electron app (#330)
  .storybook/preview.tsx
  README.md
  craco.config.js
  package.json
  src/main/api/keystore.ts
  src/main/api/lang.ts
  src/main/api/url.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/menu/help.ts
  src/main/preload.ts
  src/renderer/App.tsx
  src/renderer/components/Footer.stories.tsx
  src/renderer/components/Footer.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsDetails.stories.tsx
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/services/const.ts
  src/renderer/services/i18n/service.ts
  src/renderer/services/wallet/service.test.ts
  src/renderer/services/wallet/service.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/UnlockView.tsx
  src/setupTests.ts
  src/shared/api/types.ts
  src/shared/ipc/messages.ts
  src/shared/mock/api.ts
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

refactored Send
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added AssetWithBalance type
  src/renderer/components/wallet/AccountSelector.stories.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added missed translations
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/midgard/service.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

reverted midgard/service
  src/renderer/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

added activeAsset filtering at AccountSelector
  src/renderer/components/wallet/AccountSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing i18n needed by PoolsOverview
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/wallet/AssetsNav.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

SendView: Handle real data in asset dropdown (#337)
  package.json
  src/renderer/components/shared/loading/LoadingView.stories.tsx
  src/renderer/components/shared/loading/LoadingView.styles.ts
  src/renderer/components/shared/loading/LoadingView.tsx
  src/renderer/components/wallet/AccountSelector.stories.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/components/wallet/UnlockForm.tsx
  src/renderer/helpers/fpHelpers.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/SendView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

`isRune()` helper (incl. tests)
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Update i18n (freeze/unfreeze)
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

18n: `common.change`
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Introduce send actions
  src/renderer/components/wallet/AssetDetails.style.tsx
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/AssetsDetails.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing i18n needed by PoolsOverview (#338)
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/wallet/AssetsNav.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/pools.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/pools.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `freeze` / `unfreeze routes
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/routes/wallet/wallet.test.ts
  src/renderer/routes/wallet/wallet.ts
  src/renderer/views/wallet/SendView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add tests for `fpHelpers`
  src/renderer/helpers/fpHelpers.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Extract `SendActions` + `isSendAction`
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/types.test.ts
  src/renderer/components/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Push `sendAction` prop down to child components
  src/renderer/components/wallet/AssetDetails.tsx
  src/renderer/components/wallet/Send.stories.tsx
  src/renderer/components/wallet/Send.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/views/wallet/SendView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Address review suggestions + some cleanup
  src/renderer/helpers/fpHelpers.test.ts
Due: cross-env NODE_ENV=development eslint --cache

typo
  src/renderer/helpers/fpHelpers.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix tests
  src/renderer/helpers/fpHelpers.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor `AssetWithBalances`
  src/renderer/components/wallet/AccountSelector.stories.tsx
  src/renderer/components/wallet/AccountSelector.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/SendForm.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/binance/service.ts
  src/renderer/types/asgardex.ts
  src/renderer/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

add splash
  internals/img/asgardex-splash.png
Due: none

add splash (#342)
  internals/img/asgardex-splash.png
Due: none

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
