Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Prepare env for `CSC_LINK` + `CSC_KEY_PASSWORD`
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Change directory name
  src/components/shared/icons/DynamicCoin.style.tsx
  src/components/shared/icons/DynamicCoin.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix path
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix path
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Asset details view (#46)
  src/components/shared/icons/DynamicCoin.style.tsx
  src/components/shared/icons/DynamicCoin.tsx
  src/components/wallet/UserTransactionsTable.tsx
  src/helpers/colorHelpers.ts
  src/helpers/transactionHelpers.ts
  src/routes.ts
  src/types/wallet/index.ts
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add views & routes for wallet settings screen
  src/components/Header.tsx
  src/routes.ts
  src/views/wallet/WalletSettingsScreen.tsx
  src/views/wallet/WalletView.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract routes + add tests
  src/components/Header.tsx
  src/routes.ts
  src/routes/app.test.ts
  src/routes/app.ts
  src/routes/stake.test.ts
  src/routes/stake.ts
  src/routes/swap.test.ts
  src/routes/swap.ts
  src/routes/types.ts
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/views/ViewRoutes.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/stake/StakeView.tsx
  src/views/swap/SwapHomeView.tsx
  src/views/swap/SwapView.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract routes + add tests (#48)
  src/components/Header.tsx
  src/routes.ts
  src/routes/app.test.ts
  src/routes/app.ts
  src/routes/stake.test.ts
  src/routes/stake.ts
  src/routes/swap.test.ts
  src/routes/swap.ts
  src/routes/types.ts
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/views/ViewRoutes.tsx
  src/views/stake/StakeHomeView.tsx
  src/views/stake/StakeView.tsx
  src/views/swap/SwapHomeView.tsx
  src/views/swap/SwapView.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `styleHelper` from BEPSwap
  src/helpers/styleHelper.test.ts
  src/helpers/styleHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `styleHelper` from BEPSwap (#52)
  src/helpers/styleHelper.test.ts
  src/helpers/styleHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Add accounts model & list
  src/types/wallet/index.ts
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Code linting fixes
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Minor code fixes
  src/views/wallet/WalletSettingsScreen.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add route test
  src/routes/wallet.test.ts
Due: cross-env NODE_ENV=development eslint --cache

WIP: Style footer
  src/assets/svg/logo-thorchain.svg
  src/assets/svg/telegram.svg
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/shared/icons/Telegram.ts
Due: cross-env NODE_ENV=development eslint --cache

Enable Win/Linux build
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Run package action on master only
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Documentation about packaging + releasing
  PACKAGE_MACOS.md
  README.md
  RELEASE.md
Due: prettier --ignore-path .eslintignore --single-quote --write

GH Actions for Packaging (#36)
  .browserslistrc
  .electronbuildrc
  .github/workflows/build.yml
  PACKAGE_MACOS.md
  README.md
  RELEASE.md
  package.json
  resources/mac/entitlements.mac.plist
  scripts/notarize.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Minor code improvemenets for placeholders and DOM
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Issue 41/wallet settings view (#53)
  src/components/Header.tsx
  src/routes/wallet.test.ts
  src/routes/wallet.ts
  src/types/wallet/index.ts
  src/views/wallet/WalletSettingsScreen.tsx
  src/views/wallet/WalletView.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Refactor footer to use more
  src/assets/svg/logo-thorchain.svg
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/shared/icons/Telegram.ts
Due: cross-env NODE_ENV=development eslint --cache

Rearrange code and files for wallet settings & management
  src/components/wallet/WalletImport.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Complete initial 'rough' wallet import views and navigation
  src/components/wallet/WalletImport.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Minor code improvements
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add and implement dependency for delays
  package.json
  src/components/wallet/forms/ImportMnemonicForm.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Feature/import wallet mnemonic view (#56)
  package.json
  src/components/wallet/WalletCreate.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/views/wallet/WalletSettingsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Finish footer implementation
  electron/electron.ts
  src/App.style.tsx
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/contexts/ThemeContext.tsx
  src/views/View.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove emtpy `<g></g>` tags
  src/assets/svg/telegram.svg
Due: none

Add footer (#54)
  electron/electron.ts
  src/App.style.tsx
  src/assets/svg/logo-thorchain.svg
  src/assets/svg/telegram.svg
  src/components/Footer.style.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/contexts/ThemeContext.tsx
  src/views/View.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add commit hash
  .eslintrc
  craco.config.js
  package.json
  src/App.tsx
  src/helpers/envHelper.test.ts
  src/helpers/envHelper.ts
  src/jest.config.js
  src/types/declarations.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add commit hash (#58)
  .eslintrc
  craco.config.js
  package.json
  src/App.tsx
  src/helpers/envHelper.test.ts
  src/helpers/envHelper.ts
  src/jest.config.js
  src/types/declarations.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update dependencies 14-05-20
  package.json
  src/types/generated/midgard/.openapi-generator/VERSION
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update dependencies 14-05-20 (#59)
  package.json
  src/types/generated/midgard/.openapi-generator/VERSION
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

WIP: Style header
  src/App.style.tsx
  src/assets/svg/logo-asgardex.svg
  src/components/Footer.style.tsx
  src/components/Header.style.tsx
  src/components/Header.tsx
  src/helpers/styleHelper.ts
  src/themes/dark.ts
  src/themes/default.ts
  src/themes/light.ts
  src/themes/types.ts
  src/views/View.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove sample stories
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Header.stories.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix yarn lock
  yarn.lock
Due: none

Update yarn lock
  yarn.lock
Due: none

Adding new mnemonic UI component
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/WalletCreate.tsx
Due: cross-env NODE_ENV=development eslint --cache
