Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove columns `avg. fee` and `trades` from PoolsOverview (#1224)
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.types.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/wallet/PoolShareView.helper.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `getSwapHistory$` service
  src/renderer/helpers/stateHelper.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `startWith(RD.initial)`
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `getSwapHistory$` service (#1226)
  src/renderer/helpers/stateHelper.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove dependencies for Polkadot (temporary)
  craco.config.js
  package.json
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Throw error in case of Polkadot
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove dependencies for Polkadot (temporary) (#1228)
  craco.config.js
  package.json
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Support ETH.THOR (testnet only)
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

add title, buttons in pool details page
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.style.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/routes/pools/detail.ts
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest typescript@4.2.3
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fix test
  src/renderer/routes/pools/pools.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Update React + storybook
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Upgrade to husky@6.0.0 (incl. migration 4 -> 6)
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Support ETH.THOR (testnet only) (#1229)
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade craco + react-scripts
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update ant / ant-icons
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Upgrade remote-data-ts, fp-ts, fp-ts-rxjs, rxjs,
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fix comments
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pool/PoolDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade `concurrently` + `observable-hooks`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix fees (UIFeesRD) handling
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix deps of fp-ts
  yarn.lock
Due: none

Update openapitools
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

changed smallest amount for THORChain
  src/renderer/services/chain/transaction/transaction.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed comment
  src/renderer/services/chain/transaction/transaction.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

eslint-config-prettier
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fs-extra
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Misc. @types deps, @testing-library-react
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

QUICK FIX: changed smallest amount for THORChain (#1235)
  src/renderer/services/chain/transaction/transaction.helper.ts
Due: cross-env NODE_ENV=development eslint --cache

Update latest eslint config
  .eslintrc
Due: prettier --ignore-path .eslintignore --parser json --write

@testing-library/user-event
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

@ledgerhq/*
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

xchain-bitcoincash
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add title + buttons linked to deposit / swap (#1230)
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.style.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/routes/pools/detail.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

testcafe, testcafe-react-selectors,
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Remove bitcore-* deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update dependencies (29-03-21) (#1231)
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  package.json
  src/renderer/components/swap/Swap.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Upgrade to Electron@12 + Node@14
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade to Electron@12 + Node@14 (#1236)
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update for latest Midgard@2.0.0-alpha.3
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/BondMetrics.ts
  src/renderer/types/generated/midgard/models/DepthHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItemPool.ts
  src/renderer/types/generated/midgard/models/InboundAddressesItem.ts
  src/renderer/types/generated/midgard/models/LiquidityHistoryItem.ts
  src/renderer/types/generated/midgard/models/MemberPool.ts
  src/renderer/types/generated/midgard/models/Network.ts
  src/renderer/types/generated/midgard/models/ObservedChain.ts
  src/renderer/types/generated/midgard/models/PoolDetail.ts
  src/renderer/types/generated/midgard/models/PoolLegacyDetail.ts
  src/renderer/types/generated/midgard/models/PoolStatsDetail.ts
  src/renderer/types/generated/midgard/models/PreflightStatus.ts
  src/renderer/types/generated/midgard/models/ProxiedNode.ts
  src/renderer/types/generated/midgard/models/ProxiedNodeJail.ts
  src/renderer/types/generated/midgard/models/ProxiedNodePubKeySet.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Update for latest Midgard@2.0.0-alpha.3 (#1237)
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/models/BondMetrics.ts
  src/renderer/types/generated/midgard/models/DepthHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItem.ts
  src/renderer/types/generated/midgard/models/EarningsHistoryItemPool.ts
  src/renderer/types/generated/midgard/models/InboundAddressesItem.ts
  src/renderer/types/generated/midgard/models/LiquidityHistoryItem.ts
  src/renderer/types/generated/midgard/models/MemberPool.ts
  src/renderer/types/generated/midgard/models/Network.ts
  src/renderer/types/generated/midgard/models/ObservedChain.ts
  src/renderer/types/generated/midgard/models/PoolDetail.ts
  src/renderer/types/generated/midgard/models/PoolLegacyDetail.ts
  src/renderer/types/generated/midgard/models/PoolStatsDetail.ts
  src/renderer/types/generated/midgard/models/PreflightStatus.ts
  src/renderer/types/generated/midgard/models/ProxiedNode.ts
  src/renderer/types/generated/midgard/models/ProxiedNodeJail.ts
  src/renderer/types/generated/midgard/models/ProxiedNodePubKeySet.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/SwapHistoryItem.ts
  src/renderer/types/generated/midgard/models/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
