Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Extend validation to avoid duplicated wallet names (#2391)
  CHANGELOG.md
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.stories.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/helpers/walletHelper.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Header] Add wallet selector
  CHANGELOG.md
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderMenu.styles.ts
  src/renderer/components/header/lock/HeaderLock.styles.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/lock/HeaderLockMobile.stories.tsx
  src/renderer/components/header/lock/HeaderLockMobile.tsx
  src/renderer/components/header/settings/HeaderSettings.styles.ts
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/header/theme/HeaderTheme.styles.ts
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/wallet/WalletSelector.tsx
  src/renderer/helpers/walletHelper.ts
  tailwind.config.js
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Try to fix CI by bumping Electron
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: [Header] Add wallet selector (#2392)
  CHANGELOG.md
  package.json
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/HeaderMenu.styles.ts
  src/renderer/components/header/lock/HeaderLock.styles.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/lock/HeaderLockMobile.stories.tsx
  src/renderer/components/header/lock/HeaderLockMobile.tsx
  src/renderer/components/header/settings/HeaderSettings.styles.ts
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/header/theme/HeaderTheme.styles.ts
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/wallet/WalletSelector.tsx
  src/renderer/helpers/walletHelper.ts
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Store Midgard url persistently
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/service.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/midgard/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Store Midgard url persistently (#2393)
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/midgard/service.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/midgard/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix BCH tx error + bump v1.18.1
  CHANGELOG.md
  craco.config.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[cherry-pick] Fix BCH tx error + bump v1.18.1
  CHANGELOG.md
  craco.config.js
  package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update settings.ts
  src/renderer/i18n/ru/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Update routes.ts
  src/renderer/i18n/ru/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

Update midgard.ts
  src/renderer/i18n/ru/midgard.ts
Due: cross-env NODE_ENV=development eslint --cache

Update wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Translation of missing RU strings. Typo fixes. (#2401)
  src/renderer/i18n/ru/midgard.ts
  src/renderer/i18n/ru/routes.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Another xchain-* update + revert `tryCatch|K`
  package.json
  src/renderer/components/deposit/add/AsymAssetsWarning.stories.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/uielements/txDetail/TxDetail.stories.tsx
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/action.utils.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/pools/Pools.utils.ts
  src/shared/api/io.ts
  src/shared/utils/guard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update bonds.ts
  src/renderer/i18n/fr/bonds.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Update ledger.ts
  src/renderer/i18n/fr/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Update midgard.ts
  src/renderer/i18n/fr/midgard.ts
Due: cross-env NODE_ENV=development eslint --cache

Update pools.ts
  src/renderer/i18n/fr/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update poolshares.ts
  src/renderer/i18n/fr/poolshares.ts
Due: cross-env NODE_ENV=development eslint --cache

Update routes.ts
  src/renderer/i18n/fr/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

Update settings.ts
  src/renderer/i18n/fr/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Update swap.ts
  src/renderer/i18n/fr/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update wallet.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix cosmos-lcd api is not available
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/shared/api/cosmos.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache

WarningView + extract common styles
  src/renderer/components/shared/result/ResultView.styles.ts
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/components/shared/success/SuccessView.tsx
  src/renderer/components/shared/warning/WarningView.stories.tsx
  src/renderer/components/shared/warning/WarningView.styles.ts
  src/renderer/components/shared/warning/WarningView.tsx
  src/renderer/components/shared/warning/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Disable txs history for Cosmos temporarily
  src/renderer/components/wallet/assets/AssetDetails.styles.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update env.sample
  .env.sample
Due: none

Update fr translation (#2403)
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/midgard.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/fr/routes.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix lint
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix cosmos-lcd api is not available (#2405)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/components/shared/result/ResultView.styles.ts
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/components/shared/success/SuccessView.tsx
  src/renderer/components/shared/warning/WarningView.stories.tsx
  src/renderer/components/shared/warning/WarningView.styles.ts
  src/renderer/components/shared/warning/WarningView.tsx
  src/renderer/components/shared/warning/index.ts
  src/renderer/components/wallet/assets/AssetDetails.styles.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/shared/api/cosmos.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Deprecate thorchain.info API endpoints
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/url.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/litecoin.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Deprecate thorchain.info API endpoints (#2407)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/url.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/litecoin.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Disable testnet
  .env.sample
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Disable testnet (#2408)
  .env.sample
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
