Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.14.1 (#2254)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Ledger ETH adddress
  CHANGELOG.md
  README.md
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/ethereum/address.ts
  src/main/api/ledger/ethereum/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Ledger ETH adddress (#2256)
  CHANGELOG.md
  README.md
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/ethereum/address.ts
  src/main/api/ledger/ethereum/common.ts
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Ledger ETH balances
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Ledger ETH balances (#2257)
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix react refresh
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix react refresh (#2259)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

WIP: Ledger ETH approve
  package.json
  src/main/api/hdwallet.ts
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/types.ts
  src/shared/api/etherscan.ts
  src/shared/api/ethplorer.ts
  src/shared/api/infura.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
  src/shared/ethereum/const.ts
  src/shared/mock/api.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix missing `feeOption` for sending ETH txs
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/ethereum/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix Ledger ETH balances to include ERC20 tokens
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Make approving ERC20 token work
  package.json
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/approve.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/wallet/ledger.ts
  src/shared/api/blockcypher.ts
  src/shared/api/etherscan.ts
  src/shared/api/ethplorer.ts
  src/shared/api/haskoin.ts
  src/shared/api/infura.ts
  src/shared/api/io.ts
  src/shared/api/sochain.ts
  src/shared/api/thornode.ts
  src/shared/const.ts
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update yarn.lock
  yarn.lock
Due: none

Ledger ETH approve (#2260)
  package.json
  src/main/api/hdwallet.ts
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/ethereum/balances.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/fees.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/shared/api/blockcypher.ts
  src/shared/api/etherscan.ts
  src/shared/api/ethplorer.ts
  src/shared/api/haskoin.ts
  src/shared/api/infura.ts
  src/shared/api/io.ts
  src/shared/api/thornode.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/ethereum/const.ts
  src/shared/mock/api.ts
  src/shared/thorchain/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix route handling for UPGRADE views
  src/renderer/const.ts
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix route handling for UPGRADE views (#2262)
  src/renderer/const.ts
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Swap: Show Password|LedgerConfirmationModal
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Swap: Show Password|LedgerConfirmationModal (#2263)
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Send Ledger ETH txs
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger ETH txs (#2264)
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Deposit tx for Ledger ETH / ERC20
  package.json
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/services/const.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Improve `feeOption` handling
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
Due: cross-env NODE_ENV=development eslint --cache

Deposit tx for Ledger ETH / ERC20 (#2265)
  package.json
  src/main/api/ledger/ethereum/LedgerSigner.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/services/chain/const.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/const.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add Ledger ETH support for `Upgrade` + `SymDeposit`
  package.json
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/const.ts
  src/renderer/services/ethereum/common.ts
  src/shared/ethereum/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add Ledger ETH support for `Upgrade` + `SymDeposit` (#2266)
  package.json
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/const.ts
  src/renderer/services/ethereum/common.ts
  src/shared/ethereum/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Re-enable REACT_DEVELOPER_TOOLS
  src/main/electron.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated IS_PRODUCTION from `shared/const`
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Bump v0.15.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.15.0 (#2268)
  CHANGELOG.md
  package.json
  src/main/electron.ts
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[ETH] Fix missing signer
  src/renderer/services/ethereum/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

[ETH] Fix missing signer (#2271)
  src/renderer/services/ethereum/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v0.15.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.15.1 (#2272)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Pools] ERC20 filter includes BNB.ETH
  CHANGELOG.md
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Pools] ERC20 filter includes BNB.ETH (#2274)
  CHANGELOG.md
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Search pools
  src/renderer/components/AssetsFilter/AssetsFilter.helper.test.ts
  src/renderer/components/AssetsFilter/AssetsFilter.helper.ts
  src/renderer/components/AssetsFilter/AssetsFilter.stories.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/services/midgard/types.ts
  src/renderer/settings/style-util.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

More type safety for pooltype
  CHANGELOG.md
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update `PoolFilter*` types + add test
  src/renderer/hooks/useMimirHalt.test.ts
  src/renderer/services/midgard/types.test.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pools/Pools.utils.ts
  src/renderer/views/pools/PoolsOverview.tsx
  src/shared/utils/wallet.test.ts
Due: cross-env NODE_ENV=development eslint --cache

`usePoolFilter` hook
  src/renderer/hooks/usePoolFilter.ts
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix column alignment of pool tables
  src/renderer/views/pools/PendingPools.tsx
  src/renderer/views/pools/PoolsOverview.shared.tsx
  src/renderer/views/pools/PoolsOverview.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix filter
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
