Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix `unknow` version of Electron
  .browserslistrc
Due: none

GH action for packaging
  .electronbuildrc
  .eslintignore
  .github/workflows/build.yml
  .prettierignore
  package.json
  resources/mac/entitlements.mac.plist
  scripts/notarize.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Valid *.yml
  .eslintignore
  .github/workflows/build.yml
  .prettierignore
Due: prettier --ignore-path .eslintignore --single-quote --write

Disable macOS build
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

v.0.0.2 + list artifacts
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

add types
  src/components/shared/CoinIcons/DynamicCoin.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Publish always
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

add types
  src/helpers/colorHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Don't remove current uploaded artifacts
  .github/workflows/build.yml
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

manual type switch
  src/helpers/colorHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Revert prev. changes
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

View adjustments as per designs
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Views cleanup, add component attributes.
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Code cleanup
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove unused
  src/views/wallet/UserBondsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Lint
  src/routes.ts
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Codebase linting, type fix (remove 'any')
  src/components/shared/CoinIcons/DynamicCoin.style.tsx
  src/components/shared/CoinIcons/DynamicCoin.tsx
  src/helpers/colorHelpers.ts
  src/helpers/tokenHelpers.ts
  src/routes.ts
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

remove unused
  src/components/shared/CoinIcons/DynamicCoin.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract rgb2hex function
  src/helpers/colorHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove unneeded async for now
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

linter applied formatting
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Wallet nested routes (#35)
  package.json
  src/components/shared/CoinIcons/DynamicCoin.style.tsx
  src/components/shared/CoinIcons/DynamicCoin.tsx
  src/helpers/colorHelpers.ts
  src/helpers/tokenHelpers.ts
  src/routes.ts
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add initial views, routes, and links.
  src/routes.ts
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Code and view cleanup
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add transactions table view
  src/components/wallet/UserTransactionsTable.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add links to details views
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve code and view
  src/components/wallet/UserTransactionsTable.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve code and view
  src/components/shared/CoinIcons/DynamicCoin.tsx
  src/components/wallet/UserTransactionsTable.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Align conventions for views
  src/components/shared/CoinIcons/DynamicCoin.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor helper method into standalone
  src/components/wallet/UserTransactionsTable.tsx
  src/helpers/transactionHelpers.ts
Due: cross-env NODE_ENV=development eslint --cache

Code style and view improvements
  src/helpers/transactionHelpers.ts
  src/routes.ts
  src/views/wallet/UserAssetDetailsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Improve route and paths for asset details views
  src/routes.ts
  src/views/wallet/UserAssetsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Enable build for macOS release
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Code improvements
  src/helpers/colorHelpers.ts
  src/routes.ts
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract types, improve codebase
  src/components/wallet/UserTransactionsTable.tsx
  src/helpers/transactionHelpers.ts
  src/types/wallet/index.ts
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/UserStakesScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add type, improve conventions
  src/components/wallet/UserTransactionsTable.tsx
  src/helpers/transactionHelpers.ts
  src/types/wallet/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove `release` flag
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Build dmg for macOS
  .electronbuildrc
Due: none

Disable Win/Linux builds termporary
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Disable Win/Linux builds the right way
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
