Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare 0.6.0 (#1982)
  .electronbuildrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

allowPrerelease -> false
  src/main/api/appUpdate.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix styles (floating icons) in wallet/settings
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

allowPrerelease -> false (#1988)
  src/main/api/appUpdate.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix styles (floating icons) in wallet/settings (#1989)
  CHANGELOG.md
  src/renderer/components/wallet/settings/WalletSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update BRANCHING_WORKFLOW
  BRANCHING_WORKFLOW.md
Due: prettier --ignore-path .eslintignore --single-quote --write

typo
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update README + BRANCHING_WORKLFOW (#1990)
  BRANCHING_WORKFLOW.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add preliminary stagenet env vars for .env.sample, url.ts, and client.ts
  .env.sample
  src/main/api/url.ts
  src/shared/thorchain/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Add stagenet vars to url.ts, HeaderComponent.tsx, types.ts, client.ts (WIP)
  src/main/api/url.ts
  src/renderer/components/header/HeaderComponent.tsx
  src/shared/api/types.ts
  src/shared/thorchain/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Change networkLabel function conditional to use network string if not mainnet
  src/renderer/components/app/AppSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

CRA 5.0
  README.md
  craco.config.js
  package.json
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/services/wallet/util.test.ts
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade antd + fix styles
  package.json
  src/renderer/components/poolActionsHistory/PoolActionsHistory.helper.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.styles.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  webpack.main.js
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Uncomment stagenet changes, update package libraries for xchainjs
  package-lock.json
  package.json
  src/shared/thorchain/client.ts
  src/shared/utils/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

remove package-lock.json
  package-lock.json
Due: prettier --ignore-path .eslintignore --parser json --write

Add additional stagenet environment values, change color for stagenet network selection text
  src/renderer/components/app/AppSettings.styles.ts
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/const.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/const.ts
  src/renderer/services/wallet/const.ts
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Updated yarn.lock and updated midgardURL selection to include stagenet
  src/renderer/services/midgard/service.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

Update whitelisted urs, add stagenet option to AsymAssetsWarning and PendingAssetsWarning component, add stagenet thornode handling, add stagenet to isNetwork utils check
  src/main/api/url.ts
  src/renderer/components/deposit/add/AsymAssetsWarning.stories.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.stories.tsx
  src/renderer/services/thorchain/thorNode.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Add stagenet variant of toClientNetwork test
  src/shared/utils/client.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Add functionality to disable THORChain stagenet ledger wallet
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update .env.sample w/ new stagenet vars, add stagenet-rpc.ninerealms.com to url whitelist
  .env.sample
  src/main/api/url.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated comments
  src/main/api/ledger/binance/address.ts
  tsconfig.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Run jest
  jest.config.js
  package-lock.json
  package.json
  src/renderer/components/wallet/phrase/NewPhraseConfirm.test.ts
  src/renderer/hooks/useRemoteImage.test.ts
  src/renderer/services/app/service.test.ts
  src/renderer/services/wallet/keystore.test.ts
  src/test/setupTest.ts
  src/test/types.ts
  src/test/util.ts
  tsconfig.test.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Try vit-js
  jest.config.js_bu__
  package-lock.json
  package.json
  src/renderer/hooks/useRemoteImage.test.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/tsconfig.json
  vite.config.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Vitest
  README.md
  craco.config.js
  jest.config.js
  jest.config.js_bu__
  package-lock.json
  package.json
  src/renderer/components/wallet/phrase/NewPhraseConfirm.test.ts
  src/renderer/contexts/ThemeContext.test.tsx
  src/renderer/helpers/fp/array.test.ts
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/hooks/useRemoteImage.test.ts
  src/renderer/services/app/service.test.ts
  src/renderer/services/wallet/keystore.test.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/tsconfig.json
  src/test/setupTest.ts
  src/test/types.ts
  src/test/util.ts
  tsconfig.test.json
  vite.config.ts
  vite.test.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

WIP: Run storybook using vite
  .storybook/main.js
  .storybook/preview.tsx
  package-lock.json
  package.json
  src/renderer/components/uielements/alert/Alert.stories.v.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix xchain-* related issues
  .env.sample
  package.json
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve: ADD stagenet (#2000)
  .env.sample
  package.json
  src/main/api/url.ts
  src/renderer/components/app/AppSettings.styles.ts
  src/renderer/components/app/AppSettings.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.stories.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.stories.tsx
  src/renderer/components/header/HeaderComponent.styles.ts
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/const.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/thorNode.ts
  src/renderer/services/wallet/const.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/thorchain/client.ts
  src/shared/utils/client.test.ts
  src/shared/utils/client.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix eslint warnings
  package.json
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/services/binance/utils.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Enable DOGE pool
  package.json
  src/renderer/assets/png/asset-doge.png
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Enable DOGE pool (#2003)
  package.json
  src/renderer/assets/png/asset-doge.png
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/settings/WalletSettings.tsx
  src/renderer/const.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update mimir keys
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update mimir keys (#2005)
  CHANGELOG.md
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Mimir] Support **DOGE** flags
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
