Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

[AppView] Show wallets import error (#2373)
  CHANGELOG.md
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/i18n/de/midgard.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/midgard.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/midgard.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/midgard.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/app/AppView.styles.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Ledger] Fix/extend HD pathes for ETH
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/shared/ethereum/ledger.test.ts
  src/shared/ethereum/ledger.ts
  src/shared/ethereum/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

i18n: Use `ellipsis`
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Ledger] Fix/extend HD pathes for ETH (#2374)
  CHANGELOG.md
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/shared/ethereum/ledger.test.ts
  src/shared/ethereum/ledger.ts
  src/shared/ethereum/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: cosmosstation.io api is down
  .env.sample
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: `catchError` in service/thorchain
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: <button> cannot appear as a descendant
  src/renderer/components/settings/AppSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Styles of `TableHeadline`
  src/renderer/components/wallet/assets/AssetDetails.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix: lcd-cosmos.cosmosstation.io api is down (#2375)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/components/settings/AppSettings.tsx
  src/renderer/components/wallet/assets/AssetDetails.styles.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/thorchain/common.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Guard `isEthDerivationMode`
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

IPC: get|saveLedgerAddresses
  src/main/api/hdwallet.ts
  src/main/ipc/messages.ts
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

quick fix
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Flatten structure of ledger addresses
  src/main/api/ledger/address.ts
  src/main/api/ledger/ethereum/address.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/binance/ledger.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/ledger.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletSettingsView.helper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactor WalletSettings using flatten ledger data
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/WalletSettingsView.helper.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finish things up to make it work
  src/main/api/hdwallet.ts
  src/main/electron.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/hooks/useKeystoreLedgers.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up (mostly renaming)
  src/main/api/hdwallet.ts
  src/main/api/keystore.ts
  src/main/api/ledger/address.ts
  src/main/api/ledger/index.ts
  src/main/api/ledger/storage.ts
  src/main/electron.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/hooks/useLedgerAddresses.ts
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
  src/renderer/views/app/AppView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/renderer/views/wallet/history/WalletHistoryView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Bring back persistence of selected EthHDMode
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/ethereum/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache

Bring back persistence of selected EthHDMode (#2381)
  CHANGELOG.md
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/ethereum/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: lcd-cosmos.cosmosstation.io api is down - pt2
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: lcd-cosmos.cosmosstation.io api is down - pt2 (#2382)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

README: Info about persistent keystore/ledger data
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Decrease MAX_WALLET_NAME_CHARS to 20
  src/renderer/services/wallet/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Update Electron + Bump version
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.18.0 (#2383)
  CHANGELOG.md
  README.md
  package.json
  src/renderer/services/wallet/const.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Upgrade to Yarn 3.x
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Upgrade to Yarn 3.x
  .gitignore
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove `cache-folder` from CI (WIN only)
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Call `yarn prebuild` explicit before `yarn build`
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Point explicit to webpack to fix CI on macOS
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Upgrade to Yarn 3.x (#2390)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

EditableWalletName: Check duplicated names
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.stories.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Avoid duplicated wallet names in ImportKS|Phrase
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  CHANGELOG.md
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.ts
  src/renderer/views/wallet/CreateView/PhraseView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
