Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Add latest `@thorchain/asgardex-util@0.9.0`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

updated xchain-litecoin package
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

added optionFromNullableString utiil
  src/renderer/helpers/fp/from.test.ts
  src/renderer/helpers/fp/from.ts
Due: cross-env NODE_ENV=development eslint --cache

provide nodeUrl and nodeAuth to xchain-litecoin constructor
  src/renderer/services/litecoin/common.ts
Due: cross-env NODE_ENV=development eslint --cache

exposed urls for EXTERNALS_WHITELIST
  src/main/api/url.ts
Due: cross-env NODE_ENV=development eslint --cache

updated .env.sample with REACT_APP_LTC_NODE_TESTNET_URL, REACT_APP_LTC_NODE_MAINNET_URL, REACT_APP_LTC_NODE_USERNAME, REACT_APP_LTC_NODE_PASSWORD
  .env.sample
Due: none

refactored optionFromNullableString
  src/renderer/helpers/fp/from.ts
Due: cross-env NODE_ENV=development eslint --cache

added default values for litecoin parameters
  src/renderer/services/litecoin/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve "[LTC] Support LTC for Swap" (#959)
  .env.sample
  package.json
  src/main/api/url.ts
  src/renderer/helpers/fp/from.test.ts
  src/renderer/helpers/fp/from.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/client.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/services/chain/fees/fees.helper.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/litecoin/fees.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/litecoin/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable asym UIs temporary
  src/renderer/components/deposit/Deposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

update xchain-eth lib and minor ui fix
  package.json
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add review suggestions
  src/renderer/components/deposit/withdraw/AsymWithdraw.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

added missed input onChange handler for SendFormLTC
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

added ltc send screen and logic
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/LitecoinContext.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add AsymWithdraw UI (#891)
  package.json
  src/renderer/components/deposit/Deposit.stories.tsx
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/AsymDeposit.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.stories.tsx
  src/renderer/components/deposit/withdraw/AsymWithdraw.tsx
  src/renderer/components/deposit/withdraw/Withdraw.helper.ts
  src/renderer/components/deposit/withdraw/index.ts
  src/renderer/components/tabs/Tabs.styles.tsx
  src/renderer/components/tabs/Tabs.tsx
  src/renderer/components/uielements/drag/Drag.style.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/memo.ts
  src/renderer/services/chain/types.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/deposit/withdraw/AsymWithdrawView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added caching of last selected fee to avoid null max amount for LTC and BTC send forms
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

[LTC] introduce Send business logic (#988)
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/LitecoinContext.tsx
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

enabled deposit + withdraw for LTC
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

enabled deposit + withdraw for LTC (#989)
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/withdraw.ts
Due: cross-env NODE_ENV=development eslint --cache

Show BCH in Settings
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

update AccountSelector ui
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.style.tsx
  src/renderer/components/wallet/account/AccountSelector.style.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix import
  src/renderer/services/bitcoincash/common.ts
Due: cross-env NODE_ENV=development eslint --cache

update xchain-eth lib and minor ui fix (#986)
  package.json
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.style.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/wallet/account/AccountSelector.style.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Introduce BitcoinCash + BitcoinChashContext + Show address in Settings (#940)
  .env.sample
  package.json
  src/renderer/App.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/views/wallet/SettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix bg color of table rows
  src/renderer/components/uielements/table/Table.style.ts
  src/renderer/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove log statements
  src/renderer/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix bg color of table rows (#1005)
  src/renderer/components/uielements/table/Table.style.ts
  src/renderer/contexts/ThemeContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Enable FR
  src/renderer/components/header/lang/HeaderLang.stories.tsx
  src/renderer/components/header/lang/HeaderLang.tsx
  src/renderer/contexts/I18nContext.tsx
  src/renderer/i18n/index.ts
  src/renderer/i18n/types.ts
  src/shared/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Enable FR (#1006)
  src/renderer/components/header/lang/HeaderLang.stories.tsx
  src/renderer/components/header/lang/HeaderLang.tsx
  src/renderer/contexts/I18nContext.tsx
  src/renderer/i18n/index.ts
  src/renderer/i18n/types.ts
  src/shared/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix link to BRANCHING_WORKFLOW.md
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

start introducing balances to assets overview
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

update latest xchain-util
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add BCH balances to assets overview (#1010)
  package.json
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/services/bitcoincash/balances.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/wallet/balances.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fixed missed pools shares by creating data streams based on ENABLED_CHAINS const
  src/renderer/services/midgard/shares.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[BCH] Add business logic for fees
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/services/bitcoin/fees.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoincash/fees.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/views/wallet/send/SendViewBCH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove SendFormBTC (will be added with next PR)
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove SendBCHView (will be added with next PR)
  src/renderer/views/wallet/send/SendViewBCH.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove commented import
  src/renderer/services/bitcoincash/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Extract notes about `FeeParams` to type definition
  src/renderer/services/clients/fees.ts
  src/renderer/services/clients/types.ts
Due: cross-env NODE_ENV=development eslint --cache

added filtering out THORChain from ENABLED_CHAINS array for PoolShareView
  src/renderer/helpers/chainHelper.test.ts
  src/renderer/helpers/chainHelper.ts
  src/renderer/services/midgard/shares.ts
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache
