Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update pools.ts
  src/renderer/i18n/ru/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update routes.ts
  src/renderer/i18n/ru/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

Update settings.ts
  src/renderer/i18n/ru/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Update swap.ts
  src/renderer/i18n/ru/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

DOGE: Send + swap + add + withdraw (#2026)
  CHANGELOG.md
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/swap/EditableAddress.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/settings/WalletSettings.styles.ts
  src/renderer/components/wallet/txs/send/SendFormDOGE.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/DogeContext.tsx
  src/renderer/helpers/addressHelper.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  src/renderer/services/clients/fees.ts
  src/renderer/services/const.ts
  src/renderer/services/doge/fees.ts
  src/renderer/services/doge/index.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewDOGE.tsx
  src/renderer/views/wallet/send/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add info about calculating max value for DOGE
  src/renderer/components/wallet/txs/TxForm.styles.ts
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade xchain-util|doge
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

updating ru translation (#2032)
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/ru/halt.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/ru/routes.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

typo
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Re-enable RU
  src/renderer/i18n/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix: Enable native menu immediately at start
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix title in UnlockForm
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

[DOGE] Add warning (estimated fees, calc max) + misc. fixes (#2030)
  CHANGELOG.md
  package.json
  src/renderer/components/wallet/txs/TxForm.styles.ts
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/index.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/app/AppView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare 0.7.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Split build workflows
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare 0.7.0 (#2034)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add OS to name of workflows
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Add missing RU translation
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fixes after release 0.7.0 (#2035)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Use 9Rs haskoin for BTC
  .env.sample
  src/renderer/services/bitcoin/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix missing translation for `Settings`
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Use 9Rs haskoin for BTC (#2038)
  .env.sample
  CHANGELOG.md
  src/renderer/services/bitcoin/common.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix missing translation for `Settings` (#2039)
  CHANGELOG.md
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Get `iconUrl` from ERC20_WHITELIST
  scripts/generateERC20Whitelist.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache

No need for extra work to get `FOX` asset icon
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Get logoUrl from the ERC20 whitelist (#2042)
  CHANGELOG.md
  scripts/generateERC20Whitelist.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Re-generate ERC20 whitelist to add XDEFI
  CHANGELOG.md
  src/renderer/types/generated/thorchain/erc20whitelist.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.7.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Small typo in update.checkForUpdates
  src/renderer/i18n/ru/update.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.7.1 (#2045)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Updates for translation of upgrade
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/halt.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Update for RU translation (better translation and fix for typos) (#2046)
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/halt.ts
  src/renderer/i18n/ru/update.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Re-enable testnet
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Re-enable testnet for releases (#2050)
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
