Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

removed duplicated typescript package
  yarn.lock
Due: none

upgrade uuid
  yarn.lock
Due: none

upgrade @testing-library/jest-dom @testing-library/react @testing-library/react-hooks @testing-library/user-event
  yarn.lock
Due: none

upgrade eslint-config-prettier
  yarn.lock
Due: none

upgrade react-test-renderer
  yarn.lock
Due: none

upgrade @hot-loader/react-dom
  yarn.lock
Due: none

upgrade husky
  yarn.lock
Due: none

upgrade lint-staged
  yarn.lock
Due: none

upgrade styled-components; removed duplications for:
  yarn.lock
Due: none

upgrade wait-on
  yarn.lock
Due: none

upgrade webpack-cli ts-node
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgrade @craco/craco
  yarn.lock
Due: none

upgrade @openapitools/openapi-generator-cli
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgrade
  yarn.lock
Due: none

electron major update
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgrade testcafe and testcafe-react-selectors
  yarn.lock
Due: none

reverted postinstall script
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Revert "electron major update"
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Upgrade to latest Midgard@0.7.1
  src/renderer/components/pool/PoolDetails.stories.tsx
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/services/midgard/pools.ts
  src/renderer/types/generated/midgard/apis/DefaultApi.ts
  src/renderer/types/generated/midgard/apis/DocumentationApi.ts
  src/renderer/types/generated/midgard/apis/SpecificationApi.ts
  src/renderer/types/generated/midgard/models/AssetDetail.ts
  src/renderer/types/generated/midgard/models/BlockRewards.ts
  src/renderer/types/generated/midgard/models/BondMetrics.ts
  src/renderer/types/generated/midgard/models/Coin.ts
  src/renderer/types/generated/midgard/models/Event.ts
  src/renderer/types/generated/midgard/models/Gas.ts
  src/renderer/types/generated/midgard/models/InlineResponse200.ts
  src/renderer/types/generated/midgard/models/InlineResponse2001.ts
  src/renderer/types/generated/midgard/models/ModelError.ts
  src/renderer/types/generated/midgard/models/NetworkInfo.ts
  src/renderer/types/generated/midgard/models/NodeKey.ts
  src/renderer/types/generated/midgard/models/Option.ts
  src/renderer/types/generated/midgard/models/PoolAggChanges.ts
  src/renderer/types/generated/midgard/models/PoolDetail.ts
  src/renderer/types/generated/midgard/models/PoolEarningDetail.ts
  src/renderer/types/generated/midgard/models/StakersAddressData.ts
  src/renderer/types/generated/midgard/models/StakersAssetData.ts
  src/renderer/types/generated/midgard/models/StatsData.ts
  src/renderer/types/generated/midgard/models/ThorchainBooleanConstants.ts
  src/renderer/types/generated/midgard/models/ThorchainConstants.ts
  src/renderer/types/generated/midgard/models/ThorchainEndpoint.ts
  src/renderer/types/generated/midgard/models/ThorchainEndpoints.ts
  src/renderer/types/generated/midgard/models/ThorchainInt64Constants.ts
  src/renderer/types/generated/midgard/models/ThorchainLastblock.ts
  src/renderer/types/generated/midgard/models/ThorchainQueue.ts
  src/renderer/types/generated/midgard/models/TotalVolChanges.ts
  src/renderer/types/generated/midgard/models/Tx.ts
  src/renderer/types/generated/midgard/models/TxDetails.ts
  src/renderer/types/generated/midgard/models/index.ts
  src/renderer/types/generated/midgard/runtime.ts
  src/renderer/views/pool/PoolDetailsView.tsx
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

updated react-scripts
  package.json
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/views/wallet/WalletView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

fixed duplicated webpack deps
  yarn.lock
Due: none

Split data handling for `Enabled` and `Pending`
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove `returnToDate` from `PoolDetails`
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed lint issues
  .eslintrc
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/helpers/rx/liveData.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

upgrade typescript
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

fixed failed tests
  src/renderer/services/wallet/common.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Provide empty list of `AssetDetails`|`PoolDetails`
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove poolStatus from `getPoolTableRowsData`
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

upgraded electron version
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Address review suggestions
  src/renderer/helpers/rx/liveData.ts
  src/renderer/services/midgard/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

upgraded storybook packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded antd deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded craco deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded bignumber.js
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded observable-hooks
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded styled-components
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded uuid
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded concurrently
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded wait-on
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

upgraded ts-loader
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
