Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update ledger.ts
  src/renderer/i18n/ru/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Update pools.ts
  src/renderer/i18n/ru/pools.ts
Due: cross-env NODE_ENV=development eslint --cache

Update poolshares.ts
  src/renderer/i18n/ru/poolshares.ts
Due: cross-env NODE_ENV=development eslint --cache

Update routes.ts
  src/renderer/i18n/ru/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

Update settings.ts
  src/renderer/i18n/ru/settings.ts
Due: cross-env NODE_ENV=development eslint --cache

Update swap.ts
  src/renderer/i18n/ru/swap.ts
Due: cross-env NODE_ENV=development eslint --cache

Update RU translation (#2318)
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/pools.ts
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/ru/routes.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix lint + update CHANGELOG
  CHANGELOG.md
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix lint + update CHANGELOG (#2319)
  CHANGELOG.md
  src/renderer/i18n/ru/poolshares.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix 500 errors while sending BCH txs
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Simplify override of `TerserPlugin.mangle`
  craco.config.js
Due: cross-env NODE_ENV=development eslint --cache

Fix 500 errors while sending BCH (#2322)
  CHANGELOG.md
  craco.config.js
  package.json
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

WIP: CRA5
  craco.config.js
  package.json
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Make CRA5 work
  craco.config.js
  package.json
  src/renderer/assets/svg/asset-arrow-blacksmall.svg
  src/renderer/assets/svg/asset-arrow-green-dash.svg
  src/renderer/assets/svg/asset-arrow-green.svg
  src/renderer/assets/svg/asset-arrow-grey.svg
  src/renderer/assets/svg/asset-arrow-twoway.svg
  src/renderer/assets/svg/asset-arrow-yello.svg
  src/renderer/assets/svg/asset-atom.svg
  src/renderer/assets/svg/asset-dropdown.svg
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/assets/svg/asset-market.svg
  src/renderer/assets/svg/asset-refresh.svg
  src/renderer/assets/svg/asset-user.svg
  src/renderer/assets/svg/icon-arrow-button.svg
  src/renderer/assets/svg/orb-blue.svg
  src/renderer/assets/svg/orb-green.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Migrate to CRA5 + webpack 5 (#2323)
  craco.config.js
  package.json
  src/renderer/assets/svg/asset-arrow-blacksmall.svg
  src/renderer/assets/svg/asset-arrow-green-dash.svg
  src/renderer/assets/svg/asset-arrow-green.svg
  src/renderer/assets/svg/asset-arrow-grey.svg
  src/renderer/assets/svg/asset-arrow-twoway.svg
  src/renderer/assets/svg/asset-arrow-yello.svg
  src/renderer/assets/svg/asset-atom.svg
  src/renderer/assets/svg/asset-dropdown.svg
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/assets/svg/asset-market.svg
  src/renderer/assets/svg/asset-refresh.svg
  src/renderer/assets/svg/asset-user.svg
  src/renderer/assets/svg/icon-arrow-button.svg
  src/renderer/assets/svg/orb-blue.svg
  src/renderer/assets/svg/orb-green.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/filterMenu/FilterMenu.tsx
  src/renderer/helpers/fp/ord.test.ts
  src/renderer/services/wallet/util.test.ts
  src/renderer/services/wallet/util.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix sb decorators
  .storybook/preview.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Fix missing entries of stories
  src/renderer/components/AccountAddressSelector/AccountAddressSelector.stories.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.stories.tsx
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/app/AppUpdate.stories.tsx
  src/renderer/components/deposit/add/AssetMissmatchWarning.stories.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.stories.tsx
  src/renderer/components/deposit/add/AsymDeposit.stories.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.stories.tsx
  src/renderer/components/footer/Footer.stories.tsx
  src/renderer/components/footer/Footer.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/manageButton/ManageButton.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/components/uielements/qrCode/QRCode.stories.tsx
  src/renderer/components/uielements/qrCode/QRCode.tsx
  src/renderer/components/uielements/txDetail/TxDetail.stories.tsx
  src/renderer/components/uielements/txType/TxType.stories.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.stories.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Extract common `argTypes` + fix mooore stories
  src/renderer/components/deposit/add/AssetMissmatchWarning.stories.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.stories.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.stories.tsx
  src/renderer/components/footer/Footer.stories.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/lock/HeaderLock.stories.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.stories.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/components/header/price/HeaderPriceSelector.stories.tsx
  src/renderer/components/header/price/HeaderPriceSelector.tsx
  src/renderer/components/header/settings/HeaderSettings.stories.tsx
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/header/stats/HeaderStats.stories.tsx
  src/renderer/components/header/theme/HeaderTheme.stories.tsx
  src/renderer/components/header/theme/HeaderTheme.tsx
  src/renderer/components/manageButton/ManageButton.stories.tsx
  src/renderer/components/manageButton/ManageButton.tsx
  src/renderer/components/settings/AppSettings.stories.tsx
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.stories.tsx
  src/renderer/components/uielements/assets/assetData/AssetData.stories.tsx
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.stories.tsx
  src/renderer/components/uielements/modal/Modal.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShareCard.stories.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.stories.tsx
  src/renderer/components/uielements/reloadButton/ReloadButton.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.stories.tsx
  src/renderer/components/wallet/account/AccountSelector.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.stories.tsx
  src/renderer/components/wallet/unlock/UnlockForm.stories.tsx
  src/renderer/storybook/argTypes.ts
Due: cross-env NODE_ENV=development eslint --cache

Finish upgrade of stories
  .storybook/main.js
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/table/BondsTable.stories.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/uielements/reloadButton/ReloadButton.stories.tsx
  src/renderer/components/wallet/add/AddWallet.stories.tsx
  src/renderer/components/wallet/add/AddWallet.tsx
  src/renderer/components/wallet/assets/AssetsNav.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/txs/interact/Interact.stories.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTERRA.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.stories.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.stories.tsx
  src/renderer/components/wallet/unlock/UnlockForm.stories.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/components/wallet/walletType/WalletTypeLabel.stories.tsx
  src/renderer/components/wallet/walletType/WalletTypeLabel.tsx
  src/renderer/components/wallet/walletType/WalletTypeSelector.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Update cosmos-client
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update env.sample
  .env.sample
Due: none

Update README
  README.md
  internals/img/asgardex-banner.png
  internals/img/asgardex-splash.png
  internals/img/eslint-padded-90.png
  internals/img/eslint-padded.png
  internals/img/eslint.png
  internals/img/jest-padded-90.png
  internals/img/jest-padded.png
  internals/img/jest.png
  internals/img/js-padded.png
  internals/img/js.png
  internals/img/npm.png
  internals/img/react-padded-90.png
  internals/img/react-padded.png
  internals/img/react-router-padded-90.png
  internals/img/react-router-padded.png
  internals/img/react-router.png
  internals/img/react.png
  internals/img/redux-padded-90.png
  internals/img/redux-padded.png
  internals/img/redux.png
  internals/img/webpack-padded-90.png
  internals/img/webpack-padded.png
  internals/img/webpack.png
  internals/img/yarn-padded-90.png
  internals/img/yarn-padded.png
  internals/img/yarn.png
Due: prettier --ignore-path .eslintignore --single-quote --write

THOR -> RUNE
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Quick update: `cosmos client` + `README` + `env.sample` (#2325)
  .env.sample
  README.md
  internals/img/asgardex-banner.png
  internals/img/asgardex-splash.png
  internals/img/eslint-padded-90.png
  internals/img/eslint-padded.png
  internals/img/eslint.png
  internals/img/jest-padded-90.png
  internals/img/jest-padded.png
  internals/img/jest.png
  internals/img/js-padded.png
  internals/img/js.png
  internals/img/npm.png
  internals/img/react-padded-90.png
  internals/img/react-padded.png
  internals/img/react-router-padded-90.png
  internals/img/react-router-padded.png
  internals/img/react-router.png
  internals/img/react.png
  internals/img/redux-padded-90.png
  internals/img/redux-padded.png
  internals/img/redux.png
  internals/img/webpack-padded-90.png
  internals/img/webpack-padded.png
  internals/img/webpack.png
  internals/img/yarn-padded-90.png
  internals/img/yarn-padded.png
  internals/img/yarn.png
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update tx sizes to fix `outbound amount
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Update tx sizes (#2326)
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove Terra from README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Prepare v1.17.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.17.2 (#2328)
  CHANGELOG.md
  README.md
  package.json
  src/renderer/services/chain/fees/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix `KeystoreClientStates`
  src/renderer/hooks/useKeystoreClientStates.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix test
  src/renderer/helpers/addressHelper.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
