Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

prettier 2
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Back to `CashAddr`
  src/main/api/ledger/bitcoincash/address.ts
Due: cross-env NODE_ENV=development eslint --cache

Compare address formats in LedgerConfirmationModal
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

use new package
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache

Introduce CopyLabel (incl. story)
  src/renderer/components/uielements/label/CopyLabel.stories.tsx
  src/renderer/components/uielements/label/CopyLabel.styles.ts
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/components/uielements/label/index.ts
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.styles.ts
  src/renderer/components/wallet/phrase/PhraseCopyModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update LedgerConfirmationModal
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix: Show format info for BCH only
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

[Ledger] Let user compare BCH address formats (#2149)
  src/main/api/ledger/bitcoincash/address.ts
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/deposit/withdraw/Withdraw.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.stories.tsx
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.styles.ts
  src/renderer/components/modal/confirmation/LedgerConfirmationModal.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/label/CopyLabel.stories.tsx
  src/renderer/components/uielements/label/CopyLabel.styles.ts
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/components/uielements/label/index.ts
  src/renderer/components/wallet/phrase/NewPhraseGenerate.tsx
  src/renderer/components/wallet/phrase/PhraseCopyModal.styles.ts
  src/renderer/components/wallet/phrase/PhraseCopyModal.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/ledger.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/ledger.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/ledger.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v0.11.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.11.0 (#2151)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

update dependencies
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

use real packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Use patched `cosmos-client`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Latest veado/cosmos-client-ts.git#patch/v0.45.1
  yarn.lock
Due: none

Add `register{Send|Deposit}Codecs`
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Get `PubKey` from `commpressPk`
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

xchain-thorchain@0.24.0-alpha.2
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Upgrade xchain-cosmos|thorchain (needed for upcoming hardfork) (#2150)
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable Ledger THOR temporary
  src/renderer/const.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Bump 0.12.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

yarn clean cache (win only)
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Remove cache
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Update yarn.lock
  yarn.lock
Due: none

--cache-folder (win only)
  .github/workflows/build-win.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Run windows build only + skip others
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v0.12.0 (#2156)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
  src/renderer/const.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Re-enable GH workflows (test, macos, linux)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Re-enable Ledger THOR
  src/renderer/const.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Restore things disabled by v0.12.0. (#2157)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  .github/workflows/test.yml
  src/renderer/const.ts
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/helpers/walletHelper.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update to latest xchain-cosmos|bch|doge|ts
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

WIP: Fix Ledger THOR
  package.json
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Make Ledger THOR work again
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix Ledger THOR (#2159)
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove `sr25519.js` patch
  patch/sr25519.js
  scripts/fix.sr25519.js
Due: cross-env NODE_ENV=development eslint --cache

Add bond provider feature
  src/renderer/components/wallet/txs/interact/Interact.styles.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: ADD: Bond Providers (#2162)
  patch/sr25519.js
  scripts/fix.sr25519.js
  src/renderer/components/wallet/txs/interact/Interact.styles.tsx
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.12.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Another quick fix for Ledger THOR
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v0.12.1 (#2163)
  CHANGELOG.md
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix `sequence` check for Ledger THOR accounts
  src/main/api/ledger/thorchain/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
