Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Resolves: Switch `mainnet` <-> `testnet` (#220)
  src/App.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/wallet/WalletManage.tsx
  src/contexts/AppContext.tsx
  src/contexts/BinanceContext.tsx
  src/contexts/ConnectionContext.tsx
  src/contexts/MidgardContext.tsx
  src/services/app/service.ts
  src/services/app/types.ts
  src/services/binance/service.ts
  src/services/binance/utils.test.ts
  src/services/binance/utils.ts
  src/services/midgard/service.ts
  src/services/wallet/service.ts
  src/views/pools/PoolsOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add note about `keystore.json`
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

`fp-ts`
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Store Binance address in state
  src/components/wallet/WalletManage.tsx
  src/contexts/BinanceContext.tsx
  src/services/binance/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Simplify `getKeystoreContent`: fold -> chain
  src/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache

Refactore context out from WalletManage component
  src/components/wallet/WalletManage.tsx
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

changeNetwork -> toggleNetwork
  src/components/wallet/WalletManage.tsx
  src/contexts/AppContext.tsx
  src/services/app/service.ts
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Store binance address into state (#222)
  src/components/wallet/WalletManage.tsx
  src/contexts/AppContext.tsx
  src/contexts/BinanceContext.tsx
  src/services/app/service.ts
  src/services/binance/service.ts
  src/services/wallet/util.ts
  src/views/wallet/WalletSettingsScreen.tsx
Due: cross-env NODE_ENV=development eslint --cache

Style ImportView and TextArea
  src/components/uielements/input/Input.stories.tsx
  src/components/uielements/input/Input.style.tsx
  src/components/uielements/input/Input.tsx
  src/components/uielements/input/InputTextArea.tsx
  src/components/uielements/input/types.ts
  src/components/wallet/ImportPhrase.tsx
  src/views/wallet/WalletView.tsx
  src/views/wallet/importsView/ImportsView.style.tsx
  src/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

README: Add `keystore.json` location (#221)
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Refactore wallet structure (part 1)
  .storybook/preview.tsx
  src/components/wallet/UnlockForm.stories.tsx
  src/components/wallet/UnlockForm.tsx
  src/services/wallet/service.ts
  src/views/wallet/StakesView.tsx
  src/views/wallet/UnlockView.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactore wallet structure (part 1) (#226)
  .storybook/preview.tsx
  src/components/wallet/UnlockForm.stories.tsx
  src/components/wallet/UnlockForm.tsx
  src/services/wallet/service.ts
  src/views/wallet/StakesView.tsx
  src/views/wallet/UnlockView.tsx
  src/views/wallet/UserStakesScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename UserBondsScreen -> BondsView + remove all
  src/views/wallet/BondsView.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename UserAssetsView -> AssetsView + extract all
  src/components/wallet/AssetsTable.stories.tsx
  src/components/wallet/AssetsTable.tsx
  src/views/wallet/AssetsView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update AssetView Intl
  src/i18n/de/wallet.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletViewNav.style.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix/asset view intl (#228)
  src/i18n/de/wallet.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
  src/views/wallet/UserAssetsScreen.style.tsx
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletViewNav.style.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor wallet structure (part 2) (#227)
  src/components/wallet/AssetsTable.stories.tsx
  src/components/wallet/AssetsTable.style.tsx
  src/components/wallet/AssetsTable.tsx
  src/views/wallet/AssetsView.tsx
  src/views/wallet/BondsView.tsx
  src/views/wallet/UserBondsScreen.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename WalletSettingsScreen -> SettingsView
  src/views/wallet/SettingsView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename UserAssetDetailsScreen -> AssetDetailsView
  src/components/wallet/AssetDetails.tsx
  src/components/wallet/AssetsDetails.stories.tsx
  src/views/wallet/AssetDetailsView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename WalletManage -> Settings + add story for it
  src/components/wallet/Settings.stories.tsx
  src/components/wallet/Settings.tsx
  src/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename WalletViewNav -> AssetsNav + add a story
  src/components/wallet/AssetsNav.stories.tsx
  src/components/wallet/AssetsNav.style.tsx
  src/components/wallet/AssetsNav.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename FundsSendScreen -> SendView + extract all
  src/components/wallet/SendForm.stories.tsx
  src/components/wallet/SendForm.tsx
  src/views/wallet/SendView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename FundsReceiveScreen -> ReceiveView + extract
  src/components/wallet/Receive.stories.tsx
  src/components/wallet/Receive.tsx
  src/views/wallet/ReceiveView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

SendForm -> Send
  src/components/wallet/Send.stories.tsx
  src/components/wallet/Send.tsx
  src/views/wallet/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix flickering text
  .storybook/preview.tsx
  src/App.tsx
  src/Global.style.tsx
  src/index.css
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor wallet structure (part 3) (#229)
  src/components/wallet/AssetDetails.tsx
  src/components/wallet/AssetsDetails.stories.tsx
  src/components/wallet/AssetsNav.stories.tsx
  src/components/wallet/AssetsNav.style.tsx
  src/components/wallet/AssetsNav.tsx
  src/components/wallet/Receive.stories.tsx
  src/components/wallet/Receive.tsx
  src/components/wallet/Send.stories.tsx
  src/components/wallet/Send.tsx
  src/components/wallet/Settings.stories.tsx
  src/components/wallet/Settings.tsx
  src/views/wallet/AssetDetailsView.tsx
  src/views/wallet/ReceiveView.tsx
  src/views/wallet/SendView.tsx
  src/views/wallet/SettingsView.tsx
  src/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix flickering text (#230)
  .storybook/preview.tsx
  src/App.tsx
  src/Global.style.tsx
  src/index.css
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Add i18n constants for AssetDetails
  src/i18n/de/wallet.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update Button
  src/components/shared/icons/DynamicCoin.style.tsx
  src/components/uielements/button/button.stories.tsx
  src/components/uielements/button/button.style.ts
  src/components/uielements/button/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update AssetDetails screen
  src/components/wallet/AssetDetails.style.tsx
  src/components/wallet/AssetDetails.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update TransactionTable component
  src/components/wallet/UserTransactionTable.style.tsx
  src/components/wallet/UserTransactionsTable.tsx
Due: cross-env NODE_ENV=development eslint --cache

Feature/asset details (#231)
  src/components/shared/icons/DynamicCoin.style.tsx
  src/components/uielements/button/button.stories.tsx
  src/components/uielements/button/button.style.ts
  src/components/uielements/button/types.ts
  src/components/wallet/AssetDetails.style.tsx
  src/components/wallet/AssetDetails.tsx
  src/components/wallet/UserTransactionTable.style.tsx
  src/components/wallet/UserTransactionsTable.tsx
  src/i18n/de/wallet.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add `pricePoolSelectorFromRD` helper (incl. tests)
  src/components/wallet/AssetsTable.tsx
  src/services/midgard/service.ts
  src/services/midgard/utils.test.ts
  src/services/midgard/utils.ts
  src/views/pools/PoolsOverview.tsx
  src/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update i18n for AssetDetails
  src/components/wallet/UserTransactionsTable.tsx
  src/i18n/de/common.ts
  src/i18n/de/wallet.ts
  src/i18n/en/common.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/common.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update i18n for AssetDetails (#232)
  src/components/wallet/UserTransactionsTable.tsx
  src/i18n/de/common.ts
  src/i18n/de/wallet.ts
  src/i18n/en/common.ts
  src/i18n/en/wallet.ts
  src/i18n/fr/common.ts
  src/i18n/fr/wallet.ts
  src/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Calculate values for balances
  src/components/wallet/AssetsTable.stories.tsx
  src/components/wallet/AssetsTable.tsx
  src/const.ts
  src/helpers/poolHelper.test.ts
  src/helpers/poolHelper.ts
  src/services/binance/utils.test.ts
  src/services/binance/utils.ts
  src/services/midgard/utils.test.ts
  src/services/midgard/utils.ts
  src/views/pools/utils.ts
  src/views/wallet/AssetsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest asgardex-util + fix tests
  package.json
  src/services/midgard/utils.test.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Use latest binance-sdk@3.0.2-alpha.11
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Use latest `asgardex-binance`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write
