Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Update CI to continue build support of `macOS-11`
  .github/workflows/build-macos.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Re-activate builds for macOS + Windows
  .github/workflows/build-macos.yml
  .github/workflows/build-win.yml
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

- RU translation for savers.ts - minor fixes
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/ru/savers.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v1.18.5 (#2494)
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  CHANGELOG.md
  package.json
  src/main/api/ledger/bitcoin/address.ts
  src/main/api/ledger/bitcoin/transaction.ts
  src/main/api/ledger/bitcoincash/address.ts
  src/main/api/ledger/bitcoincash/transaction.ts
  src/main/api/ledger/doge/address.ts
  src/main/api/ledger/doge/transaction.ts
  src/main/api/ledger/litecoin/address.ts
  src/main/api/ledger/litecoin/transaction.ts
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

- RU translation for savers.ts - minor fixes
  src/renderer/i18n/ru/savers.ts
Due: cross-env NODE_ENV=development eslint --cache

Translation ru20 dec (pt2) (#2496)
  src/renderer/i18n/fr/savers.ts
  src/renderer/i18n/ru/savers.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix `openExternal` handle to meet new sandbox
  CHANGELOG.md
  src/main/api/url.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/menu/help.ts
  src/main/preload.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix `openExternal` handle to meet new sandbox (#2497)
  CHANGELOG.md
  src/main/api/url.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/main/menu/help.ts
  src/main/preload.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Consider fees for `max` value (UTXO/ETH/BNB only)
  CHANGELOG.md
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Remove cases for RUNE/ATOM
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [Send] Max value can't be negative
  CHANGELOG.md
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix: Consider fees for `max` SWAP values (#2499)
  CHANGELOG.md
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/components/swap/Swap.utils.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: [Send] Max value can't be negative (#2501)
  CHANGELOG.md
  src/renderer/components/uielements/button/MaxBalanceButton.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

WIP: [SymDeposit] Redesign
  CHANGELOG.md
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/Deposit.styles.ts
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Refactor styles (TW only)
  src/renderer/components/deposit/add/AssetMissmatchWarning.styles.ts
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/Deposit.styles.ts
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update i18n
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fee details
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Address details
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

memo details
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Balance details
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated content etc.
  src/renderer/components/deposit/add/Deposit.styles.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetCard/index.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor styles for 'warning` components (TW only)
  src/renderer/components/deposit/add/AssetMissmatchWarning.styles.ts
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.tsx
Due: cross-env NODE_ENV=development eslint --cache

[AssetInput] Add Ledger + extraContent
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
Due: cross-env NODE_ENV=development eslint --cache

Refactor styles for 'warning` components (TW only) (#2504)
  src/renderer/components/deposit/add/AssetMissmatchWarning.styles.ts
  src/renderer/components/deposit/add/AssetMissmatchWarning.tsx
  src/renderer/components/deposit/add/AsymAssetsWarning.tsx
  src/renderer/components/deposit/add/PendingAssetsWarning.tsx
  src/renderer/components/uielements/assets/assetAddress/AssetAddress.tsx
Due: cross-env NODE_ENV=development eslint --cache

[AssetInput] Add Ledger + extraContent (#2505)
  src/renderer/components/savers/AddSavers.tsx
  src/renderer/components/savers/WithdrawSavers.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix slider (antd) styles
  src/renderer/components/uielements/slider/Slider.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Add info texts + finish things
  CHANGELOG.md
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update i18n
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: [SymDeposit] Redesign (#2502)
  CHANGELOG.md
  src/renderer/components/deposit/add/Deposit.helper.test.ts
  src/renderer/components/deposit/add/Deposit.helper.ts
  src/renderer/components/deposit/add/Deposit.styles.ts
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetCard/index.ts
  src/renderer/components/uielements/pools/PoolsPeriodSelector.tsx
  src/renderer/components/uielements/slider/Slider.styles.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/deposit.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/deposit.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/deposit.ts
  src/renderer/i18n/types.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/savers/SaversOverview.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

[Deposit] Wallet types based on routes
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/button/ManageButton.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/routes/pools/deposit.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/index.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.types.ts
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Ćheck whether Ledger is available at view level
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/hooks/useLedgerAddresses.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Filter RUNE out from selectable assets
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix max amount handling
  src/renderer/components/deposit/add/SymDeposit.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix track bg color
  src/renderer/components/uielements/slider/Slider.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

[Deposit] Wallet types based on routes (#2506)
  src/renderer/components/deposit/Deposit.tsx
  src/renderer/components/deposit/add/SymDeposit.stories.tsx
  src/renderer/components/deposit/add/SymDeposit.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/uielements/button/ManageButton.tsx
  src/renderer/components/uielements/slider/Slider.styles.ts
  src/renderer/contexts/ChainContext.tsx
  src/renderer/helpers/addressHelper.test.ts
  src/renderer/helpers/addressHelper.ts
  src/renderer/hooks/useLedgerAddresses.ts
  src/renderer/hooks/useSymDepositAddresses.ts
  src/renderer/routes/pools/deposit.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/wallet/const.ts
  src/renderer/services/wallet/ledger.ts
  src/renderer/views/deposit/DepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/add/SymDepositView.types.ts
  src/renderer/views/pools/ActivePools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix `getLiquidityProviders`
  CHANGELOG.md
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix `getLiquidityProviders` (#2510)
  CHANGELOG.md
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

WIP: [SWAP] Persistant wallet state
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/button/SwapButton.tsx
  src/renderer/components/uielements/button/index.ts
  src/renderer/helpers/walletHelper.ts
  src/renderer/i18n/de/bonds.ts
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/bonds.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/routes/pools/index.ts
  src/renderer/routes/pools/pools.test.ts
  src/renderer/routes/pools/swap.ts
  src/renderer/views/ViewRoutes.tsx
  src/renderer/views/app/AppView.tsx
  src/renderer/views/pools/ActivePools.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use react-router@6.6.1 to support optional params
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write
