Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

refactored stake stories
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

added advanced mode button
  src/renderer/components/Tabs/Tabs.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/components/stake/Stake.tsx
Due: cross-env NODE_ENV=development eslint --cache

added translations for stake
  src/renderer/components/stake/Stake.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

removed animation value
  src/renderer/components/stake/Stake.styles.tsx
Due: cross-env NODE_ENV=development eslint --cache

added missed translations for stake
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/stake.ts
Due: cross-env NODE_ENV=development eslint --cache

Stake UI: Tab Add | Withraw #436 (#459)
  src/renderer/components/Tabs/Tabs.tsx
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/uielements/poolShare/PoolShare.stories.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

reiplemented styles for AssetCard
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.style.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
Due: cross-env NODE_ENV=development eslint --cache

Reduce duplicated dependencies
  .eslintrc
  .vscode/settings.json
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Bump to 0.0.3-alpha.1
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Reduce duplicated dependencies (#460)
  .eslintrc
  .vscode/settings.json
  README.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Use latest asgardex-eth + fix fp-ts version
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Load / show ETH balances
  package.json
  src/renderer/assets/svg/asset-bnb.svg
  src/renderer/assets/svg/asset-btc.svg
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/assets/svg/asset-rune.svg
  src/renderer/assets/svg/coin-rune.svg
  src/renderer/components/icons/assetIcons.ts
  src/renderer/components/icons/coinIcons.ts
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/Settings.style.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/bitcoin/service.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update yarn.lock
  yarn.lock
Due: none

Clean up
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

added percent slider; AssetMenu onSelect refactor
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/slider/Slider.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest `@thorchain/asgardex-ethereum`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

ETH balance (#461)
  package.json
  src/renderer/assets/svg/asset-bnb.svg
  src/renderer/assets/svg/asset-btc.svg
  src/renderer/assets/svg/asset-eth.svg
  src/renderer/assets/svg/asset-rune.svg
  src/renderer/assets/svg/coin-rune.svg
  src/renderer/components/icons/assetIcons.ts
  src/renderer/components/icons/coinIcons.ts
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/AssetsTable.tsx
  src/renderer/components/wallet/Settings.style.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.ts
  src/renderer/services/bitcoin/service.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/types.ts
  src/renderer/services/wallet/util.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added dynamic dropdown width calculation for AssetCard
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
Due: cross-env NODE_ENV=development eslint --cache

added AddStake form
  src/renderer/components/Tabs/Tabs.styles.tsx
  src/renderer/components/stake/AddStake/AddStake.stories.tsx
  src/renderer/components/stake/AddStake/AddStake.style.ts
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
Due: cross-env NODE_ENV=development eslint --cache

added connection between asset and rune in terms of baseASset
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move AssetsXYZ components
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsNav.stories.tsx
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/components/wallet/assets/AssetsTable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTable.style.tsx
  src/renderer/components/wallet/assets/AssetsTable.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: AssetsTableCollapsable
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix BTC balances on mainnet
  .env.sample
  src/renderer/services/bitcoin/service.ts
Due: cross-env NODE_ENV=development eslint --cache

added calculation between inputs at the stake view
  src/renderer/components/stake/AddStake/AddStake.stories.tsx
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactored InputBigNumber to not to use useEffect as it leads to the circular rerender
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

added onStake functionality
  src/renderer/components/stake/AddStake/AddStake.stories.tsx
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed runeAsset to be an Asset
  src/renderer/components/stake/AddStake/AddStake.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed wrong calculation missed AssetAmount
  src/renderer/components/stake/AddStake/AddStake.stories.tsx
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed review issues
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/i18n/de/stake.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed linter issue. fixed typos
  src/renderer/components/stake/AddStake/AddStake.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix BTC balances on mainnet (#471)
  .env.sample
  src/renderer/services/bitcoin/service.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed build issue
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

Stake UI: Add / style elements for stake form #437 (#472)
  src/renderer/components/Tabs/Tabs.styles.tsx
  src/renderer/components/stake/AddStake/AddStake.stories.tsx
  src/renderer/components/stake/AddStake/AddStake.style.ts
  src/renderer/components/stake/AddStake/AddStake.tsx
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/stake/Stake.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.style.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.style.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectData.tsx
  src/renderer/components/uielements/input/InputBigNumber.tsx
  src/renderer/components/uielements/slider/Slider.tsx
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed big number input
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

UI for AssetsTableCollapsable
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/wallet/assets/AssetsTable.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/service.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/types.ts
  src/renderer/services/utils.test.ts
  src/renderer/services/utils.ts
  src/renderer/services/wallet/types.ts
Due: cross-env NODE_ENV=development eslint --cache

fixed big number input (#473)
  src/renderer/components/uielements/input/InputBigNumber.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finish styles + responsive (mobile/desktop)
  src/renderer/components/uielements/table/table.style.ts
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix imports
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

AssetsTable: Refactor UI (#466)
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/components/uielements/table/table.style.ts
  src/renderer/components/wallet/assets/AssetDetails.stories.tsx
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/assets/AssetsNav.stories.tsx
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
  src/renderer/components/wallet/assets/AssetsNav.tsx
  src/renderer/components/wallet/assets/AssetsTable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTable.style.tsx
  src/renderer/components/wallet/assets/AssetsTable.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.stories.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/helpers/fp/eq.test.ts
  src/renderer/helpers/fp/eq.ts
  src/renderer/services/binance/service.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/service.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/ethereum/service.ts
  src/renderer/services/ethereum/types.ts
  src/renderer/services/types.ts
  src/renderer/services/utils.test.ts
  src/renderer/services/utils.ts
  src/renderer/services/wallet/types.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/AssetsView.tsx
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

added pool details section
  src/renderer/components/stake/PoolDetails/PoolDetails.stories.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.style.tsx
  src/renderer/components/stake/PoolDetails/PoolDetails.tsx
  src/renderer/components/stake/Stake.stories.tsx
  src/renderer/components/stake/Stake.styles.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.stories.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.style.tsx
  src/renderer/components/uielements/poolStatus/PoolStatus.tsx
  src/renderer/i18n/de/stake.ts
  src/renderer/i18n/en/stake.ts
  src/renderer/i18n/ru/stake.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
