Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

WIP: [Cosmos] Asset details
  src/renderer/services/cosmos/balances.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/cosmos/types.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Label for settings in mobile nav.
  src/renderer/components/header/settings/HeaderSettings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update to xchain-cosmos@0.18.0-alpha.1
  package.json
  src/renderer/services/cosmos/balances.ts
  src/renderer/services/cosmos/common.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[Cosmos] Asset details (#2295)
  package.json
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/services/cosmos/balances.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/cosmos/types.ts
  src/renderer/services/wallet/transaction.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

[COSMOS] Send txs
  CHANGELOG.md
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/electron.ts
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/CosmosContext.tsx
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/fees.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/cosmos/types.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewCOSMOS.tsx
  src/renderer/views/wallet/send/index.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[COSMOS] Send txs (#2296)
  CHANGELOG.md
  package.json
  src/main/api/ledger/thorchain/transaction-legacy.ts
  src/main/api/ledger/thorchain/transaction.ts
  src/main/electron.ts
  src/renderer/components/modal/tx/extra/Common.styles.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/index.ts
  src/renderer/contexts/CosmosContext.tsx
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/fees.ts
  src/renderer/services/cosmos/index.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/cosmos/types.ts
  src/renderer/views/wallet/send/SendView.tsx
  src/renderer/views/wallet/send/SendViewCOSMOS.tsx
  src/renderer/views/wallet/send/index.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[COSMOS] Support swap / deposit / withdraw
  CHANGELOG.md
  README.md
  package.json
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

[COSMOS] Support swap / deposit / withdraw (#2297)
  CHANGELOG.md
  README.md
  package.json
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/services/chain/address.ts
  src/renderer/services/chain/decimal.ts
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/chain/transaction/transaction.helper.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v.1.16.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v.1.16.0 (#2299)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix: UI does not show Mimir status of GAIA
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: UI does not show Mimir status of GAIA (#2300)
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Ledger] Show / verify Cosmos address
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/cosmos/address.ts
  src/main/api/ledger/cosmos/common.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Show / verify Ledger Cosmos address (#2302)
  package.json
  src/main/api/ledger/address.ts
  src/main/api/ledger/cosmos/address.ts
  src/main/api/ledger/cosmos/common.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/helpers/walletHelper.test.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Balances of Ledger Cosmos account
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Balances of Ledger Cosmos account (#2303)
  src/renderer/services/wallet/balances.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger txs
  package.json
  src/main/api/ledger/cosmos/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/thorchain/transaction.ts
  src/shared/api/io.ts
  src/shared/cosmos/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add `Cosmos` to `SUPPORTED_LEDGER_APPS`
  src/renderer/const.ts
Due: cross-env NODE_ENV=development eslint --cache

Latest xchain-thorchain@0.25.3-alpha.1 + xchain-cosmos@0.19.0-alpha.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix shares in `PoolShareView`
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix test + clean up
  src/main/api/ledger/cosmos/transaction.ts
  src/shared/api/io.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Send Ledger COSMOS txs (#2304)
  package.json
  src/main/api/ledger/cosmos/transaction.ts
  src/main/api/ledger/transaction.ts
  src/renderer/const.ts
  src/renderer/services/binance/transaction.ts
  src/renderer/services/bitcoin/transaction.ts
  src/renderer/services/bitcoincash/transaction.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/services/cosmos/transaction.ts
  src/renderer/services/doge/transaction.ts
  src/renderer/services/ethereum/transaction.ts
  src/renderer/services/litecoin/transaction.ts
  src/renderer/services/terra/transaction.ts
  src/renderer/services/thorchain/transaction.ts
  src/renderer/views/wallet/PoolShareView.tsx
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/cosmos/client.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Resolve: Prepare v1.17.0
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.17.0 (#2308)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Fix guards `isBaseAmount`, `isBaseAmountEncoded`
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CHANGELOG
  CHANGELOG.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix guards `isBaseAmount` and `isBaseAmountEncoded` (#2311)
  CHANGELOG.md
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Remove TERRA from supported pools
  CHANGELOG.md
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/const.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Remove TERRA from supported pools (#2313)
  CHANGELOG.md
  src/renderer/helpers/poolHelper.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/hooks/useMimirHalt.ts
  src/renderer/services/const.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/app/AppView.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Another fix for guards
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Another fix for guards (#2315)
  src/shared/api/io.test.ts
  src/shared/api/io.ts
  src/shared/utils/guard.test.ts
  src/shared/utils/guard.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: Remove `initialLocale`
  src/renderer/contexts/I18nContext.tsx
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/app/AppView.tsx
  src/shared/const.ts
Due: cross-env NODE_ENV=development eslint --cache

ETH: Option to use `legacy`|`ledgerlive` hd pathes
  CHANGELOG.md
  src/main/api/fileStore.ts
  src/main/api/ledger/ethereum/address.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/common.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/ethereum/const.ts
  src/shared/ethereum/ledger.ts
  src/shared/ethereum/types.ts
  src/shared/i18n/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Clean up
  src/main/api/fileStore.ts
  src/main/api/ledger/ethereum/address.ts
  src/main/api/ledger/ethereum/common.ts
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/shared/ethereum/ledger.ts
Due: cross-env NODE_ENV=development eslint --cache

Ledger ETH: Add options to use legacy|ledgerlive hd pathes (#2316)
  CHANGELOG.md
  src/main/api/fileStore.ts
  src/main/api/ledger/ethereum/address.ts
  src/main/api/ledger/ethereum/approve.ts
  src/main/api/ledger/ethereum/common.ts
  src/main/api/ledger/ethereum/transaction.ts
  src/renderer/components/settings/WalletSettings.styles.ts
  src/renderer/components/settings/WalletSettings.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/contexts/I18nContext.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/settings.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/settings.ts
  src/renderer/i18n/types.ts
  src/renderer/views/app/AppSettingsView.tsx
  src/renderer/views/app/AppView.tsx
  src/renderer/views/wallet/WalletSettingsView.tsx
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/ethereum/const.ts
  src/shared/ethereum/ledger.ts
  src/shared/ethereum/types.ts
  src/shared/i18n/const.ts
  src/shared/mock/api.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.17.1
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Prepare v1.17.1 (#2317)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update wallet.ts
  src/renderer/i18n/ru/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Update common.ts
  src/renderer/i18n/ru/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deposit.ts
  src/renderer/i18n/ru/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache
