Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

full first implementation of CRUD to view with the datastore
  package.json
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/contexts/WalletDatastore/DataStoreContext.tsx
  src/contexts/WalletDatastore/storage/UserTransactions/UserTransactionTypes.ts
  src/contexts/WalletDatastore/storage/accountsService.js
  src/contexts/WalletDatastore/storage/assetsService.js
  src/contexts/WalletDatastore/storage/baseService.js
  src/contexts/WalletDatastore/storage/binance/services/BinanceBalancesService.ts
  src/contexts/WalletDatastore/storage/binance/services/BinanceTokensService.ts
  src/contexts/WalletDatastore/storage/binance/services/BinanceTransactionsService.ts
  src/contexts/WalletDatastore/storage/binance/tables/BinanceBalancesTable.ts
  src/contexts/WalletDatastore/storage/binance/tables/BinanceTokensTable.ts
  src/contexts/WalletDatastore/storage/binance/tables/BinanceTransactionsTable.ts
  src/contexts/WalletDatastore/storage/binance/types/BinanceBalanceType.ts
  src/contexts/WalletDatastore/storage/binance/types/BinanceTokenType.ts
  src/contexts/WalletDatastore/storage/binance/types/BinanceTransactionType.ts
  src/contexts/WalletDatastore/storage/idbService.js
  src/contexts/WalletDatastore/storage/idbService.ts
  src/contexts/WalletDatastore/storage/services/baseService.ts
  src/contexts/WalletDatastore/storage/services/userSettingsService.ts
  src/contexts/WalletDatastore/storage/tables/UserTransactionsTable.ts
  src/contexts/WalletDatastore/storage/tables/WalletAccountsTable.ts
  src/contexts/WalletDatastore/storage/tables/index.js
  src/contexts/WalletDatastore/storage/tables/index.ts
  src/contexts/WalletDatastore/storage/tokensService.js
  src/contexts/WalletDatastore/storage/transactionsService.js
  src/contexts/WalletDatastore/storage/wallet_store.js
  src/contexts/WalletDatastore/wallet/WalletController/binance.js
  src/contexts/WalletDatastore/wallet/WalletController/wallet.js
  src/views/wallet/UserAssetsScreen.tsx
  src/views/wallet/WalletSettingsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Provide all pool data
  src/contexts/MidgardContext.tsx
  src/services/midgard.ts
  src/views/playground/PlaygroundView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use AssetAmount for amount
  package.json
  src/components/uielements/poolStep/PoolStatus.stories.tsx
  src/components/uielements/poolStep/PoolStatus.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add CoinIcon component
  src/components/icons/coinIcons.ts
  src/components/uielements/coins/coinIcon/CoinIcon.stories.tsx
  src/components/uielements/coins/coinIcon/CoinIcon.style.tsx
  src/components/uielements/coins/coinIcon/CoinIcon.tsx
  src/components/uielements/coins/coinIcon/index.ts
  src/components/uielements/coins/coinIcon/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update CoinIcon Props
  src/components/uielements/coins/coinIcon/CoinIcon.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Add AssetInput
  package.json
  src/components/uielements/assets/assetInput/assetInput.stories.tsx
  src/components/uielements/assets/assetInput/assetInput.style.ts
  src/components/uielements/assets/assetInput/assetInput.tsx
  src/components/uielements/assets/assetInput/index.ts
  src/components/uielements/assets/assetInput/types.ts
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.stories.tsx
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.test.tsx
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.tsx
  src/components/uielements/coins/coinInputAdvanced/coinInputAdvanced.view.ts
  src/components/uielements/coins/coinInputAdvanced/index.ts
  src/helpers/stringHelper.test.ts
  src/helpers/stringHelper.ts
  src/setupTests.ts
  src/types/asgardex.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Fixing eslint issues
  src/components/wallet/NewMnemonicGenerate.tsx
  src/components/wallet/WalletManage.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add CoinIcon component (#124)
  src/components/icons/coinIcons.ts
  src/components/uielements/coins/coinIcon/CoinIcon.stories.tsx
  src/components/uielements/coins/coinIcon/CoinIcon.style.tsx
  src/components/uielements/coins/coinIcon/CoinIcon.tsx
  src/components/uielements/coins/coinIcon/index.ts
  src/components/uielements/coins/coinIcon/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add new package for Drag
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update Label Types
  src/components/uielements/label/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Drag component
  src/components/uielements/drag/Drag.stories.tsx
  src/components/uielements/drag/Drag.style.tsx
  src/components/uielements/drag/Drag.tsx
  src/components/uielements/drag/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Drag component (#125)
  package.json
  src/components/uielements/drag/Drag.stories.tsx
  src/components/uielements/drag/Drag.style.tsx
  src/components/uielements/drag/Drag.tsx
  src/components/uielements/drag/index.tsx
  src/components/uielements/label/types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

WIP: Add AssetInput
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

Finish implementation of loading ALL needed data
  src/const.ts
  src/contexts/BinanceContext.tsx
  src/contexts/MidgardContext.tsx
  src/services/binance/service.ts
  src/services/midgard.ts
  src/services/midgard/service.ts
  src/services/midgard/types.ts
  src/services/midgard/utils.test.ts
  src/services/midgard/utils.ts
  src/views/playground/PlaygroundView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove second subscription
  src/views/playground/PlaygroundView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Cleaning up
  src/services/midgard/service.ts
Due: cross-env NODE_ENV=development eslint --cache

Add assets for Timer
  src/assets/timer/icon-tick-fill.svg
  src/assets/timer/refund.svg
  src/assets/timer/timerchart-1.svg
  src/assets/timer/timerchart-2.svg
  src/assets/timer/timerchart-3.svg
  src/assets/timer/timerchart-4.svg
  src/assets/timer/timerchart-full.svg
Due: none

Add Timer Icons
  src/components/icons/timerIcons.ts
Due: cross-env NODE_ENV=development eslint --cache

Add useInterval hooks
  src/hooks/useInterval.ts
Due: cross-env NODE_ENV=development eslint --cache

Add TxTimer component
  src/components/uielements/txTimer/TxTimer.stories.tsx
  src/components/uielements/txTimer/TxTimer.style.tsx
  src/components/uielements/txTimer/TxTimer.tsx
  src/components/uielements/txTimer/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Add new pacakge for circular progress bar
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add status component
  src/components/uielements/status/Status.stories.tsx
  src/components/uielements/status/Status.style.ts
  src/components/uielements/status/Status.tsx
  src/components/uielements/status/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add ContentTitle component
  src/components/uielements/contentTitle/ContentTitle.stories.tsx
  src/components/uielements/contentTitle/ContentTitle.style.tsx
  src/components/uielements/contentTitle/ContentTitle.tsx
  src/components/uielements/contentTitle/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add BackLink component
  src/components/uielements/backLink/BackLink.stories.tsx
  src/components/uielements/backLink/BackLink.style.tsx
  src/components/uielements/backLink/BackLink.tsx
  src/components/uielements/backLink/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add BackLink component (#134)
  src/components/uielements/backLink/BackLink.stories.tsx
  src/components/uielements/backLink/BackLink.style.tsx
  src/components/uielements/backLink/BackLink.tsx
  src/components/uielements/backLink/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add status component (#131)
  src/components/uielements/status/Status.stories.tsx
  src/components/uielements/status/Status.style.ts
  src/components/uielements/status/Status.tsx
  src/components/uielements/status/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update asset for Refund icon
  src/assets/timer/refund.svg
Due: none

Add PoolStatus component (#121)
  package.json
  src/components/uielements/poolStep/PoolStatus.stories.tsx
  src/components/uielements/poolStep/PoolStatus.style.tsx
  src/components/uielements/poolStep/PoolStatus.tsx
  src/components/uielements/poolStep/index.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Remove commented code
  src/services/midgard/try.ts
  src/views/playground/PlaygroundView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add line break after import
  src/components/uielements/contentTitle/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Provide all pool data (#123)
  src/const.ts
  src/contexts/BinanceContext.tsx
  src/contexts/MidgardContext.tsx
  src/services/binance/service.ts
  src/services/midgard.ts
  src/services/midgard/service.ts
  src/services/midgard/try.ts
  src/services/midgard/types.ts
  src/services/midgard/utils.test.ts
  src/services/midgard/utils.ts
  src/views/playground/PlaygroundView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update ESLint rule for import line break
  .eslintrc
  src/components/Footer.tsx
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/UserTransactionsTable.tsx
  src/components/wallet/WalletCreate.tsx
  src/helpers/transactionHelpers.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/FundsSendScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update palette colors
  src/components/uielements/txTimer/TxTimer.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add TxTimer component (#128)
  package.json
  src/assets/timer/icon-tick-fill.svg
  src/assets/timer/refund.svg
  src/assets/timer/timerchart-1.svg
  src/assets/timer/timerchart-2.svg
  src/assets/timer/timerchart-3.svg
  src/assets/timer/timerchart-4.svg
  src/assets/timer/timerchart-full.svg
  src/components/icons/timerIcons.ts
  src/components/uielements/txTimer/TxTimer.stories.tsx
  src/components/uielements/txTimer/TxTimer.style.tsx
  src/components/uielements/txTimer/TxTimer.tsx
  src/components/uielements/txTimer/index.ts
  src/hooks/useInterval.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Add ContentTitle component (#132)
  .eslintrc
  src/components/Footer.tsx
  src/components/uielements/contentTitle/ContentTitle.stories.tsx
  src/components/uielements/contentTitle/ContentTitle.style.tsx
  src/components/uielements/contentTitle/ContentTitle.tsx
  src/components/uielements/contentTitle/index.tsx
  src/components/wallet/NewMnemonic.tsx
  src/components/wallet/UserTransactionsTable.tsx
  src/components/wallet/WalletCreate.tsx
  src/helpers/transactionHelpers.ts
  src/views/wallet/FundsReceiveScreen.tsx
  src/views/wallet/FundsSendScreen.tsx
  src/views/wallet/UserAssetDetailsScreen.tsx
  src/views/wallet/WalletViewNav.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Fix TS errors
  src/components/uielements/label/label.stories.tsx
  src/components/uielements/label/label.style.ts
  src/components/uielements/txTimer/TxTimer.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add `Production build` to test actions
  .github/workflows/test.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Run lint
  craco.config.js
  src/services/midgard/try.ts
Due: cross-env NODE_ENV=development eslint --cache

Typo
  src/components/uielements/label/label.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve "Fix CI build of Electron app" (#139)
  .github/workflows/test.yml
  craco.config.js
  src/components/uielements/label/label.stories.tsx
  src/components/uielements/label/label.style.ts
  src/components/uielements/txTimer/TxTimer.tsx
  src/services/midgard/try.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
