Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

More styling (wip)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
Due: cross-env NODE_ENV=development eslint --cache

InputSearch component
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/input/Input.tsx
  src/renderer/components/uielements/input/InputSearch.stories.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/components/uielements/input/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

InputSearch component (#2427)
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/input/Input.tsx
  src/renderer/components/uielements/input/InputSearch.stories.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/components/uielements/input/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Finish things up
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Redesign AssetSelect (#2426)
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/index.css
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

`AssetMenu2` component
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use AssetMenu2 in AssetSelect2
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
Due: cross-env NODE_ENV=development eslint --cache

`AssetMenu2` component (#2429)
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use new AssetSelect / AssetMenu components
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/index.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
Due: cross-env NODE_ENV=development eslint --cache

AssetSelect2 -> AssetSelect
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.styles.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
Due: cross-env NODE_ENV=development eslint --cache

rm AssetMenu
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetMenu/index.ts
Due: cross-env NODE_ENV=development eslint --cache

AssetMenu2 -> AssetMenu
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetMenu/index.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use `AssetMenu2` / `AssetSelect2` (#2430)
  src/renderer/components/swap/Swap.styles.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu2.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.styles.ts
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.stories.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect2.tsx
Due: cross-env NODE_ENV=development eslint --cache

i18n
  src/renderer/components/swap/Swap.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.stories.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelectButton.tsx
  src/renderer/components/uielements/assets/assetSelect/index.ts
  src/renderer/components/uielements/fees/SwapFees.stories.tsx
  src/renderer/components/uielements/fees/SwapFees.tsx
  src/renderer/components/uielements/info/InfoIcon.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Animate AssetMenu
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use animated InputSearch in AssetsFilter
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix misc. styles at diff. places
  src/renderer/components/settings/EditableUrl.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/components/uielements/input/InputPassword.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update styles on Send|Upgrade|Interactive comps.
  src/renderer/components/wallet/txs/TxForm.styles.ts
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
Due: cross-env NODE_ENV=development eslint --cache

[Swap] Show addresses in details
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix AssetFilter clear button handling
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/i18n/de/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Mark selected wallet
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/wallet/WalletSelector.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show addresses in Swap details + fix misc styles (#2432)
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/AssetsFilter/AssetsFilter.tsx
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/settings/EditableUrl.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/components/uielements/assets/assetCard/AssetCard.styles.ts
  src/renderer/components/uielements/assets/assetCard/AssetCard.tsx
  src/renderer/components/uielements/assets/assetInput/AssetInput.tsx
  src/renderer/components/uielements/assets/assetMenu/AssetMenu.tsx
  src/renderer/components/uielements/assets/assetSelect/AssetSelect.tsx
  src/renderer/components/uielements/input/Input.styles.ts
  src/renderer/components/uielements/input/InputPassword.tsx
  src/renderer/components/uielements/input/InputSearch.tsx
  src/renderer/components/uielements/wallet/WalletSelector.tsx
  src/renderer/components/wallet/txs/TxForm.styles.ts
  src/renderer/components/wallet/txs/interact/InteractForm.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormCOSMOS.tsx
  src/renderer/components/wallet/txs/send/SendFormDOGE.tsx
  src/renderer/components/wallet/txs/send/SendFormETH.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/components/wallet/txs/upgrade/Upgrade.tsx
  src/renderer/components/wallet/unlock/UnlockForm.tsx
  src/renderer/i18n/de/common.ts
  src/renderer/i18n/en/common.ts
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/ru/common.ts
  src/renderer/i18n/types.ts
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix outbound fees for ETH
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Swap details: Don't truncate addresses by default
  src/renderer/components/swap/Swap.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Deprecate thorchain.info API endpoints (#2407)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/litecoin/transaction.ts
  src/main/api/url.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/litecoin.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Resolve: Disable testnet (#2408)
  .env.sample
  CHANGELOG.md
  src/renderer/services/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update fr translation (#2403)
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/midgard.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/fr/routes.ts
  src/renderer/i18n/fr/settings.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Prepare v1.18.2 (#2411)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Persistent thornode (api|rpc) urls (#2409)
  CHANGELOG.md
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/const.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/types.ts
  src/shared/api/types.ts
  src/shared/const.ts
  src/shared/mock/api.ts
  src/shared/thorchain/const.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Fix cosmos-lcd api is not available (#2405)
  .env.sample
  CHANGELOG.md
  src/main/api/ledger/cosmos/transaction.ts
  src/renderer/components/shared/result/ResultView.styles.ts
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/components/shared/success/SuccessView.tsx
  src/renderer/components/shared/warning/WarningView.stories.tsx
  src/renderer/components/shared/warning/WarningView.styles.ts
  src/renderer/components/shared/warning/WarningView.tsx
  src/renderer/components/shared/warning/index.ts
  src/renderer/components/wallet/assets/AssetDetails.styles.ts
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/ledger.ts
  src/renderer/i18n/fr/pools.ts
  src/renderer/i18n/fr/poolshares.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/cosmos/common.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/shared/api/cosmos.ts
  src/shared/cosmos/client.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Upgrade to heroicons@2.x (#2425)
  package.json
  src/renderer/components/header/lock/HeaderLock.tsx
  src/renderer/components/header/settings/HeaderSettings.tsx
  src/renderer/components/settings/EditableUrl.tsx
  src/renderer/components/swap/EditableAddress.tsx
  src/renderer/components/uielements/label/CopyLabel.tsx
  src/renderer/components/uielements/wallet/EditableWalletName.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Move handling of `InboundAddresses` from Midgard to THORNode (#2416)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useThorchainClientUrl.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/service.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/thorchain/thornode.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/types/generated/thornode/apis/NetworkApi.ts
  src/renderer/types/generated/thornode/apis/TSSApi.ts
  src/renderer/types/generated/thornode/apis/ThornamesApi.ts
  src/renderer/types/generated/thornode/models/InboundAddress.ts
  src/renderer/types/generated/thornode/models/KeygenMetric.ts
  src/renderer/types/generated/thornode/models/NodeKeygenMetric.ts
  src/renderer/types/generated/thornode/models/Thorname.ts
  src/renderer/types/generated/thornode/models/index.ts
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/upgrade/UpgradeView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: Get outbound fees from inbound_addresses (#2415)
  CHANGELOG.md
  src/renderer/services/chain/fees/common.ts
  src/renderer/services/chain/fees/deposit.ts
  src/renderer/services/chain/fees/swap.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/services/chain/fees/withdraw.ts
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
  src/renderer/services/midgard/utils.test.ts
  src/renderer/services/midgard/utils.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Update ERC20 whitelist based on latest thornode@1.97.2 (#2414)
  CHANGELOG.md
  package.json
  scripts/generateERC20Whitelist.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/types/generated/thorchain/erc20whitelist.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write
