Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Bring `cross-env` back into game
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Disable cache for a moment...
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Add reusable modal component
  src/components/modal/Modal.stories.tsx
  src/components/modal/Modal.style.tsx
  src/components/modal/Modal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add slider component
  src/components/slider/Slider.stories.tsx
  src/components/slider/Slider.style.tsx
  src/components/slider/Slider.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add StepBar component
  src/components/stepBar/StepBar.stories.tsx
  src/components/stepBar/StepBar.style.tsx
  src/components/stepBar/StepBar.tsx
Due: cross-env NODE_ENV=development eslint --cache

Change ref to branch `issue-105/fix-build2`
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Update gitignore file
  .gitignore
Due: none

Set `CI=false` explicit for build
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

StepBar, Modal, Slider components (#111)
  .gitignore
  src/components/modal/Modal.stories.tsx
  src/components/modal/Modal.style.tsx
  src/components/modal/Modal.tsx
  src/components/slider/Slider.stories.tsx
  src/components/slider/Slider.style.tsx
  src/components/slider/Slider.tsx
  src/components/stepBar/StepBar.stories.tsx
  src/components/stepBar/StepBar.style.tsx
  src/components/stepBar/StepBar.tsx
Due: cross-env NODE_ENV=development eslint --cache

Install lastest `asgardex-binance` from
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Run `build` actions on `master` only
  .github/workflows/build.yml
Due: prettier --ignore-path .eslintignore --single-quote --write

Add badge for Electron build
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Fix build actions and usage of BinanceClient (#110)
  README.md
  package.json
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Initial datastore code gen commit
  package.json
  public/scripts/jsstore.worker.min.js
  src/App.tsx
  src/components/wallet/forms/ImportMnemonicForm.tsx
  src/contexts/WalletDatastore/DataStoreContext.tsx
  src/contexts/WalletDatastore/storage/UserAccounts/UserAssetType.ts
  src/contexts/WalletDatastore/storage/UserTransactions/UserTransactionTypes.ts
  src/contexts/WalletDatastore/storage/accountsService.js
  src/contexts/WalletDatastore/storage/assetsService.js
  src/contexts/WalletDatastore/storage/baseService.js
  src/contexts/WalletDatastore/storage/idbService.js
  src/contexts/WalletDatastore/storage/tables/UserAccountsTable.ts
  src/contexts/WalletDatastore/storage/tables/UserAssetsTable.ts
  src/contexts/WalletDatastore/storage/tables/UserSettingsTable.ts
  src/contexts/WalletDatastore/storage/tables/UserTransactionsTable.ts
  src/contexts/WalletDatastore/storage/tables/index.js
  src/contexts/WalletDatastore/storage/tokensService.js
  src/contexts/WalletDatastore/storage/transactionsService.js
  src/contexts/WalletDatastore/storage/wallet_store.js
  src/contexts/WalletDatastore/wallet/WalletController/wallet.js
  src/views/wallet/UserAssetsScreen.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Make header responsive
  src/assets/svg/icon-close.svg
  src/assets/svg/icon-menu.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLang.style.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderNetStatus.style.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/header/HeaderSettings.stories.tsx
  src/components/header/HeaderSettings.style.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.stories.tsx
  src/components/header/HeaderTheme.style.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix tab styling
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

Replace mobile wrapper with breakpoints
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Simplify desktop view check
  src/components/header/Header.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Move atomic components to uielements
  src/components/uielements/modal/Modal.stories.tsx
  src/components/uielements/modal/Modal.style.tsx
  src/components/uielements/modal/Modal.tsx
  src/components/uielements/slider/Slider.stories.tsx
  src/components/uielements/slider/Slider.style.tsx
  src/components/uielements/slider/Slider.tsx
  src/components/uielements/stepBar/StepBar.stories.tsx
  src/components/uielements/stepBar/StepBar.style.tsx
  src/components/uielements/stepBar/StepBar.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Input component
  src/components/uielements/input/Input.stories.tsx
  src/components/uielements/input/Input.style.tsx
  src/components/uielements/input/Input.tsx
  src/components/uielements/input/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Input component (#114)
  src/components/uielements/input/Input.stories.tsx
  src/components/uielements/input/Input.style.tsx
  src/components/uielements/input/Input.tsx
  src/components/uielements/input/types.ts
  src/components/uielements/modal/Modal.stories.tsx
  src/components/uielements/modal/Modal.style.tsx
  src/components/uielements/modal/Modal.tsx
  src/components/uielements/slider/Slider.stories.tsx
  src/components/uielements/slider/Slider.style.tsx
  src/components/uielements/slider/Slider.tsx
  src/components/uielements/stepBar/StepBar.stories.tsx
  src/components/uielements/stepBar/StepBar.style.tsx
  src/components/uielements/stepBar/StepBar.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add mobile header (#113)
  src/assets/svg/icon-close.svg
  src/assets/svg/icon-menu.svg
  src/components/header/Header.style.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLang.style.tsx
  src/components/header/HeaderLang.tsx
  src/components/header/HeaderLock.stories.tsx
  src/components/header/HeaderLock.style.tsx
  src/components/header/HeaderLock.tsx
  src/components/header/HeaderNetStatus.style.tsx
  src/components/header/HeaderNetStatus.tsx
  src/components/header/HeaderSettings.stories.tsx
  src/components/header/HeaderSettings.style.tsx
  src/components/header/HeaderSettings.tsx
  src/components/header/HeaderTheme.stories.tsx
  src/components/header/HeaderTheme.style.tsx
  src/components/header/HeaderTheme.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add index file for previous components
  src/components/uielements/input/index.tsx
  src/components/uielements/modal/index.tsx
  src/components/uielements/slider/index.tsx
  src/components/uielements/stepBar/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add global style util
  src/settings/style-util.ts
Due: cross-env NODE_ENV=development eslint --cache

Add AddressInput component
  src/components/uielements/adressInput/addressInput.stories.tsx
  src/components/uielements/adressInput/addressInput.style.tsx
  src/components/uielements/adressInput/addressInput.tsx
  src/components/uielements/adressInput/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve comments
  src/components/uielements/adressInput/addressInput.style.tsx
  src/settings/style-util.ts
Due: cross-env NODE_ENV=development eslint --cache

Add AddressInput component (#116)
  src/components/uielements/adressInput/addressInput.stories.tsx
  src/components/uielements/adressInput/addressInput.style.tsx
  src/components/uielements/adressInput/addressInput.tsx
  src/components/uielements/adressInput/index.tsx
  src/components/uielements/input/index.tsx
  src/components/uielements/modal/index.tsx
  src/components/uielements/slider/index.tsx
  src/components/uielements/stepBar/index.tsx
  src/settings/style-util.ts
Due: cross-env NODE_ENV=development eslint --cache

Add Password Confirmation Modal
  src/components/modal/privateModal/index.ts
  src/components/modal/privateModal/privateModal.stories.tsx
  src/components/modal/privateModal/privateModal.style.tsx
  src/components/modal/privateModal/privateModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Dynamic Coin
  src/components/uielements/coins/dynamicCoin/dynamicCoin.stories.tsx
  src/components/uielements/coins/dynamicCoin/dynamicCoin.style.tsx
  src/components/uielements/coins/dynamicCoin/dynamicCoin.tsx
  src/components/uielements/coins/dynamicCoin/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add index file for DynamicCoin
  src/components/uielements/coins/dynamicCoin/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve comments
  src/components/modal/privateModal/privateModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add PoolStatus component
  src/components/uielements/poolStep/PoolStatus.stories.tsx
  src/components/uielements/poolStep/PoolStatus.style.tsx
  src/components/uielements/poolStep/PoolStatus.tsx
  src/components/uielements/poolStep/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use Trend component in PoolStatus
  src/components/uielements/poolStep/PoolStatus.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename components
  src/components/modal/privateModal/index.ts
  src/components/modal/privateModal/privateModal.stories.tsx
  src/components/modal/privateModal/privateModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Rename files for Password Confirmation Modal
  src/components/modal/privateModal/PrivateModal.stories.tsx
  src/components/modal/privateModal/PrivateModal.style.tsx
  src/components/modal/privateModal/PrivateModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add Password Confirmation Modal (#117)
  src/components/modal/privateModal/PrivateModal.stories.tsx
  src/components/modal/privateModal/PrivateModal.style.tsx
  src/components/modal/privateModal/PrivateModal.tsx
  src/components/modal/privateModal/index.ts
Due: cross-env NODE_ENV=development eslint --cache

Rename files for DynamicCoin
  src/components/uielements/coins/dynamicCoin/DynamicCoin.stories.tsx
  src/components/uielements/coins/dynamicCoin/DynamicCoin.style.tsx
  src/components/uielements/coins/dynamicCoin/DynamicCoin.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update index file DynamicCoin
  src/components/uielements/coins/dynamicCoin/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add DynamicCoin (#120)
  src/components/uielements/coins/dynamicCoin/DynamicCoin.stories.tsx
  src/components/uielements/coins/dynamicCoin/DynamicCoin.style.tsx
  src/components/uielements/coins/dynamicCoin/DynamicCoin.tsx
  src/components/uielements/coins/dynamicCoin/index.tsx
  src/components/uielements/coins/dynamicCoin/types.ts
Due: cross-env NODE_ENV=development eslint --cache
