Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update wallet.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix RUNE price format
  src/renderer/components/header/stats/HeaderStats.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to latest xchain-bitcoin@15.6
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Link to external txs history
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix RUNE price format (#1531)
  src/renderer/components/header/stats/HeaderStats.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix BTC balances (#1533)
  package.json
  src/renderer/components/wallet/assets/AssetDetails.style.tsx
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/services/wallet/balances.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Feature/update fr translation (#1530)
  src/renderer/i18n/fr/common.ts
  src/renderer/i18n/fr/deposit.ts
  src/renderer/i18n/fr/wallet.ts
Due: cross-env NODE_ENV=development eslint --cache

Quick fix: lint failed
  src/renderer/i18n/fr/deposit.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare release 0.3.2
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare release 0.3.2 (#1534)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade xchain-btc + bump 0.3.3
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Upgrade xchain-btc + bump 0.3.3 (#1537)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

added data mappings from midgard
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  src/renderer/components/wallet/txs/table/TxsTable.tsx
  src/renderer/services/clients/transaction/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

fixed linter warnings
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
  src/renderer/views/wallet/AssetDetails/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix LTC address validation
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

clean up
  src/renderer/views/wallet/AssetDetails/AssetDetailsInternalHistoryView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix LTC address validation (#1544)
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use latest `xchain-thorchain@0.16.1`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update formula for caps
  src/renderer/components/wallet/txs/send/out-of-gas.txt
  src/renderer/hooks/useFundsCap.ts
Due: cross-env NODE_ENV=development eslint --cache

Delete out-of-gas.txt
  src/renderer/components/wallet/txs/send/out-of-gas.txt
Due: none

Use latest `xchain-thorchain@0.16.1` (#1546)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update formula for caps (#1547)
  src/renderer/hooks/useFundsCap.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.3.4
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.3.4 (#1549)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Add GH template to release a next version
  .github/ISSUE_TEMPLATE/5-Release.md
Due: prettier --ignore-path .eslintignore --single-quote --write

typo
  .github/ISSUE_TEMPLATE/5-Release.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add GH template to release a next version (#1553)
  .github/ISSUE_TEMPLATE/5-Release.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Add QRModal, update styles of RemoveWalletModal,
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.styles.ts
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.style.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.style.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/uielements/modal/Modal.style.tsx
  src/renderer/components/uielements/modal/Modal.tsx
  src/renderer/components/uielements/qrCode/QRCode.stories.tsx
  src/renderer/components/uielements/qrCode/QRCode.styles.ts
  src/renderer/components/uielements/qrCode/QRCode.tsx
  src/renderer/components/uielements/qrCode/index.ts
  src/renderer/components/uielements/qrCode/qrCode.styles.ts
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.stories.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.style.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.tsx
  src/renderer/components/uielements/qrCodeModal/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

Simpify state handling to show / hide QRCodeModal
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add QRCodeModal to AssetsTableCollapsable
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show QRCodeModal in Settings
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update story
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Clean up
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.tsx
Due: cross-env NODE_ENV=development eslint --cache

Show QRCode on AssetsOverview + Settings (#1554)
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.styles.ts
  src/renderer/components/uielements/addressEllipsis/AddressEllipsis.style.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.style.tsx
  src/renderer/components/uielements/assets/assetInfo/AssetInfo.tsx
  src/renderer/components/uielements/modal/Modal.style.tsx
  src/renderer/components/uielements/modal/Modal.tsx
  src/renderer/components/uielements/qrCode/QRCode.stories.tsx
  src/renderer/components/uielements/qrCode/QRCode.styles.ts
  src/renderer/components/uielements/qrCode/QRCode.tsx
  src/renderer/components/uielements/qrCode/index.ts
  src/renderer/components/uielements/qrCode/qrCode.styles.ts
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.stories.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.style.tsx
  src/renderer/components/uielements/qrCodeModal/QRCodeModal.tsx
  src/renderer/components/uielements/qrCodeModal/index.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.style.tsx
  src/renderer/components/wallet/assets/AssetsTableCollapsable.tsx
  src/renderer/components/wallet/settings/Settings.style.tsx
  src/renderer/components/wallet/settings/Settings.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles of Import* components
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/phrase/Phrase.styles.tsx
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix styles for caps
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/pool/FundsCap.style.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Format `depositUnits`
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/views/deposit/share/ShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use thor address to link to `runeyield` dashboard
  src/main/api/url.ts
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/views/wallet/PoolShareView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Increase width/height of address (+ other) inputs
  src/renderer/components/Bonds/Bonds.styles.ts
  src/renderer/components/interact/forms/Forms.styles.tsx
  src/renderer/components/uielements/input/Input.style.tsx
  src/renderer/components/wallet/txs/TxForm.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Quick fix styles of bonds table
  src/renderer/components/Bonds/table/BondsTable.styles.ts
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
