Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove log statements
  src/renderer/views/wallet/WalletView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove tests for deprecated `getClientStateForViews`
  src/renderer/services/clients/utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix redirect handling after importing keystore
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/hooks/useKeystoreClientStates.ts
  src/renderer/hooks/useKeystoreRedirectAfterImport.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/views/app/AppView.style.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use `useKeystoreRedirectAfterImport`
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/hooks/useKeystoreClientStates.ts
  src/renderer/hooks/useKeystoreRedirectAfterImport.ts
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update state handling for importing keystores (#1614)
  src/renderer/components/shared/loading/Spin.styles.ts
  src/renderer/components/shared/loading/index.ts
  src/renderer/components/wallet/keystore/ImportKeystore.stories.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/contexts/BinanceContext.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
  src/renderer/contexts/BitcoinContext.tsx
  src/renderer/contexts/EthereumContext.tsx
  src/renderer/contexts/LitecoinContext.tsx
  src/renderer/contexts/ThorchainContext.tsx
  src/renderer/hooks/useKeystoreClientStates.ts
  src/renderer/hooks/useKeystoreRedirectAfterImport.ts
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/clients/utils.test.ts
  src/renderer/services/clients/utils.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/keystore.ts
  src/renderer/views/app/AppView.style.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Provide XRUNE icon
  src/renderer/assets/svg/asset-xrune.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Provide XRUNE icon (#1617)
  src/renderer/assets/svg/asset-xrune.svg
  src/renderer/components/icons/index.ts
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.tsx
  src/renderer/const.ts
  src/renderer/helpers/assetHelper.test.ts
  src/renderer/helpers/assetHelper.ts
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to `xchain-ethereum@^0.22.4`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Quick fix `feeOptionKey` -> `feeOption`
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/services/chain/transaction/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Settings: Fix usage of `getExplorerAddressUrl`
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Remove `getExplorerAddressByChain$`, `getExplorerAddressUrl$`, `GetExplorerAddressUrl$`
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/clients/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/transaction.ts
Due: cross-env NODE_ENV=development eslint --cache

AssetDetail: Fix opening explorer address url
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Resolve: TypeError: this.getExplorerUrl is not a function (#1621)
  src/renderer/components/wallet/assets/AssetDetails.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.stories.tsx
  src/renderer/contexts/ChainContext.tsx
  src/renderer/contexts/WalletContext.tsx
  src/renderer/services/binance/common.ts
  src/renderer/services/binance/index.ts
  src/renderer/services/bitcoin/common.ts
  src/renderer/services/bitcoin/index.ts
  src/renderer/services/bitcoincash/common.ts
  src/renderer/services/bitcoincash/index.ts
  src/renderer/services/chain/explorerUrl.ts
  src/renderer/services/chain/index.ts
  src/renderer/services/chain/transaction/common.ts
  src/renderer/services/clients/common.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/ethereum/common.ts
  src/renderer/services/ethereum/index.ts
  src/renderer/services/litecoin/common.ts
  src/renderer/services/litecoin/index.ts
  src/renderer/services/thorchain/common.ts
  src/renderer/services/thorchain/index.ts
  src/renderer/services/wallet/index.ts
  src/renderer/services/wallet/transaction.ts
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/SettingsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Use `useExplorerTxUrl` where possible
  src/renderer/components/shared/error/ErrorView.style.ts
  src/renderer/components/shared/success/SuccessView.style.tsx
  src/renderer/views/deposit/add/SymDepositView.tsx
  src/renderer/views/deposit/withdraw/WithdrawDepositView.tsx
  src/renderer/views/pool/PoolHistoryView.tsx
  src/renderer/views/swap/SwapView.tsx
  src/renderer/views/wallet/AssetDetailsView.tsx
  src/renderer/views/wallet/send/SendView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix address validation using latest `xchain-*`
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/Bonds.tsx
  src/renderer/components/interact/forms/Bond.tsx
  src/renderer/components/interact/forms/Forms.stories.tsx
  src/renderer/components/interact/forms/Leave.tsx
  src/renderer/components/interact/forms/Unbond.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/hooks/useValidateAddress.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/litecoin/types.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
  src/renderer/views/wallet/send/SendViewBCH.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache

Skip validation to return true
  src/renderer/hooks/useValidateAddress.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix address validation using latest `xchain-*` (#1625)
  src/renderer/components/Bonds/Bonds.stories.tsx
  src/renderer/components/Bonds/Bonds.tsx
  src/renderer/components/interact/forms/Bond.tsx
  src/renderer/components/interact/forms/Forms.stories.tsx
  src/renderer/components/interact/forms/Leave.tsx
  src/renderer/components/interact/forms/Unbond.tsx
  src/renderer/components/wallet/txs/send/SendFormBCH.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBNB.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.stories.tsx
  src/renderer/components/wallet/txs/send/SendFormBTC.tsx
  src/renderer/components/wallet/txs/send/SendFormLTC.tsx
  src/renderer/components/wallet/txs/send/SendFormTHOR.tsx
  src/renderer/hooks/useValidateAddress.ts
  src/renderer/services/binance/types.ts
  src/renderer/services/bitcoin/types.ts
  src/renderer/services/bitcoincash/types.ts
  src/renderer/services/clients/types.ts
  src/renderer/services/litecoin/types.ts
  src/renderer/services/thorchain/types.ts
  src/renderer/views/wallet/BondsView.tsx
  src/renderer/views/wallet/Interact/BondView.tsx
  src/renderer/views/wallet/Interact/LeaveView.tsx
  src/renderer/views/wallet/Interact/UnbondView.tsx
  src/renderer/views/wallet/send/SendViewBCH.tsx
  src/renderer/views/wallet/send/SendViewBNB.tsx
  src/renderer/views/wallet/send/SendViewBTC.tsx
  src/renderer/views/wallet/send/SendViewLTC.tsx
  src/renderer/views/wallet/send/SendViewTHOR.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing explorer endpoints
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.stories.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Add missing explorer endpoints (#1626)
  src/renderer/components/header/Header.tsx
  src/renderer/components/header/HeaderComponent.stories.tsx
  src/renderer/components/header/HeaderComponent.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.stories.tsx
  src/renderer/components/header/netstatus/HeaderNetStatus.tsx
  src/renderer/contexts/BitcoinCashContext.tsx
Due: cross-env NODE_ENV=development eslint --cache

Switch moment to dayjs
  package.json
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Switch moment to dayjs (#1627)
  package.json
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Quick upgrade: xchain-tc@0.17.4 + electron@13.1.6
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Quick upgrade: xchain-tc@0.17.4 + electron@13.1.6 (#1628)
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Add UI adjustments
  src/renderer/assets/svg/icon-slip-settings.svg
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
Due: cross-env NODE_ENV=development eslint --cache

Upgrade to @xchainjs/xchain-util@0.3.1
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve "[XRUNE] Fix currency symbol" #1631
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Get data for `ClientUrl` from `.env`
  .env.sample
  src/renderer/services/ethereum/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: "[THORChain] Get data for ClientUrl from .env" (#1633)
  .env.sample
  src/renderer/services/ethereum/common.ts
  src/renderer/services/thorchain/common.ts
Due: cross-env NODE_ENV=development eslint --cache

Prepare v0.3.9
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare v0.3.9 (#1634)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Store slippage tolerance in service
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/components/swap/Swap.stories.tsx
  src/renderer/components/swap/Swap.tsx
  src/renderer/contexts/AppContext.tsx
  src/renderer/services/app/service.ts
  src/renderer/services/app/types.ts
  src/renderer/services/const.ts
  src/renderer/views/swap/SwapView.tsx
  src/shared/api/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Enable i18n and refactor
  src/renderer/assets/svg/icon-slip-settings.svg
  src/renderer/components/currency/CurrencyInfo.styles.ts
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/i18n/de/swap.ts
  src/renderer/i18n/en/swap.ts
  src/renderer/i18n/fr/swap.ts
  src/renderer/i18n/ru/swap.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Persist slip tolerance percentage
  src/renderer/components/currency/CurrencyInfo.tsx
  src/renderer/views/swap/SwapView.tsx
Due: cross-env NODE_ENV=development eslint --cache

WIP: Try `webusb` - currently failing
  package.json
  src/main/api/hdwallet.ts
  src/main/api/ledger/address.ts
  src/main/api/ledger/common.ts
  src/main/api/ledger/index.ts
  src/main/api/ledger/thorchain.ts
  src/main/api/ledger/transaction.ts
  src/main/electron.ts
  src/main/ipc/messages.ts
  src/renderer/hooks/useAppUpdate.ts
  src/renderer/hooks/useLedger.ts
  src/renderer/views/wallet/SettingsView.tsx
  src/shared/api/types.ts
  src/shared/mock/api.ts
  src/shared/thorchain-ledger.d.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Disable `Manage` button for pending pools
  src/renderer/views/pools/PendingPools.tsx
Due: cross-env NODE_ENV=development eslint --cache

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: {*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
