Repository thorchain/asgardex-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["cross-env NODE_ENV=development eslint --cache"],
  "{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

Tweak bond table
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/i18n/de/bonds.ts
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/ru/bonds.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix misc. UI issues (#1556)
  src/main/api/url.ts
  src/renderer/components/AssetsFilter/AssetsFilter.styles.tsx
  src/renderer/components/Bonds/Bonds.styles.ts
  src/renderer/components/Bonds/table/BondsTable.styles.ts
  src/renderer/components/Bonds/table/BondsTable.tsx
  src/renderer/components/Bonds/table/helpers.tsx
  src/renderer/components/PoolShares/PoolShares.stories.tsx
  src/renderer/components/PoolShares/PoolShares.tsx
  src/renderer/components/interact/forms/Forms.styles.tsx
  src/renderer/components/pool/FundsCap.style.tsx
  src/renderer/components/uielements/input/Input.style.tsx
  src/renderer/components/uielements/poolShare/PoolShare.tsx
  src/renderer/components/wallet/keystore/ImportKeystore.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
  src/renderer/components/wallet/phrase/Phrase.styles.tsx
  src/renderer/components/wallet/txs/TxForm.style.tsx
  src/renderer/i18n/de/bonds.ts
  src/renderer/i18n/de/settings.ts
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/bonds.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/bonds.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/bonds.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
  src/renderer/views/deposit/share/ShareView.tsx
  src/renderer/views/pools/PoolsOverview.style.tsx
  src/renderer/views/wallet/PoolShareView.tsx
  src/renderer/views/wallet/importsView/ImportsView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix min. amount to swap
  src/renderer/helpers/poolHelper.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/views/pools/Pools.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Add / update tests
  src/renderer/components/swap/Swap.utils.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix min. amount to swap (#1558)
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/helpers/poolHelper.ts
  src/renderer/services/chain/fees/utils.ts
  src/renderer/views/pools/Pools.types.ts
Due: cross-env NODE_ENV=development eslint --cache

Hide SWAP button for pending pools
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Add test for `stringToGetPoolsStatus`
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/views/pools/Pools.util.test.ts
Due: cross-env NODE_ENV=development eslint --cache

Resolve: "[PoolDetail] Disable SWAP button for pending pools" (#1560)
  src/renderer/components/pool/PoolDetails.tsx
  src/renderer/components/pool/PoolTitle.tsx
  src/renderer/components/swap/Swap.utils.test.ts
  src/renderer/views/pools/Pools.util.test.ts
  src/renderer/views/pools/Pools.utils.ts
Due: cross-env NODE_ENV=development eslint --cache

Fix: Validation of phrase not triggered
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix: Validation of phrase not triggered (#1561)
  src/renderer/components/wallet/phrase/ImportPhrase.tsx
Due: cross-env NODE_ENV=development eslint --cache

Latest xchain-thorchain@0.17.0
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Disable hover effect
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix THORChain tx history (#1563)
  package.json
  src/renderer/components/wallet/txs/table/TxsTable.style.tsx
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Prepare `v0.3.5`
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Prepare `v0.3.5` (#1564)
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Remove deprecated `poolLegacyDetail$` service
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Remove deprecated `poolLegacyDetail$` service (#1569)
  src/renderer/services/midgard/pools.ts
  src/renderer/services/midgard/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Update deps - part 1
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/button/Button.stories.tsx
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/label/Label.stories.tsx
  src/renderer/components/uielements/label/Label.types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Update xchain-* packages
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update test-* / jest libs
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update node-abi, types/react*|styled-components
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update @storybook-* deps
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Use `react-docgen` temporary to fix sb<->ts issues
  .storybook/main.js
Due: cross-env NODE_ENV=development eslint --cache

Update prettier
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update antd, observable-hooks, react-intl
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Fix imports
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/button/Button.stories.tsx
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/label/Label.stories.tsx
Due: cross-env NODE_ENV=development eslint --cache

Update openapi-generator-cli, antd
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Update react|chartjs@3.x
  package.json
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write

Update README
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

Re-build `yarn.lock` from scratch + stick on
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Stick on `cosmos-client@0.39.2`
  package.json
  yarn.lock
Due: prettier --ignore-path .eslintignore --parser json --write

Resolve: Update npm dependencies (06-23-2021) (#1579)
  .github/workflows/build.yml
  .github/workflows/test.yml
  .nvmrc
  .storybook/main.js
  README.md
  package.json
  src/renderer/components/uielements/assets/assetIcon/AssetIcon.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPair.stories.tsx
  src/renderer/components/uielements/assets/assetPair/AssetPairOverlapped.stories.tsx
  src/renderer/components/uielements/button/Button.stories.tsx
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/components/uielements/chart/PoolDetailsChart.styles.ts
  src/renderer/components/uielements/input/Input.stories.tsx
  src/renderer/components/uielements/label/Label.stories.tsx
  src/renderer/components/uielements/label/Label.types.ts
  yarn.lock
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

Bump v0.3.6-alpha.1
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

[PoolChart]Fix time range for a week
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
Due: cross-env NODE_ENV=development eslint --cache

[PoolChart] Fix time range for a week (#1585)
  src/renderer/components/uielements/chart/PoolDetailsChart.helpers.ts
  src/renderer/views/pool/PoolChartView.helper.ts
  src/renderer/views/pool/PoolChartView.tsx
Due: cross-env NODE_ENV=development eslint --cache

Fix tab border in Wallet submenu
  src/renderer/components/wallet/assets/AssetsNav.style.tsx
Due: cross-env NODE_ENV=development eslint --cache

Change i18n: `Remove`->`Forget` + fix button style
  src/renderer/components/modal/confirmation/RemoveWalletConfirmationModal.tsx
  src/renderer/components/wallet/keystore/Keystore.styles.tsx
  src/renderer/components/wallet/phrase/Phrase.styles.tsx
  src/renderer/i18n/de/wallet.ts
  src/renderer/i18n/en/wallet.ts
  src/renderer/i18n/fr/wallet.ts
  src/renderer/i18n/ru/wallet.ts
  src/renderer/i18n/types.ts
Due: cross-env NODE_ENV=development eslint --cache

Header: Fix missing symbol in Currency selector
  src/renderer/components/header/HeaderMenu.style.tsx
Due: cross-env NODE_ENV=development eslint --cache
